/* CSS Document */
/* site Designed & Developed by fahoomediadigitalarts.com/fahoofnf@gmail.com */

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.eot');
	src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri.woff') format('woff'), url('../fonts/Calibri.ttf') format('truetype'), url('../fonts/Calibri.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri-Bold';
	src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri-Bold.woff') format('woff'), url('../fonts/Calibri-Bold.ttf') format('truetype'), url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Calibri';
	background: #fff;
}
img {
	max-width: 100%;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a {
	color: #3f3f3f;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #00aeef;
	transition: ease all 0.5s;
}
header {
	padding: 0px 0 5px 0;
	width: 100%;
	position: relative;
	z-index: 9999;
	/*background:  #e36e69;*/
}
.health:after,.wellness:after {
	content: '';
	width: 100%;
	background-image: url(../images/bg_shadow.png);
	background-repeat: repeat-x;
	height: 16px;
	position: absolute;
	z-index: 999999;
	bottom: -15px;
}
header .top {
	width: 100%;
	background: #fff;
	padding: 5px 0;
}
header .top ul {
	float: right;
	position:relative;
}
header .top ul li {
	list-style: none;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 11px 0 6px;
	float:left;
	margin: 0px;
	  position: relative;
	
}
/*header .top ul li i {
	color: #da726c;
	
	font-size: 14px;
	
	padding-right: 5%;
}*/
header .top ul li a {
	text-decoration: none;
	color: #000;
	    position: static;
	   z-index:999;
	   float:left;
	vertical-align: baseline;
}
header .top ul li a i {
	padding-right: 5%;
	width: 20px;
	  vertical-align: baseline;
	  padding-top: 4px;
	color: #da726c;
	float:left;  position: relative;
	font-size: 14px;
}
.modal.modal-wide .modal-dialog {
	width: 90%;
	position: relative;
	z-index: 99999999999 !important;
}
.modal-wide .modal-body {
	position: relative;
	z-index: 99999999999 !important;
}
/* irrelevant styling */


#tallModal .modal-body p {
	margin-bottom: 900px
}
header .top ul li:last-child {
	padding-right: 0px;
}
#logo {
	display: inline-block;
}
.menu-section {
	display: inline-block;
	float: right;
	margin: 30px 0 0 0;
}
.navbar-nav > li:last-child {
	border-radius: 3px;
	border: 1px solid #fff;
	padding: 0px;
	margin-right: 0px;
}
.navbar-collapse {
	padding-right: 0px;
}
.nav > li > a:nth-child(6n+4) {
	margin-right: 0px;
}
#slider {
	background:url('../images/slider_01.jpg');
	background-repeat:no-repeat;
	width: 100%;
	height: auto;
	  position: absolute;
  background-size: 100%;
  top: 5%;
  z-index: 99;
}
.slider-art {
	background-position: top;
	width: 443px;
	margin-top: -111px;
	right: 1%;
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	display:none;
}
.search-title {
	background: rgba(218,114,108,0.4);
	z-index: 99999999 !important;
	position: relative;
	margin: 0 auto;
	  margin-top: 17%;
	width: 46%;
	z-index: 9999999;
}
.content-top {
	position: relative;
}
.search-title h1 {
	color: #fff;
	text-transform: uppercase;
	padding: 0px 0px;
	margin: 0px;
	font-size: 34px;
	text-align: center;
}
#slider h2 {
	text-align: center;
	font-size: 28px;
	color: #fff;
	text-shadow: 0px 2px 0px #000;
	font-family: 'Calibri-Bold';
	z-index: 999999 !important;
	position: relative;
	padding: 2% 0 8px 0;
}
.search-box-outer {
	width: 65%;
	margin: 0 auto 50px auto;
	display: block;
	border-radius: 4px;
	position: relative;
	z-index: 99999;
	background: rgba(218,114,108,0.5);
	padding: 10px;
}
.search-box-outer .search-icon {
	border-radius: 4px;
	background: #fff;
	font-size: 14px;
	border: none;
	font-family: 'Calibri-Bold';
	padding: 10px 0 10px 30px;
	height: 33px;
	color: #686868;
	display: inline-block;
	width: 40%;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: 5% 50%;
	margin-right: 1%;
}
.search-box-outer .location-icon {
	border-radius: 4px;
	background: #fff;
	font-size: 14px;
	border: none;
	font-family: 'Calibri-Bold';
	padding: 10px 0 10px 30px;
	height: 33px;
	color: #686868;
	display: inline-block;
	width: 40%;
	background-image: url(../images/location.png);
	background-repeat: no-repeat;
	background-position: 5% 50%;
	margin-right: 1%;
}
.search-box-outer input[type=submit] {
	background: #da726c;
	display: inline-block;
	width: 16.50%;
	border: none;
	border-radius: 4px;
	color: #fff;
	border:1px solid #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 4px 0px 6px 0;
	color: #fff;
	font-family: 'Calibri-Bold';
	font-size: 17px;
}
.round-wrap {
	width: 1024px;
	margin: 0 auto;
	display: block;
	margin-top: 22px;
}
.circle-one {
	width: 127px;
	float:left;
	height: auto;
	margin: 0px 0 0 1px;
	padding: 0px;
	position: relative;
	z-index: 999999;
}
a.bg-circle {
	/*background: #787654; */
	
	width: 100%;
	height: auto;
	display: block;
	padding: 5px 0px 0px 0px;
}
.bg-circle2 {
	/*background: rgba(0,0,0,0.1) !important;*/
}
a.bg-circle > .bg-white {
	background: #fff;
	width: 96px;
  height: 96px;
	display: block;
	padding: 3px;
	margin: 10px auto 10px auto;
	border-radius: 50%;
}
a.bg-circle > .bg-white img {
	display:block;
	margin:0 auto;
	border:2px solid #da726c;
	border-radius: 50%;
}
a.bg-circle > .bg-white:hover {
	border:3px solid #ffb300;
}
a.bg-circle2 > .bg-white:hover {
	border:3px solid #0497b9;
}
/*a.bg-circle > .bg-white:hover{
	border:5px solid #ffb300;
	background: #ffb300 !important;
}
a.bg-circle > .bg-white img {
	border: 3px solid #ebdd51;
	border-radius: 50%;
}*/
a.bg-circle > .bg-blue {
	width: 100%;
	background: #da726c;
	padding: 5px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Calibri-Bold';
}
a.bg-circle > .bg-blue:hover {
	background:#ffb300;
}
a.bg-circle2 > .bg-blue:hover {
	background:#0497b9;
}
a.bg-circle:hover {
	/*border:4px solid #ffb300;*/
}
a.bg-circle > .bg-blue:hover  {
	/*background: #ffb300;*/
	color: #fff !important;
	
}


section {
	background: #f7f7fc;
	padding: 10px 0;
	position: relative;
}
.round-shape {
	background: url(../images/round-circle.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 15%;
	width: 681px;
	height: 279px;
}
.center-part {
	width: 75%;
	display: none;
	margin: 0 auto;
	position: relative;
}
.center-part ul {
	list-style: none;
}
.center-part ul li {
	display: block;
	width: 145px;
	height: 145px;
	border-radius: 50%;
	text-align: center;
	color: #43130b;
	font-family: 'Calibri-Bold';
	font-size: 20px;
	text-transform: uppercase;
}
.center-part ul li:first-child {
	margin: -65px auto 0 auto;
}
.center-part ul li:last-child {
	margin: -145px auto 0 auto;
	float: right;
}
.center-part ul li .circle-img {
	list-style: none;
	color: #43130b;
	text-align: center;
	background: #fff;
	width: 145px;
	height: 145px;
	border-radius: 50%;
	border: 2px solid #fbc212;
	display: block;
	padding: 20px;
	margin: 0 auto 20px auto;
	box-shadow: 0px 0px 3px 4px #cfcfd3;
}
.phone-hand {
	margin: 34% auto 0 34%;
	position: absolute;
}
section h1 {
	text-align: center;
	font-size: 54px;
	color: #55280f;
	text-transform: uppercase;
	position: relative;
	padding-top: 46%;
}
.bg_story {
	background: url(../images/bg_story.jpg);
	background-size: cover;
	width: 100%;
	position: relative;
	padding: 15px 0px;
	height: 100%;
}
.bg_story h1 {
	text-align: center;
	color: #fff;
	font-size: 60px;
	padding-top: 3%;
	padding-bottom: 3%;
	text-transform: uppercase;
}
.bg_story .border-circle {
	border: 2px solid #fff;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	margin-bottom: 12%;
}
.bg_story .border-circle img {
	margin: 30% auto;
	display: block;
}
.bottomg-bg {
	width: 100%;
	background: url(../images/bottom_bg.jpg);
	background-repeat: repeat-x;
	padding: 25px 0;
}
.bottomg-bg h1 {
	text-align: center;
	font-size: 24px;
	padding: 0 0 20px 0px;
	font-family: 'Calibri-Bold';
	color: #fff;
}
footer {
	background: url(../images/footer.jpg);
	width: 100%;
	background-repeat: repeat;
	padding: 25px 0px 0 0;
	margin: 25px 0 0 0;
}
footer h1 {
	font-size: 30px;
	color: #d0d0d0;
	padding: 3% 0 18% 0;
	text-align: left;
	margin: 0px;
}
footer p {
	font-size: 15px;
	color: #d0d0d0;
	padding: 0% 0 10% 0;
	text-align: left;
}
footer input[type="text"] {
	font-size: 17px;
	color: #b6b6b6;
	padding: 5px 24px;
	display: inline-block;
	border: none;
	background: rgba(55,52,45,0.6); /* Old browsers */
	background: -moz-linear-gradient(left, #37342d 1%, #3d3a34 51%, #4c4a43 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%, #37342d), color-stop(51%, #3d3a34), color-stop(100%, #4c4a43)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #37342d 1%, #3d3a34 51%, #4c4a43 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #37342d 1%, #3d3a34 51%, #4c4a43 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #37342d 1%, #3d3a34 51%, #4c4a43 100%); /* IE10+ */
	background: linear-gradient(to right, #37342d 1%, #3d3a34 51%, #4c4a43 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37342d', endColorstr='#4c4a43', GradientType=1 ); /* IE6-9 */
}
footer input[type="submit"] {
	display: inline-block;
	padding: 7px 24px;
	vertical-align: bottom;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	margin-left: -3px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	background: #a5a4a1; /* Old browsers */
	background: -moz-linear-gradient(top, #a5a4a1 1%, #827e7b 51%, #585653 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #a5a4a1), color-stop(51%, #827e7b), color-stop(100%, #585653)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a5a4a1 1%, #827e7b 51%, #585653 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a5a4a1 1%, #827e7b 51%, #585653 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a5a4a1 1%, #827e7b 51%, #585653 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a5a4a1 1%, #827e7b 51%, #585653 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a4a1', endColorstr='#585653', GradientType=0 ); /* IE6-9 */
}
ul.contact {
	list-style: none;
}
ul.contact li {
	list-style: none;
	font-size: 14px;
	color: #fff;
	display: block;
	padding-bottom: 5px;
}
ul.contact li a {
	color: #fff;
}
ul.contact li i {
	padding-right: 2%;
}
ul.social {
	list-style: none;
}
ul.social li {
	list-style: none;
	font-size: 18px;
	color: #fff;
	padding: 15px 11px;
	display: inline-block;
	padding-bottom: 5px;
}
ul.social li a {
	color: #fff;
}
ul.social li a:hover {
	color: #ffd200;
}
ul.social li i {
	padding-right: 2%;
}
.bottom {
	background: rgba(19,14,5,0.9);
	width: 100%;
	margin: 25px 0 0 0;
	padding: 5px 0 0 0;
	color: #bfbfbf;
	text-align: center;
	font-size: 13px;
}
.bottom ul {
	list-style: none;
	float: right;
	margin-top: 7%;
}
.bottom ul li {
	border-right: 1px solid #fff;
	font-size: 14px;
	padding: 0 10px 0 10px;
	margin: 0px;
	display: inline-block;
	text-transform: uppercase;
}
.bottom ul li a {
	color: #bfbfbf;
	text-decoration: none;
}
.bottom ul li a:hover {
	color: #fbc211;
}
.bottom ul li:last-child {
	border: none;
}
.tab-chart {
	width: auto;
	height: auto;
	clear: both;
	width: 75%;
	margin: 0 auto;
	display: block;
	z-index: 9999999;
	margin-top: 2%;
	position: relative;
}
.tab-content {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}
.nav-tabs {
	/* border-bottom: 1px solid #dddddd; */
	width: 36%;
	display: inline-block;
}
.nav > li {
	margin-bottom: 20px;
	border: none;
	cursor: pointer;
}
.nav > li > a .circle-shape {
	display: inline-block;
	width: 90px;
	height: 90px;
	background: #fff;
	vertical-align: -webkit-baseline-middle;
	margin-right: 10%;
	box-shadow: 0px 0px 4px 2px #cfcfd3;
	cursor: pointer;
	border-radius: 50%;
	margin-bottom: 17px;
	border: 2px solid #cacacf;
	vertical-align: middle;
	vertical-align: -moz-middle-with-baseline;
}
.nav > li > a .circle-shape .active {
	border: 2px solid #000;
}
.nav > li > a > .circle-shape img {
	padding: 10px 10px;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	width: 72px;
	height: 85px;
}
.nav > li > a > h1 {
	color: #42130b;
	display: inline-block;
	font-size: 14px;
	vertical-align: baseline;
	padding: 0px;
	margin: 0px;
}
.nav-tabs > li > a .active > a, .nav-tabs > li > a .active > a:hover, .nav-tabs > li > a .active > a:focus {
	color: #42130b;
	background-color: #ffffff;
	border: 2px solid #fbc212;
	border-radius: 50%;
	cursor: pointer;
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 0px;
}
.nav > li > a > img.active > a, .nav > li > a img:focus {
	opacity: 0.9;
}
.iphone {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-top: 3%;
}
.border-bottom {
	border: 1px solid #c8c8c8;
	width: 100%;
}
.modal.modal-wide .modal-dialog {
	width: 50%;
	position: relative;
	z-index: 99999999999 !important;
}
.modal-wide .modal-body {
	max-height: 100% !important;
	position: relative;
	z-index: 99999999999 !important;
}
.modal-wide h1 {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	padding: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #eaeaea;
}
.modal-wide input[type="text"] {
	border: 1px solid #cac5ca;
	padding: 7px 7px;
	display: inline-block;
	width: 48%;
	font-size: 14px;
	color: #000;
}
.modal-wide input[type="submit"] {
	border: none;
	padding: 7px 18px;
	display: inline-block;
	background: #ff8c68;
	text-transform: uppercase;
	margin: 20px 0 0 0;
	font-size: 14px;
	color: #fff;
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 99999999999;
}
/* irrelevant styling */


#tallModal .modal-body p {
	margin-bottom: 600px
}
@-moz-document url-prefix() {
header .top ul li a i {
 padding-right:4px;
}
}
.pop-up-inner {
	background: #006cff;
	padding: 10px;
	border-radius: 3px;
}
.pop-up-inner h1 {
	color: #fff;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 0 15px 0;
}
.pop-up-inner .form-class {
	width: 100%;
	padding: 10px;
}
.pop-up-inner .form-class label {
	color: #fff;
	text-align: left;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 5px;
	width: 22%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2%;
}
.pop-up-inner .form-class input[type="text"] {
	border-radius: 3px;
	background: #FFF;
	padding: 6px;
	width: 75%;
	display: inline-block;
	color: #00000;
	border: none;
	font-size: 14px;
	vertical-align: middle;
	margin-bottom: 5px;
}
.pop-up-inner .form-class textarea {
	border-radius: 3px;
	background: #FFF;
	padding: 6px;
	width: 75%;
	display: inline-block;
	color: #00000;
	border: none;
	min-height: 50px;
	font-size: 14px;
	vertical-align: top;
	margin-bottom: 5px;
}
.pop-up-inner .form-class input[type="submit"] {
	border: none;
	padding: 7px 18px;
	width: 24%;
	display: inline-block;
	background: #ed7854;
	text-transform: uppercase;
	margin: 0px 2% 0 0;
	font-size: 16px;
	color: #fff;
	box-shadow: 0px 5px 0px #e16741;
	border-radius: 3px;
}
.pop-up-inner .form-class input[type="reset"] {
	border: none;
	padding: 7px 18px;
	width: 24%;
	display: inline-block;
	background: #ed7854;
	text-transform: uppercase;
	margin: 0px 0 0 0;
	font-size: 16px;
	color: #fff;
	box-shadow: 0px 5px 0px #e16741;
	border-radius: 3px;
}
.inner-bg {
	background: #006cff;
	padding: 15px 0px;
	position: relative;
}
.inner-bg h1 {
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	text-shadow: 1px 1px 1px #000;
}
.inner-bg .search-in {
	border: 1px solid #fff;
	padding: 7px 49px;
	color: #fff;
	font-size: 16px;
	display: inline-block;
	background: url(../images/search-icon.png);
	background-repeat: no-repeat;
	background-position: 6% 42%;
	margin-left: 10%;
	/* background: none; */
	border-radius: 3px;
	vertical-align: super;
	color: #fff !important;
}
.inner-bg h3 {
	text-align: right;
	color: #fff;
	font-size: 16px;
	float: right;
	margin-top: 33px;
	display: inline-block;
}
.inner-bg h3 a {
	color: #fff;
}
.search-details {
	width: 100%;
	margin: 20px 0;
	height: auto;
	height:600px;
	overflow:auto;
	
}
.search-details h1 {
	display: block;
	font-size: 22px;
	color: #676767;
	font-weight: 600;
	border-bottom: 1px solid #d6d5d3;
	padding: 0 0 5px 0;
	margin: 0px 0 10px 0;
	text-transform: capitalize;
	text-align: left;
}
.search-details .form-full {
	border-bottom: 1px solid #d6d5d3;
	padding-bottom: 15px;
	margin-bottom: 15px;
	padding: 0px 10px;
}
#filter_search {
	float:left;
	  width: 90%;
}
.search-details .form-area {
	width: 48%;
	display: inline-block;
	margin-right: 3.10%;
	margin-bottom: 10px;
	padding: 10px 0 0 0;
}
.search-details .form-area:nth-child(2) {
	margin-right: 0%;
}
.search-details .form-area label {
	color: #909090;
	font-size: 16px;
	padding: 3px 0;
	font-weight: 400;
	margin-right: 0%;
	display: inline-block;
}
.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	width:60%;
	vertical-align: middle;
	float: right;
}
.btn {
	text-align: left;
}
.btn .caret {
	margin-left: 0;
	float: right;
	margin: 8px 0px;
}
.search-details .form-area input[type="text"] {
	border-radius: 3px;
	color: #000;
	width: 60%;
	padding: 6px 14px;
	float: right;
	border: 1px solid #d6d5d3;
}
.search-details input[type="submit"] {
	background: #006cff;
	color: #fff;
	text-align: center;
	background: #006cff;
	border-radius: 3px;
	padding: 6px 30px;
	display: inline-block;
	box-shadow: 0px 3px 0px #0161e3;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
}
.search-details label strong {
	color: #0161e3;
	font-size: 14px;
}
#amount {
	float: none;
	display: inline-block;
	border: 0;
	color: #f6931f;
	font-weight: bold;
	background: none;
	padding-left: 2%;
	padding-bottom: 10px;
}
#slider-range {
	margin-bottom: 10px;
}
.listing-section {
	/*background: #edf1f6;*/
	padding: 10px;
	height:100%;
	
}
.listing-section h1 {
	display: inline-block;
	font-size: 14px;
	color: #363636;
	padding-left: 5%;
	  padding-right: 5%;
	border: none;
}
.sort {
	width: 20%;
	display: inline-block;
	margin-left: 0%;
}
.sort select {
	border-radius: 3px;
	background: none;
	border: 1px solid #d6d5d3;
	padding: 4px 1px;
	width:100%;
}
.icons-bg {
	background: #fff;
	padding: 5px 5px 0px 5px;
	display: block;
	height: auto;
	margin: 15px 0 20px 0;
}
.icons-bg ul {
	border-bottom: 1px solid #c7c7c7;
	padding-bottom: 15px;
	margin-bottom: 8px;
	margin-bottom: 8px;
}
.icons-bg ul li {
	font-size: 14px;
	font-weight: 400;
	color: #aaa9a9;
	padding-right: 4%;
  padding-left: 3%;
	border-right: 1px solid #c7c7c7;
	display: inline-block;
}
.icons-bg ul li i, .icons-bg ul li img {
	color: #ff8c68;
	padding: 0px 5px;
	position: relative;
	font-size: 18px;
	vertical-align: bottom;
	display: inline-block;
}
.icons-bg ul li i, .icons-bg ul li:last-child {
	border: none;
}
.icons-bg ul li .gray {
	color: #bebebe;
}
.icons-bg ul:last-child {
	border: none;
}
.border-outer {
	width: 100%;
	border: 1px solid #b5b5b5;
	padding: 10px;
	margin-bottom: 10px;
}
.image-contents {
	width: 100%;
	position: absolute;
	top: 0px;
}
.image-contents .fav {
	float: right;
	position: relative;
	margin: 5px;
	color: #fff;
	font-size: 22px;
}
.right-corner {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 50px;
	border-color: transparent transparent #ff8c68 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #007bff #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	bottom: 0px;
	right: 0px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	position: absolute;
}
.right-corner h1 {
	position: relative;
	color: #fff;
	text-align: center;
	padding: 0px;
	margin: 30px 0 0 -30px;
}
.star-reviews {
	width: auto;
	margin-top: 40%;
	margin-left: 1%;
}
.star-reviews i {
	color: #006bff;
	font-size: 14px;
	padding-right: 1px;
}
.star-reviews i.white {
	color: #fff;
}
.star-reviews h3 {
	font-size: 13px;
	font-weight: 600;
	padding: 0px 0 0 0;
	color: #fff;
	margin: 0px;
}
.tool {
	width: 10px;
	height: 10px;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 6px;
	display: inline-block;
	border-radius: 50%;
}
.bg-opa {
	position: absolute;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top: 0px;
}
.bannerImage img {
	border-bottom: 2px solid #ff8c68;
	z-index: 99999999 !important;
}
.border-outer ul {
	list-style: none;
	margin: 10px 0 0 0;
}
.border-outer ul li {
	font-size: 15px;
	padding-right: 5%;
	display: inline-block;
	color: #ff8c68;
}
.gray {
	color: #bebebe !important;
}
.border-outer h5 {
	font-size: 22px;
	font-weight: 600;
	padding: 0px 0;
}
.border-outer h5 a {
	color: #525354;
}
.address-section {
	width: 100%;
}
.address-section ul {
	list-style: none;
	border-bottom: 1px solid #bebebe;
}
.address-section ul li .ico {
	width: 14%;
	color: #9ea0a2;
	font-size: 20px;
	display: inline-block;
}
.address-section ul li .address {
	width: 82%;
	display: inline-block;
	font-size: 15px;
	color: #525354;
	vertical-align: top;
	font-weight: 400;
	padding-top: 2px;
}
.address-section ul li {
	padding-bottom: 10px;
	display: block;
}
.address-section ul li .address span {
	color: #f83131;
}
.address-section ul li .address i {
	font-size: 12px;
	color: #006cff;
	padding-right: 2px;
}
.date {
	width: 100%;
}
.date ul {
	margin: 6px 0 0 0;
	border-bottom: none !important;
}
.date ul li {
	width: 14px;
	height: 14px;
	background: #ff8c68;
	color: #fff;
	text-align: center;
	font-size: 9px;
	display: inline-block !important;
	border-radius: 50%;
	vertical-align: top;
	padding-top: 0.50%;
	text-transform: uppercase;
	font-style: normal;
	padding-left: 3px;

}
.date ul li a {
	color: #fff;
}
a.booknow {
	background: #006cff;
	color: #fff;
	text-align: center;
	display: block;
	font-size: 20px;
	margin: 10px 0 0 0;
	padding: 7px 10px;
	text-transform: uppercase;
}
a.booknow:hover {
	background: #ff8c68;
}
#map-canvas {
	height: 600px;
	margin: 20px 0px;
	width: 100%;
	padding: 0px
}
.details-search {
	width: 100%;
	height: auto;
}
.details-search img {
	display: inline-block;
	border: 2px solid #eeecec;
}
.details-search h1 {
	font-size: 18px;
	font-weight: 600;
	color: #676767;
	padding: 0px 0 8px 0px;
	margin: 0px;
	text-transform: uppercase;
}
.details-search .address-section ul {
	border-bottom: none;
}
.details-bg {
	background: #e4e5e7;
	padding: 12px;
	height: auto;
	width: 100%;
	margin: 10px 0;
	display: inline-block;
}
.details-bg h1 {
	font-size: 18px;
	font-weight: 600;
	color: #676767;
	text-align: left;
	font-style: normal;
}
.details-bg p {
	font-size: 14px;
	font-weight: 400;
	color: #676767;
	font-style: normal;
	text-align: justify;
}
#wrapper {
	position: relative
}
#carousel-wrapper {
	padding-bottom: 1px;
	position: relative
}
#carousel, #thumbs {
	overflow: hidden
}
#carousel img, #carousel span, #thumbs a, #thumbs img {
	display: block;
	float: left
}
#carousel a, #carousel span, #thumbs a, #thumbs span {
	position: relative
}
#carousel img, #thumbs img {
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0
}
#carousel img.glare, #thumbs img.glare {
	width: 102%;
	height: auto;
	display: none
}
#carousel span {
	width: 554px;
	height: 313px
}
#thumbs a {
	width: 150px;
	height: 100px;
	margin: 0 1px;
	overflow: hidden
}
#next, #prev {
	background: url(../images/carousel_nav.png) no-repeat;
	display: block;
	width: 35px;
	height: 35px;
	margin-top: -10px;
	position: absolute;
	top: 37%
}
#prev {
	background-position: 0 0;
	left: 5px
}
#next {
	background-position: -35px 0;
	right: 4px
}
#prev:hover {
	background-position: 0 -35px
}
#next:hover {
	background-position: -35px -35px
}
#next.hidden, #prev {
	display: block!important;
	visibility: visible!important
}
.amenities {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	width: 100%;
	display: block;
	margin: 15px 0;
	padding: 15px 0;
}
.amenities h3 {
	display: inline-block;
	font-size: 14px;
	color: #676767;
	margin: 0px;
	font-style: normal;
	padding-right: 5%;
	font-weight: 600;
}
.amenities ul {
	list-style: none;
	display: inline-block;
	margin: 10px 0 0 0;
	width: 80%;
}
.amenities ul li {
	font-size: 16px;
	padding-right: 2%;
	display: inline-block;
	color: #ff8c68;
}
.amenities ul li img {
	border: none;
}
.tabs-section {
	width: 100%;
	margin-bottom: 20px;
}
.tabs-section .nav-tabs {
	width: 100%;
	background: #0000ff;
}
.tabs-section .nav > li {
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-style: normal;
	margin: 0px 0px;
	text-transform: uppercase;
}
.tabs-section .nav-tabs > li > a {
	padding: 10px;
	color: #fff;
	border: none;
	border-radius: 0px;
}
.tabs-section .nav-tabs > li.active > a, .tabs-section .nav-tabs > li.active > a:hover, .tabs-section .nav-tabs > li.active > a:focus {
	color: #fff;
	cursor: default;
	background: #ff8c68;
}
.tabs-section .tab-content {
	background: #fff;
	padding: 10px;
	width: 100%;
	  margin-bottom: 15px;
}
.tabs-section .tab-content p {
	color: #909091;
	font-size: 14px;
	text-align: justify;
}
.tabs-section .tab-content h4 {
	display: block;
	color: #585859;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
.tabs-section .tab-content .service {
	width: 100%;
}
.tabs-section .tab-content .service ul {
	list-style: none;
	margin-left: 1%;
}
.tabs-section .tab-content .service ul li {
	display: list-item;
	list-style-image: url(../images/dots.png);
	font-size: 16px;
	font-weight: 600;
	padding: 10px 10px;
	color: #929294;
	margin: 0 10px;
	width: 29%;
	float: left;
}
.tabs-section .tab-content .service ul li:nth-child(3), .tabs-section .tab-content .service ul li:nth-child(6) {
	margin-right: 0px;
}
.tabs-section .tab-content .service ul li a {
	color: #929294;
}
.map-canvas-1 {
	height: 350px;
}
.review-details {
	width: 32%;
	display: inline-block;
	vertical-align: top;
	padding-right: 3%;
	font-family: 'Open Sans', sans-serif;
}
.review-details:last-child {
	border-right: none;
}
.review-details > .name-review {
	font-size: 16px;
	color: #292929;
	font-weight: 600;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.review-details > .name-review-place {
	font-size: 14px;
	color: #292929;
	font-weight: 400;
	padding-left: 5px;
	padding-bottom: 5px;
}
.review-details > .name-review-excelent {
	text-align: right;
	color: #0d8707;
	padding-top: 10px;
	font-weight: 600;
	padding-bottom: 5px;
}
.review-details > .name-review-excelent-rating {
	text-align: right;
	color: #ec0a0a;
	font-weight: 400;
	font-size: 13px;
	padding-bottom: 5px;
}
.review-details > .name-review-excelent-reviewer {
	text-align: right;
	color: #ec0a0a;
	font-weight: 400;
	font-size: 9px;
	padding-bottom: 5px;
}
.details-contents {
	font-size: 13px;
	color: #292929;
	text-align: center;
	line-height: 24px;
	padding: 10px 0 0 0;
	width: 100%;
	border-bottom: 1px solid #bdbebf;
	padding-bottom: 5px;
}
.details-contents-review {
	display: block;
}
.details-contents-review-circle-section {
	width: auto;
	margin: 0 auto;
	margin-left: 20%;
	display: inline-block;
}
.details-contents-review-circle {
	border-radius: 50%;
	width: 9px;
	height: 9px;
	background: #0d8707;
	display: inline-block;
	margin-right: 3px;
	margin-top: 10px;
}
.newsticker-jcarousellite ul li img {
	width: 85px;
	height: 85px;
	vertical-align: sub;
	border: 5px solid #fff;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 1px 1px 3px #000;
}
.result-area > .title-header-results {
	background: #ff8c68;
	color: #fff;
	text-align: center;
	font-size: 20px;
	display: block;
	padding-bottom: 3px;
	padding-top: 3px;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 0px;
}
.info {
	background: #e4e5e7;
	padding: 10px;
	margin-bottom: 20px;
}
.details-contents-time {
	font-size: 13px;
	color: #888585;
	text-align: center;
	display: inline-block;
	padding: 5px 0 0 0;
	padding-bottom: 5px;
}
.left-most {
	width: 100%;
	margin: 10px 0;
	border-bottom: 1px solid #cbcbcb;
}
.left-most img {
	width: 28%;
	margin-right: 2%;
	display: inline-block;
}
.left-most .right-co {
	width: 67%;
	display: inline-block;
	vertical-align: top;
}
.left-most .right-co h1 {
	color: #989898;
	font-size: 14px;
	padding: 0px 0 7px 0;
	margin: 0px;
	text-align: left;
}
.left-most .right-co h1 a {
	color: #989898;
}
.left-most .right-co p {
	color: #989898;
	font-size: 13px;
	padding: 0px 0 7px 0;
	margin: 0px;
	text-align: justify;
}
@-moz-document url-prefix() {
.btn .caret {
 float: none;
 margin: 0px 0;
}
}
.wrap{
	width:100%;
	margin:0 auto;
	padding:0 10px;
	position:relative;
}
.wrap-contents {
	width:100%;
	display:inline-block;
}
::-webkit-input-placeholder {
   color: #222;
}

:-moz-placeholder { /* Firefox 18- */
   color: #222;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #222; 
}

:-ms-input-placeholder {  
   color: #222;
}

input[type=checkbox] {
	visibility: visible;
}

.details-search-col{
	width:100%;
	margin:10px 0;
	padding:10px 0;
	display:inline-block;
	border-top:1px solid #E7E7E7;
	border-bottom:1px solid #E7E7E7;
}

/* SQUARED ONE */
.squaredOne {
	width: 20px;
	height: 20px;
	background: #fcfff4;
display:inline-block;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 0px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #ff8c68 0%, #ff8c68 100%);
	background: -moz-linear-gradient(top, #ff8c68 0%, #ff8c68 100%);
	background: -o-linear-gradient(top, #ff8c68 0%, #ff8c68 100%);
	background: -ms-linear-gradient(top, #ff8c68 0%, #ff8c68 100%);
	background: linear-gradient(top, #ff8c68 0%, #ff8c68 100%);

	top: 1px;
	left: 1px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.details-search-col label {
	font-weight:400;
	font-size:16px;
}


/*new upadtes*/


.panel-default > .panel-heading{
	background:#848383;
	color:#fff;
	font-size:18px;
}
.panel-default > .panel-heading a{
	color:#fff;
}
.panel-title h4 {
	display:inline-block;
}
.panel-default > .panel-heading h5 {
	display:inline-block;
	text-align:right;
	font-size:14px;

}
.panel-body h3 {
	padding:0px;
	display:inline-block;
	margin-top:0px;color:#ff8c68;
}
.panel-body h3 span{
	font-size:18px;
	color:#222;
}
.panel-body .form-class{
	padding:5px;
	margin-right:1%;
	display:inline-block;
}
.panel-body select{
	width:100%;
	display:block;
	padding:3px;
}
.col-med{
	width:30%;
	display:inline-block;
	margin-right:2%;
}
.table-check {
/*	width:95%;*/
	display:block;
	margin:15px 0 0 0;
}
.table-check ul{
	list-style:none;
}
.table-check ul li{
	font-size:16px;
	color:#222;
	padding:5px 10px;
	font-weight:400;
	border: 1px solid #dce0e0;
	border-top:none;
}
.table-check ul li span{

width:70%;
display:inline-block;
padding-right:6px;

font-size:14px;
border-right: 1px solid #dce0e0;
}
.table-check ul li strong{
	padding-left: 6px;
  font-weight: 400;
  text-align: center;
  width: 28%;
  display: inline-block;
}
.btn-success{
	width:100%;
	border-radius:0px;
	margin:8px 0;
	background:#ff8c68;
	text-align:center;
	font-size:18px;
	border:none;
}
.login-s {
	width:100%;
	display:inline-block;
	padding:10px;
	margin-bottom:10px;
	border: 1px solid #dce0e0;
}
.btn-fb {
	width:100%;
	display:block;
	border-color: #3B5998;
  border-bottom-color: #263a63;
  background-color: #3B5998;
  color: #fff;
  font-weight:400;
  text-align:center;
  font-size:20px;
  padding:5px;
  border-radius:4px;
  
}
.btn-g {
	width:100%;
	display:block;
	  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
  font-weight:400;
  text-align:center;
  font-size:20px;
  padding:5px;
  border-radius:4px;
  
}
.btn-e {
	width:100%;
	display:block;
	
  background-color: #0ED161;
  color: #fff;
  font-weight:400;
  text-align:center;
  font-size:20px;
  padding:5px;
  border-radius:4px;
  
}
.login-s h5 {
	text-align:center;
	font-size:18px;
	color:#222;
	text-align:center;
	padding-left:5px;
	margin:15px 0 0 0;
	padding-right:5px;
	
}
.login-s h5:before {
	width:30%;
	background: #dce0e0;
	height:1px;
	vertical-align:middle;
	padding-right:5px;
	display:inline-block;
	content:'';
	margin-right: 10px;
}
.login-s h5:after {
	width:30%;
	background: #dce0e0;
	height:1px;
	vertical-align:middle;
	padding-right:5px;
	display:inline-block;
	content:'';
	margin-left: 10px;
}
.btn-fb i {
	padding-right:10px;
}
.login-s h3 {
	text-align:center;
	font-weight:400;
	color:#222;
	font-size:16px;
}
.login-s .form-class{
	border-radius: 3px;
  width: 44%;
  display: inline-block;
  border: 1px solid #E5E2E2;
  font-size: 14px;
  color: #222;
  padding: 6px;
  margin: 15px 2% 15px 3%;
}
.login-s label {
	vertical-align:middle;
	font-weight:300;
}
.health {
	background:#0597ba;
	width:100%;
	padding:0px 0px;
	position:relative;
}
.wellness {
	background:#ffbf00;
	width:100%;
	padding:0 0 15px 0px;
	position:relative;
}


