body.arb-bg {
	background: url("../images/log-bg.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
}
.arb-login-box {
	margin: 0% auto 0px auto;
	width: 538px;
}
img.logsize {
	margin: 0;
}
.arb-login-box .inner-arb {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	display: block;
	float: left;
	width: 100%;
	margin-top:20%;
}
hr.arb-line {
	margin: 14px 0 0;
}
.arb-login-box .inner-arb #left-s {
	background: none repeat scroll 0 0 #fff
}
.arb-login-box .inner-arb #left-s .trs-image {
	padding: 6px 0;
	display: block;
	text-align: center;
}
.arb-login-box .inner-arb #left-s .arb-logo-in {
}
.arb-login-box .inner-arb #right-s {
}
.arb-login-box .inner-arb #right-s .head-log {
	background: none repeat scroll 0 0 #006cff;
	color: #ffffff;
	font-size: 17px;
	padding: 9px 0;
	text-align: center;
}
.arb-login-box .inner-arb #right-s .head-log span {
	color: #78cb6e;
	font-weight: bold;
}
.log_form {
	margin: auto;
	width: 401px;
}
.log_form form {
	margin: 26px 0 0;
}
.log_form label {
}
.icn-user {
	background: url("../images/user-icn.png") no-repeat scroll 9px 10px / 17px auto rgba(0, 0, 0, 0.6);
}
.icn-pass {
	background: url("../images/pass-icn.png") no-repeat scroll 7px 9px / 20px auto rgba(0, 0, 0, 0.6);
}
input[type=checkbox].arb-check {
	background: #fff;
}
.log_form label {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	font-weight: normal;
	margin: 4px 0 13px;
	padding: 0;
}
.input-arb-log {
	border: 1px solid #006cff;
	color: #fff;
	margin: 0 0 8px;
	padding: 11px 37px;
	width: 100%;
}
.input-arb-log:focus {
	border: 1px solid #fff;
}
 
.log_form input[type="submit"] {
	background: none repeat scroll 0 0 #006cff;
	border-width: 3px 0 4px;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #006cff;
	border-bottom: 2px solid #006cff;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 14px;
	margin: 0;
	padding: 6px 54px;
	text-decoration: none;
}
.forget_password {
	color: #fff;
	float: left;
	padding: 15px 0 14px;
	text-align: left;
}
.forget_password a:link, .forget_password a:visited {
	color: #fff;
	text-decoration: underline;
}
.forget_password a:hover {
	color: #39abe8;
}
.forget_password span {
	background: url("../images/qmark.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin: 0 0 0 8px;
	padding: 0 0 0 26px;
}
 @media (max-width: 767px) {
.arb-login-box {
	width: 90%;
}
}
.box-bounce,.box-flip,.box-left{
	overflow: hidden;
	z-index: 20;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.box-bounce,.box-flip,.box-left {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
	animation-delay: 0s;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 0s;
	-ms-animation-duration: 1s;
	-ms-animation-delay: 0s;
	-o-animation-duration: 1s;
	-o-animation-delay: 0s;
}
.box-bounce.animation,.box-flip.animation,.box-left.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}