@charset "utf-8";
/* CSS Document */

.bg-light-blue i,.side-use i {
	color:#fff;
}
.right-side .content-header-top h2 {
  color: #363f45;
  font-size: 14px;
  margin: 0;
  text-align:right;
  display: inline-block;
  padding-right:2%;
}
.right-side .content-header-top .text-f {
	display:inline-block;
	border:1px solid #E5E5E5;
	font-size:14px;
	padding:7px 8px;
	color:#000;
}
.flo-r {
	float:right;
	margin-top:-4px;
}
.arb-icon a {
  text-decoration: none;
  color:#fff;
}

.arg-both {
	padding-bottom:25px;
}
.form-group h4 {
	padding:10px 0;
	font-size:18px;
	text-align:center;
	color:#2567AC;
	width:100%;
	display:inline-block;
	margin-bottom:10px;
	border-bottom:1px solid #D9D4D4;
	text-transform:uppercase;
}
.form-group h5{
	padding:10px 0;
	font-size:14px;
	font-weight:400;
	text-align:center;
	text-transform:uppercase;
}
.smal {
	width:40%;
	display:inline-block;
	height:35px !important;
	font-size:10.10px !important;
}
.date-p {
	width:14%;
	display:inline-block;
}
.to {
	width:20px;
	height:20px;
	border-radius:50%;
	background:#006cff;
	color:#fff;
	display:inline-block;
	vertical-align:baseline;
	font-size:10px;
	font-weight:600;
	padding-top:2%;
	text-transform:uppercase;
	text-align:center;
}
.img-circle-border {
	border-radius:3px;
	border:1px solid #E4DFDF;
	padding:5px 5px 5px 5px;
	min-height:110px;
	width:120px;
	display:inline-block;
	color:#D4D0D0;
	font-size:28px;
	
	text-align:center;
}
.profile-view {
	display:inline-block;
	width:60%;
	margin-left:2%;
	vertical-align:top;
}
.profile-view h1{
	font-size:18px;
	font-weight:600;
	text-align:left;
	padding:0 0 10px 0;
	color:#222;
	text-transform:uppercase;
	 margin:0px;
}
.profile-view h2{
	font-size:16px;
	font-weight:400;
	text-align:left;
	padding:0 0 10px 0;
	color:#c4c3c3;
	
	 margin:0px;
}
.profile-view p{
	text-align:justify;
	font-size:13px;
	font-weight:400;
	margin:0px;
	padding:0 0 20px 0px;
	
	

}
a.btn-ad {
  display: block !important;
	border-radius:3px;
	margin:10px 0 10px 0;
	background:#006cff;
	color:#fff;
	text-align:center;
	font-size:14px;
	width:10%;
	text-transform:capitalize;
	padding:5px !important;
}

/* added by Santhosh */

.date-p-spa {
	width:13%;
	display:inline-block;
}

.ads-us-no {
	margin-left: 16px;
}
