.cl2-green {
	background: #5cb85c;
	color: #fff;
}
.cl2-green a, .cl2-green a:hover {
	color: #fff;
}
.cl7-light-blue {
	background: none repeat scroll 0 0 #87b87f;
	border-radius: 0;
	color: #fff;
}
.cl8-dred {
	background: none repeat scroll 0 0 #d15b47;
	color: #fff;
}
.arb-head-btns {
}
.arb-head-btns ul {
}
.arb-head-btns ul li {
	background: none repeat scroll 0 0 #4ea5df;
	border: 1px solid #4ea5df;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 13px;
	margin: 0 3px 0 0;
	padding: 9px 0;
}
.arb-head-btns ul li a {
	color: #FFFFFF;
	padding: 0 22px;
}
.arb-head-btns ul li a:hover {
	background: #fff;
	padding: 9px 22px;
	color: #4ea5df;
	box-shadow: 0 2px 3px #378ac2;
	-webkit-box-shadow: 0 2px 3px #378ac2;
}
.arb-head-btns ul li a:active {
	background: #fff;
	padding: 9px 22px;
	color: #4ea5df;
	box-shadow: 0 2px 3px #378ac2;
}
.icheckbox_flat-green, .iradio_flat-green {
	display: inline-block;
 *display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: url(../images/blue.png) no-repeat;
	border: none;
	cursor: pointer;
}
.icheckbox_flat-green {
	background-position: 0 0;
}
.icheckbox_flat-green.checked {
	background-position: -22px 0;
}
.icheckbox_flat-green.disabled {
	background-position: -44px 0;
	cursor: default;
}
.icheckbox_flat-green.checked.disabled {
	background-position: -66px 0;
}
.iradio_flat-green {
	background-position: -88px 0;
}
.iradio_flat-green.checked {
	background-position: -110px 0;
}
.iradio_flat-green.disabled {
	background-position: -132px 0;
	cursor: default;
}
.iradio_flat-green.checked.disabled {
	background-position: -154px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
 .icheckbox_flat-green, .iradio_flat-green {
 background-image: url(green@2x.png);
 -webkit-background-size: 176px 22px;
 background-size: 176px 22px;
}
}
.icheckbox_flat-blue, .iradio_flat-blue {
	display: inline-block;
 *display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: url(../images/blue.png) no-repeat;
	border: none;
	cursor: pointer;
}
.icheckbox_flat-blue {
	background-position: 0 0;
	margin-right:4%;
	margin-bottom:10px;
}
.icheckbox_flat-blue.checked {
	background-position: -22px 0;
}
.icheckbox_flat-blue.disabled {
	background-position: -44px 0;
	cursor: default;
}
.icheckbox_flat-blue.checked.disabled {
	background-position: -66px 0;
}
.iradio_flat-blue {
	background-position: -88px 0;
}
.iradio_flat-blue.checked {
	background-position: -110px 0;
}
.iradio_flat-blue.disabled {
	background-position: -132px 0;
	cursor: default;
}
.iradio_flat-blue.checked.disabled {
	background-position: -154px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
 .icheckbox_flat-blue, .iradio_flat-blue {
 background-image: url(blue@2x.png);
 -webkit-background-size: 176px 22px;
 background-size: 176px 22px;
}
}
.arb-icon {
	border: medium none;
	padding: 6px 8px;
	font-size: 13px;
}
.arb-icon i {
	padding: 0 6px 0 0;
}
.arb-icon a {
	text-decoration: none;
}
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;/*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}
.datepicker:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px;
}
.datepicker:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 7px;
}
.datepicker > div {
	display: none;
}
.datepicker table {
	width: 100%;
	margin: 0;
}
.datepicker td, .datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}
.datepicker td.day.disabled {
	color: #eeeeee;
}
.datepicker td.old, .datepicker td.new {
	color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
	color: #ffffff;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
	color: #ffffff;
	background-color: #0044cc;
 *background-color: #003bb3;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
	background-color: #003399 \9;
}
.datepicker td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td span:hover {
	background: #eeeeee;
}
.datepicker td span.active {
	color: #ffffff;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
	color: #ffffff;
	background-color: #0044cc;
 *background-color: #003bb3;
}
.datepicker td span.active:active, .datepicker td span.active.active {
	background-color: #003399 \9;
}
.datepicker td span.old {
	color: #999999;
}
.datepicker th.switch {
	width: 145px;
}
.datepicker th.next, .datepicker th.prev {
	font-size: 21px;
}
.datepicker thead tr:first-child th {
	cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
	background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.btn.btn-primary2 {
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.btn.btn-primary2 input[type="file"] {
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
	height: 36px;
	left: 0;
	opacity: 0;
	top: 0;
	z-index: 2;
}
.arb-upload-side {
	border: 1px solid #ccc;
}
.choose_type_btn {
	background: none repeat scroll 0 0 #66757c;
	color: #ffffff;
	font-size: 12px;
	margin: 0;
	padding: 10px 21px;
	position: absolute;
}
.choose_type_icon {
	background: none repeat scroll 0 0 #546770;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	margin: 0;
	padding: 5px 9px;
	position: absolute;
}
.choose_type_icon img {
	height: 33px;
	width: 36px;
}
.arb-upload {
	position: relative;
	margin: 0px 0 2px 0px;
	display: inline-block;
}
.choose_type_disablebox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 33px;
	width: 309px;
}
.label.label-info {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	left: 110px;
	padding: 14px 0;
	position: absolute;
}
.add-on {
	background: none repeat scroll 0 0 #82CB78;
	color: #FFFFFF;
	float: right;
	padding: 6px 6px;
	text-align: center;
}
.input-append.date {
	width: 163px;
}
.input-append.date input[type=text]:disabled {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #82CB78;
	color: #000000;
	padding: 4px 6px;
}
/* @group Base */
.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	width: 280px !important;
	zoom: 1;
 *display: inline;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #aaa;
	border-top: 0;
	background: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
}
.chosen-container a {
	cursor: pointer;
}
/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 23px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
	background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-clip: padding-box;
	box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
}
.chosen-container-single .chosen-default {
	color: #999;
}
.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 6px;
	right: 26px;
	display: block;
	width: 12px;
	height: 12px;
	background: url('chosen-sprite.png') -42px 1px no-repeat;
	font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
	background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
	background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 18px;
	height: 100%;
}
.chosen-container-single .chosen-single div b {
	display: block;
	width: 100%;
	height: 100%;
	background: url('chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border: 1px solid #aaa;
	background: white url('chosen-sprite.png') no-repeat 100% -20px;
	background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
	font-size: 1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.chosen-container-single .chosen-drop {
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px;
}
/* @end */
/* @group Results */
.chosen-container .chosen-results {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
	display: none;
	margin: 0;
	padding: 5px 6px;
	list-style: none;
	line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}
.chosen-container .chosen-results li.highlighted {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}
.chosen-container .chosen-results li.no-results {
	display: list-item;
	background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}
.chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}
.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}
/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto !important;
	height: 1%;
	border: 1px solid #aaa;
	background-color: #fff;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
	cursor: text;
}
.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 1px 0;
	padding: 5px;
	height: 15px;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	box-shadow: none;
	color: #666;
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
	color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 0 3px 5px;
	padding: 3px 20px 3px 5px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-clip: padding-box;
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	line-height: 13px;
	cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	background: url('chosen-sprite.png') -42px 1px no-repeat;
	font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
	background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
	background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
	margin: 0;
	padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
}
/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #aaa;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
	box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
	color: #111 !important;
}
/* @end */
/* @group Disabled Support */
.chosen-disabled {
	opacity: 0.5 !important;
	cursor: default;
}
.chosen-disabled .chosen-single {
	cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default;
}
/* @end */
/* @group Right to Left */
.chosen-rtl {
	text-align: right;
}
.chosen-rtl .chosen-single {
	overflow: visible;
	padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
	margin-right: 0;
	margin-left: 26px;
	direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
	margin-left: 38px;
}
.chosen-rtl .chosen-single div {
	right: auto;
	left: 3px;
}
.chosen-rtl .chosen-single abbr {
	right: auto;
	left: 26px;
}
.chosen-rtl .chosen-choices li {
	float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
	direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
	right: auto;
	left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop {
	left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
	padding-right: 15px;
	padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
	border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
	padding: 4px 5px 4px 20px;
	background: white url('chosen-sprite.png') no-repeat -30px -20px;
	background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
	direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
	background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
	background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
.chosen-rtl .chosen-search input[type="text"],  .chosen-container-single .chosen-single abbr,  .chosen-container-single .chosen-single div b,  .chosen-container-single .chosen-search input[type="text"],  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,  .chosen-container .chosen-results-scroll-down span,  .chosen-container .chosen-results-scroll-up span {
	background-image: url('chosen-sprite@2x.png') !important;
	background-size: 52px 37px !important;
	background-repeat: no-repeat !important;
}
}
/* @end */
	
	
.chosen-select {
	display: inline !important;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	z-index: -1;
}
.chosen-container, [class*="chosen-container"] {
 vertical-align: middle;
}
.chosen-container > .chosen-single, [class*="chosen-container"] > .chosen-single {
 background: none repeat scroll 0 0 #FAFAFA;
 box-shadow: none;
 height: 30px;
 line-height: 28px;
}
.chosen-choices {
	box-shadow: none !important;
}
.chosen-container-single .chosen-single abbr {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.chosen-container-single .chosen-single abbr:after {
	color: #888888;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 13px;
	position: absolute;
	right: 0;
	top: -7px;
}
.chosen-container-single .chosen-single abbr:hover:after {
	color: #464646;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover:after {
	color: #464646;
}
.chosen-single div b {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.chosen-single div b:before {
	color: #888888;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 12px;
	left: 1px;
	position: relative;
	top: -1px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b:before {
	content: "";
}
.chosen-container-single .chosen-search {
	position: relative;
}
.chosen-container-single .chosen-search input[type="text"] {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
	border-radius: 0;
	height: 28px;
	line-height: 28px;
}
.chosen-container-single .chosen-search:after {
	color: #888888;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	position: absolute;
	right: 12px;
	top: 8px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height: 25px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
	color: #888888;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 13px;
	position: absolute;
	right: 2px;
	top: -1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
	text-decoration: none;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover:before {
	color: #464646;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close:before {
	color: #464646;
}
.chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.chosen-container .chosen-results-scroll-down span:before, .chosen-container .chosen-results-scroll-up span:before {
	color: #888888;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 12px;
	left: 1px;
	position: relative;
	top: -1px;
}
.chosen-container .chosen-results-scroll-up span:before {
	content: "";
}
.chosen-container-active .chosen-single-with-drop div b:before {
	content: "";
}
.chosen-rtl .chosen-search input[type="text"] {
	background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.chosen-rtl .chosen-search:after {
	content: "";
	display: none;
}
.chosen-rtl .chosen-search:before {
	color: #888888;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	left: 12px;
	position: absolute;
	top: 9px;
}
.chosen-container-single .chosen-single {
	border-radius: 0;
}
.chosen-container .chosen-results li.highlighted {
	background: none repeat scroll 0 0 #316AC5;
	color: #FFFFFF;
}
.chosen-container-single .chosen-drop {
	border-bottom: 3px solid #4492C9;
	border-color: #4492C9;
	border-radius: 0;
}
.chosen-single.chosen-single-with-drop, .chosen-container-active .chosen-single {
	border-color: #4492C9;
}
.tile .tile-content {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 15px
}
.tile .tile-content.text-center .number, .tile .tile-content.text-center h3 {
	margin-left: 0
}
.tile .tile-content .label {
	color: #768399;
	font-size: 100%;
	width: 100%;
	float: left;
	margin-bottom: 10px
}
.tile .tile-content .spark-number {
	width: 100%;
	float: left;
	font-size: 24px;
	margin-bottom: 10px
}
.tile .tile-content .spark .percent {
	float: left;
	font-size: 16px;
	width: 60%
}
.tile .tile-content .spark .sparkline {
	width: 40%;
	display: inline-block
}
.tile .tile-content .number {
	font-size: 48px;
	line-height: 48px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
	margin-left: 7px
}
.tile .tile-content h1, .tile .tile-content h2, .tile .tile-content h3, .tile .tile-content h4, .tile .tile-content h5, .tile .tile-content h6 {
	font-size: 14px;
	font-weight: 400
}
.tile .tile-content h1, .tile .tile-content h2, .tile .tile-content h3, .tile .tile-content h4, .tile .tile-content h5, .tile .tile-content h6, .tile .tile-content p {
	padding: 0;
	margin: 10px 0 0 10px;
	line-height: 18px
}
.tile .tile-icon {
	float: right;
	right: 15px;
	position: absolute;
	top: 50%;
	margin-top: -32px
}
.tile .tile-icon i {
	text-shadow: 1px 1px 1px rgba(0,0,0,.5)
}
.tile-stats {
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-transition: all;
	transition: all;
	-webkit-transition-duration: .4s;
	transition-duration: .4s
}
.tile-stats .tile-stats-icon {
	float: left;
	width: 33.333%;
	padding: 18px 0;
	text-align: center
}
.tile-stats .tile-stats-icon i {
	font-size: 48px;
	color: #a2abba
}
.tile-stats .tile-stats-content {
	padding: 18px 0;
	width: 66.666%;
	float: left
}
.tile-stats .tile-stats-content .tile-stats-number {
	font-weight: 700;
	font-size: 24px;
	color: #768399
}
.tile-stats .tile-stats-content .tile-stats-text {
	color: #a2abba;
	font-size: 13px
}
.tile-stats:hover {
	border-color: #c4c4b8
}
.tile-stats.blue-bg {
	border-color: #75b9e6
}
.tile-stats.blue-bg:hover {
	background: #4aa3de
}
.tile-stats.gray-bg {
	border-color: #f3f5f6
}
.tile-stats.gray-bg:hover {
	background: #e4e9eb
}
.tile-stats.red-bg {
	border-color: #f68484
}
.tile-stats.red-bg:hover {
	background: #f35454
}
.tile-stats.orange-bg {
	border-color: #f4b162
}
.tile-stats.orange-bg:hover {
	background: #f19932
}
.tile-stats.yellow-bg {
	border-color: #fc6
}
.tile-stats.yellow-bg:hover {
	background: #fb3
}
.tile-stats.green-bg {
	border-color: #71d398
}
.tile-stats.green-bg:hover {
	background: #4ac77c
}
.tile-stats.pink-bg {
	border-color: #f78db8
}
.tile-stats.pink-bg:hover {
	background: #f45d9a
}
.tile-stats.magenta-bg {
	border-color: #e65097
}
.tile-stats.magenta-bg:hover {
	background: #e0237c
}
.tile-stats.purple-bg {
	border-color: #af91e1
}
.tile-stats.purple-bg:hover {
	background: #9269d6
}
.tile-stats.dark-bg {
	border-color: #79859b
}
.tile-stats.dark-bg:hover {
	background: #606c81
}
.tile-stats.teal-bg {
	border-color: #97d3c5
}
.tile-stats.teal-bg:hover {
	background: #73c4b1
}
.tile-stats.brown-bg {
	border-color: #d1b993
}
.tile-stats.brown-bg:hover {
	background: #c2a26f
}
.dropdown-menu {
    font-size: 12px;
}
label {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 14px;
  display: inline-block;
  vertical-align: sub;
}