@charset "utf-8";
/* CSS Document for 'fitcharm' @Author: Fahadfnf A- fahoofnf@gmail.com, */
@import url(jquery.steps.css);
@import url(dash-bootstrap.css);
@import url(new-styles.css);
@import url(font-awesome.min.css);
@import url(nhf-elements.css);
@import url(animate.min.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	vertical-align: baseline;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none outside;
}
blockquote, q {
	quotes: none;
}
q:before, q:after {
	content: none;
}
:focus {
	outline: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fllt {
	float: left;
}
.flrt {
	float: right;
}
a {
	text-decoration: none;
}
body {
	font-family: 'open_sansregular';
	font-size: 13px;
	overflow-x: hidden!important;
	min-height: 100%;
}
.clear {
	clear: both;
}
/*----------------------------------------------------Fonts------------------------------------------------*/ 


@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/roboto-condensed-webfont.eot');
	src: url('../fonts/roboto-condensed-webfont.eot') format('embedded-opentype'), url('../fonts/roboto-condensed-webfont.woff') format('woff'), url('../fonts/roboto-condensed-webfont.ttf') format('truetype'), url('../fonts/roboto-condensed-webfont.svg#RobotoCondensed') format('svg');
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*---------*/

.wrapper {
	min-height: 100%;
}
.wrapper:before, .wrapper:after {
	display: table;
	content: " ";
}
.wrapper:after {
	clear: both;
}
header-top {
}
body .header-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
}
.right-side, .left-side {
	min-height: 100%;
	display: block;
}
.right-side {
	margin-left: 220px;
}
.left-side {
	position: absolute;
	background: none repeat scroll 0 0 #47555c;
	width: 220px;
	top: 0;
	border-right: 1px solid #E3E3E3;
}
.bg-green {
	background: #82cb78;
}
.side-bg {
	padding: 11px 0;
}
/*----------------------------------------------------arboric------------------------------------------------*/ 



a.logo {
	background: #fff;
	-webkit-box-shadow: -3px 0 5px 0 #DFDFDF;
	-moz-box-shadow: -3px 0 5px 0 #DFDFDF;
	box-shadow: -3px 0 5px 0 #DFDFDF;
}
a.logo img {
	height: 70px;
}
#round-i {
	background: none repeat scroll 0 0 #506169;
	height: 42px;
	padding: 11px 13px;
	width: 42px;
	transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}
.fa-color-top {
	color: #fff;
	font-size: 15px;
}
#round-i:hover {
	background: #006cff;
}
i.fa-bell {
	-webkit-animation: ring 8s 1s ease-in-out infinite;
	-webkit-transform-origin: 50% 4px;
	-moz-animation: ring 8s 1s ease-in-out infinite;
	-moz-transform-origin: 50% 4px;
	animation: ring 8s 1s ease-in-out infinite;
	transform-origin: 50% 4px;
}
@-webkit-keyframes ring {
 0% {
-webkit-transform: rotateZ(0);
}
 1% {
-webkit-transform: rotateZ(30deg);
}
 3% {
-webkit-transform: rotateZ(-28deg);
}
 5% {
-webkit-transform: rotateZ(34deg);
}
 7% {
-webkit-transform: rotateZ(-32deg);
}
 9% {
-webkit-transform: rotateZ(30deg);
}
 11% {
-webkit-transform: rotateZ(-28deg);
}
 13% {
-webkit-transform: rotateZ(26deg);
}
 15% {
-webkit-transform: rotateZ(-24deg);
}
 17% {
-webkit-transform: rotateZ(22deg);
}
 19% {
-webkit-transform: rotateZ(-20deg);
}
 21% {
-webkit-transform: rotateZ(18deg);
}
 23% {
-webkit-transform: rotateZ(-16deg);
}
 25% {
-webkit-transform: rotateZ(14deg);
}
 27% {
-webkit-transform: rotateZ(-12deg);
}
 29% {
-webkit-transform: rotateZ(10deg);
}
 31% {
-webkit-transform: rotateZ(-8deg);
}
 33% {
-webkit-transform: rotateZ(6deg);
}
 35% {
-webkit-transform: rotateZ(-4deg);
}
 37% {
-webkit-transform: rotateZ(2deg);
}
 39% {
-webkit-transform: rotateZ(-1deg);
}
 41% {
-webkit-transform: rotateZ(1deg);
}
 43% {
-webkit-transform: rotateZ(0);
}
 100% {
-webkit-transform: rotateZ(0);
}
}
 @-moz-keyframes ring {
 0% {
-moz-transform: rotate(0);
}
 1% {
-moz-transform: rotate(30deg);
}
 3% {
-moz-transform: rotate(-28deg);
}
 5% {
-moz-transform: rotate(34deg);
}
 7% {
-moz-transform: rotate(-32deg);
}
 9% {
-moz-transform: rotate(30deg);
}
 11% {
-moz-transform: rotate(-28deg);
}
 13% {
-moz-transform: rotate(26deg);
}
 15% {
-moz-transform: rotate(-24deg);
}
 17% {
-moz-transform: rotate(22deg);
}
 19% {
-moz-transform: rotate(-20deg);
}
 21% {
-moz-transform: rotate(18deg);
}
 23% {
-moz-transform: rotate(-16deg);
}
 25% {
-moz-transform: rotate(14deg);
}
 27% {
-moz-transform: rotate(-12deg);
}
 29% {
-moz-transform: rotate(10deg);
}
 31% {
-moz-transform: rotate(-8deg);
}
 33% {
-moz-transform: rotate(6deg);
}
 35% {
-moz-transform: rotate(-4deg);
}
 37% {
-moz-transform: rotate(2deg);
}
 39% {
-moz-transform: rotate(-1deg);
}
 41% {
-moz-transform: rotate(1deg);
}
 43% {
-moz-transform: rotate(0);
}
 100% {
-moz-transform: rotate(0);
}
}
 @keyframes ring {
 0% {
transform: rotate(0);
}
 1% {
transform: rotate(30deg);
}
 3% {
transform: rotate(-28deg);
}
 5% {
transform: rotate(34deg);
}
 7% {
transform: rotate(-32deg);
}
 9% {
transform: rotate(30deg);
}
 11% {
transform: rotate(-28deg);
}
 13% {
transform: rotate(26deg);
}
 15% {
transform: rotate(-24deg);
}
 17% {
transform: rotate(22deg);
}
 19% {
transform: rotate(-20deg);
}
 21% {
transform: rotate(18deg);
}
 23% {
transform: rotate(-16deg);
}
 25% {
transform: rotate(14deg);
}
 27% {
transform: rotate(-12deg);
}
 29% {
transform: rotate(10deg);
}
 31% {
transform: rotate(-8deg);
}
 33% {
transform: rotate(6deg);
}
 35% {
transform: rotate(-4deg);
}
 37% {
transform: rotate(2deg);
}
 39% {
transform: rotate(-1deg);
}
 41% {
transform: rotate(1deg);
}
 43% {
transform: rotate(0);
}
 100% {
transform: rotate(0);
}
}
.side-btn-top {
	float: left;
	padding: 3px 0 14px 13px;
}
.side-btn-top ul {
}
.side-btn-top ul li {
	float: left;
	margin: 0 3px 0 0;
	padding: 7px 14px;
	transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}
.side-btn-top ul li a {
}
.side-btn-top ul li:hover {
	cursor: pointer;
	opacity: 0.8;
}
.side-clr-blue {
	background: #8dbf41;
}
.side-clr-blue:hover {
	background: #47555c;
}
.side-clr-green {
	background: #363f45;
}
.side-clr-green:hover {
	background: #47555c;
}
.side-clr-eblue {
	background: #8dbf41;
}
.side-clr-eblue:hover {
	background: #47555c;
}
.side-clr-gray {
	background: #363f45;
}
.side-clr-gray:hover {
	background: #47555c;
}
.fa-side-color {
	color: #fff;
	font-size: 17px;
}
.pull-left {
	float: left;
}
.side-use {
	float: left;
	height: 68px;
	width: 58px;
}
.srch-span {
	margin: 0 10px;
}
.srch-spancolor {
	color: #fff;
	left: 18px;
	margin: 9px 0 0;
	position: absolute;
	z-index: 1000;
}
.srch-span input[type=text] {
	background: none repeat scroll 0 0 #506169;
	border: medium none;
	color: #fff;
	font-size: 13px;
	padding: 4px 26px;
	width: 200px;
}
.srch-span input[type=text]:focus {
	border: 1px solid #006cff !important;
}
.srch-span input[type=text]:focus + i.srch-spancolor {
	display: none;
}
#dash-side {
	margin: 14px 0 13px;
	padding: 0;
}
#dash-side .dash-side-box {
	background: none repeat scroll 0 0 #363f45;
	border-width: 1px 2px 1px 3px;
	color: #fff;
	font-size: 15px;
	padding: 12px 11px;
	position: relative;
}
/*#dash-side .dash-side-box .side {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(0, 0, 0, 0) #006cff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-image: none;
	border-style: solid;
	border-width: 14px 10px;
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 8px;
}*/
#dash-side .dash-side-box .side {

    -moz-border-bottom-colors: none;

    -moz-border-left-colors: none;

    -moz-border-right-colors: none;

    -moz-border-top-colors: none;

    border-color: rgba(0, 0, 0, 0) #C2C2C3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);

    border-image: none;

    border-style: solid;

    border-width: 14px 10px;

    content: "";

    display: block;

    position: absolute;

    right: 0;

    top: 8px;

}
#dash-side .dash-side-box span {
}
.dash-sid-color {
	color: #fff;
	font-size: 17px;
	padding: 0 12px 0 0;
}
#dashbox {
	margin: 0 0 13px;
	padding: 0;
	width: 100%;
}
#dashbox .dashbox-round {
	font-size: 59px;
	padding: 14px 0;
	text-align: center;
	width: 84px;
}
#dashbox .dashbox-right {
	margin: 15px 0 0;
	padding: 6px 11px;
}
#dashbox .dashbox-right h3 {
	color: #47555c;
	font-size: 17px;
	padding: 0 0 8px;
}
#dashbox .dashbox-right span {
	font-size: 25px;
}
#dashbox span.clr-green {
	color: #8dbf41;
}
#dashbox span.clr-blue {
	color: #616e74;
}
#dashbox span.clr-grayblue {
	color: #70757e;
}
#dashbox span.clr-gray {
	color: #99a0a8;
}
#dashbox .bg-green {
	background: #8dbf41;
}
#dashbox .bg-blue {
	background: #616e74;
}
#dashbox .bg-grayblue {
	background: #70757e;
}
#dashbox .bg-gray {
	background: #99a0a8;
}
.canvas-panel-side {
	background: none repeat scroll 0 0 #718893;
}
.canvas-panel-side2 {
	background: #fff;
}
.canvas-panel-clr {
	color: #fff;
}
.box-header {
	background: none repeat scroll 0 0 #EEF4F9;
	padding: 0 9px;
}
.box-title {
	color: #2B7DBC;
	font-size: 16px;
	padding: 8px 0px;
}
.canvas-panel-hde {
	color: #FFFFFF;
	font-size: 15px;
}
.we-can canvas {
	margin: 12px 0 0;
	width: 89px;
}
.we-can h4 {
	color: #FFFFFF;
	font-size: 18px;
	margin: 5px 0 0;
}
.can-fot span {
	color: #FFFFFF;
	font-size: 12px;
}
.can-fot {
	margin: 8px 0;
}
.can-fot canvas {
	width: 20px;
}
.add-nav {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	padding: 0 !important;
}
.das-sun {
	padding: 14px 21px;
	text-align: left;
}
.das-sun li {
	color: #fdb700;
	font-size: 16px;
}
body .header-top .navbar .nav li.user a i {
	color: white;
	font-size: 16px;
	font-weight: bold;
}
.das-sun span {
	color: #fdb700;
	padding: 0 10px;
}
.das-sun ul {
	list-style: none outside none;
	margin: 0 0 13px;
	padding: 0;
	text-decoration: none;
}
.align-sub {
	margin: 11px 0 0;
}
.ad-prjc {
	padding: 0 0 0 11px;
}
.box-adjust {
	padding: 0 0 0 16px;
}
.tdy {
	padding: 0px 11px 0px 0px;
}
.tdy-work-section {
	margin: -46px 0 15px 65px;
}
.tdy-work-section svg {
	width: 100%;
}
.tdy-work-section-btns {
}
.tdy-work-section-btns ul {
}
.tdy-work-section-btns ul li {
	cursor: pointer;
	display: inline;
	font-size: 13px;
	padding: 4px 13px;
	transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}
.tdy-work-section-btns ul li a {
	text-decoration: none;
}
.tdy-work-section-btns ul li a:hover {
}
.tdy-blue {
	border: 2px solid #3498db;
	color: #3498db;
}
.tdy-blue:hover {
	background: #3498db;
	color: #fff;
}
.tdy-green {
	border: 2px solid #88e2ae;
	color: #2ecc71;
}
.tdy-green:hover {
	background: #2ecc71;
	color: #fff;
}
.tdy-lightred {
	border: 2px solid #f29b92;
	color: #e74c3c;
}
.tdy-lightred:hover {
	background: #e74c3c;
	color: #fff;
}
.ui-jqchart {
	position: relative;
	height: 283px !important;
}
.ui-jqchart .ui-jqchart-toolbar {
	position: absolute;
	margin: 0;
	padding: 2px;
	list-style-type: none;
	white-space: nowrap;
}
.ui-jqchart .ui-jqchart-toolbar li {
	display: inline;
	margin: 0 2px;
	padding: 2px 0;
	cursor: pointer;
	float: left;
}
.ui-jqchart .ui-jqchart-toolbar span.ui-icon {
	float: left;
	margin: 0 2px;
}
.ui-jqchart .ui-jqchart-toolbar-separator {
	height: 16px;
	width: 1px;
}
.ui-jqchart .ui-jqchart-tooltip {
	position: absolute;
	white-space: nowrap;
	padding: .2em .4em;
	z-index: 9999;
	border: 1px solid #dddddd;
	color: #333333;
	background: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-o-box-shadow: 0 0 5px #aaa;
	-moz-box-shadow: 0 0 5px #aaa;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
* html .ui-jqchart .ui-jqchart-tooltip {
	background-image: none;
}
body .ui-jqchart .ui-jqchart-tooltip {
	border-width: 2px;
}
.staf-on-jobs {
	margin: 0 0 7px;
	padding: 4px 8px;
	width: 100%;
}
.staf-on-jobs p {
	color: #000;
}
.staf-on-jobs span {
	border-radius: 7px;
	color: #FFFFFF;
	padding: 1px 12px;
}
.staf-abs {
	border: 1px solid #abd0ed;
}
.staf-leave {
	border: 1px solid #82cb78;
}
.s-a-bg {
	background: #8cbee7;
}
.s-l-bg {
	background: #82cb78;
}
.dialogs {
	padding: 9px 0 0;
	position: relative;
	width: 100%;
}
.useritem {
	min-height: 50px;
	padding-right: 3px;
	position: relative;
}
.useritem > .user {
	display: inline-block;
	left: 0;
	position: absolute;
	width: 42px;
}
.useritem > .user > img {
	border: 2px solid #5293C4;
	border-radius: 100%;
	max-width: 40px;
	position: relative;
}
.useritem > .body {
	margin-left: 50px;
	margin-right: 12px;
	position: relative;
	width: auto;
}
.useritem > .body > .time {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	right: 9px;
	top: 0;
}
.useritem > .body > .time [class*="icon-"] {
	font-size: 14px;
	font-weight: normal;
}
.useritem > .body > .name {
	color: #343434;
	display: block;
}
.useritem > .body > .name a {
	color: #000000;
	text-decoration: none;
}
.useritem > .body > .name > b {
	color: #777777;
}
.useritem > .body > .text {
	display: block;
	font-size: 13px;
	margin-top: 2px;
	padding-bottom: 19px;
	padding-left: 7px;
	position: relative;
}
.useritem > .body > .text:after {
	border-top: 1px solid #E4ECF3;
	content: "";
	display: block;
	font-size: 0;
	height: 1px;
	left: 16px;
	margin-top: 9px;
	overflow: hidden;
	position: absolute;
	right: -12px;
}
.useritem > .body > .text > [class*="icon-quote-"]:first-child {
	color: #DCE3ED;
	margin-right: 4px;
}
.useritem:last-child > .body > .text {
	border-bottom: 0 none;
}
.useritem:last-child > .body > .text:after {
	display: none;
}
.useritem.dialogdiv {
	padding-bottom: 14px;
}
.useritem.dialogdiv:before {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #E1E6ED;
	border-color: #D7DBDD;
	border-image: none;
	border-style: solid;
	border-width: 0 1px;
	bottom: 0;
	content: "";
	display: block;
	left: 19px;
	max-width: 3px;
	position: absolute;
	top: 0;
	width: 3px;
}
.useritem.dialogdiv:last-child:before {
	display: none;
}
.useritem.dialogdiv > .user > img {
	border-color: #C9D6E5;
}
.useritem.dialogdiv > .body {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #DDE4ED;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 2px;
	margin-right: 1px;
	padding: 5px 8px 8px;
}
.useritem.dialogdiv > .body:before {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-box-sizing: content-box;
	background-color: #FFFFFF;
	border-color: #DDE4ED;
	border-image: none;
	border-style: solid;
	border-width: 2px 0 0 2px;
	content: "";
	display: block;
	height: 8px;
	left: -7px;
	position: absolute;
	top: 11px;
	transform: rotate(-45deg);
	width: 8px;
}
.useritem.dialogdiv > .body > .time {
	float: right;
	position: static;
}
.useritem.dialogdiv > .body > .text {
	padding-bottom: 0;
	padding-left: 0;
}
.useritem.dialogdiv > .body > .text:after {
	display: none;
}
.useritem.dialogdiv .tooltip-inner {
	word-break: break-all;
}
.useritem.memberdiv {
	border-bottom: 1px solid #E8E8E8;
	float: left;
	margin: 3px 0;
	padding: 2px;
	width: 175px;
}
.useritem.memberdiv > .user > img {
	border-color: #DCE3ED;
}
.useritem.memberdiv > .body > .time {
	position: static;
}
.useritem.memberdiv > .body > .name {
	height: 18px;
	line-height: 18px;
	margin-bottom: 0;
}
.useritem.memberdiv > .body > .name > a {
	display: inline-block;
	max-height: 18px;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
.useritem .tools {
	bottom: 10px;
	display: none;
	position: absolute;
	right: 5px;
}
.useritem .tools .btn {
	border-radius: 36px;
	margin: 1px 0;
}
.useritem .body .tools {
	bottom: 4px;
}
.useritem.commentdiv .tools {
	right: 9px;
}
.useritem:hover .tools {
	display: inline-block;
}
.item-list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.item-list > li {
	background-color: #FFFFFF;
	margin-top: -1px;
	padding: 9px;
	position: relative;
}
.item-list > li.selected {
	background-color: #F4F9FC;
	color: #8090A0;
}
.item-list > li.selected label, .item-list > li.selected .lbl {
	color: #8090A0;
	text-decoration: line-through;
}
.item-list > li > .checkbox {
	display: inline-block;
}
.item-list > li > label.inline {
	display: inline-block;
}
.item-list > li label {
	font-size: 13px;
}
.item-list > li .percentage {
	color: #777777;
	font-size: 11px;
	font-weight: bold;
}
.item-list > li.ui-sortable-helper {
	cursor: move;
}
.online {
	background: none repeat scroll 0 0 #66CC66;
	border-radius: 5px;
	height: 8px;
	margin: 5px 8px 0 0;
	position: relative;
	width: 8px;
}
.ofline {
	background: none repeat scroll 0 0 #cfcfcf;
	border-radius: 5px;
	height: 8px;
	margin: 5px 8px 0 0;
	position: relative;
	width: 8px;
}
.itm-opscity {
	opacity: 0.2;
	background: 3000;
}
.dropdown-menu .header {
	color: #fff;
	background: #82cb78;
	padding: 5px 4px;
}
.navbar-nav > .user-menu > .dropdown-menu {
	border-radius: 0;
	border-top-width: 0;
	padding: 1px 0 0;
	width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFFFFF;
	border-image: none;
	border-style: solid;
	border-width: 10px;
	bottom: 100%;
	content: " ";
	height: 0;
	margin-left: -10px;
	pointer-events: none;
	position: absolute;
	right: 10px;
	width: 0;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	background: none repeat scroll 0 0 #006cff;
	height: 175px;
	padding: 10px;
	text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
	border: 8px solid rgba(255, 255, 255, 0.2);
	height: 90px;
	width: 90px;
	z-index: 5;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
	color: #FFFFFF;
	font-size: 17px;
	margin-top: 10px;
	z-index: 5;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
	display: block;
	font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body {
	border-bottom: 1px solid #F4F4F4;
	border-top: 1px solid #DDDDDD;
	padding: 15px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:before, .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
	content: " ";
	display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
	clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
	color: #0073B7;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
	background-color: #F9F9F9;
	padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before, .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
	content: " ";
	display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
	clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
	color: #666666;
}
.bxo-head-bg2 {
	background: #edf0f2;
	color: #4e4e4f;
}
.bxo-head-bg2 h3 {
	color: #4e4e4f;
}
#back-top {
	bottom: 30px;
	position: fixed;
	right: 14px;
	z-index: 1000;
}
#back-top a {
	color: #000000;
	display: block;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 1s ease 0s;
}
#back-top a:hover {
	color: #000000;
}
#back-top span {
	background: url("../images/back-top.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	border-radius: 15px;
	display: block;
	height: 49px;
	margin-bottom: 7px;
	transition: all 1s ease 0s;
	width: 68px;
}
#back-top a:hover span {
}
.chart-head-ad {
	border-bottom: 1px solid #C6C6C6;
	font-size: 15px;
	margin: 3px 0 16px;
	padding: 0 0 7px;
}
































/*--------*/ 

















@media screen and (min-width: 992px) {
.left-side {
	top: 50px;
}
.right-side.strech {
	margin-left: 0;
}
.right-side.strech .content-header-top {
	margin-top: 0px;
}
.left-side.collapse-left {
	left: -220px;
}
}
 @media screen and (max-width: 992px) {
.right-side {
	margin-left: 0;
}
}
body.fixed .header-top, body.fixed .left-side, body.fixed .navbar {
	position: fixed;
}
body.fixed .header-top {
	top: 0;
	right: 0;
	left: 0;
}
body.fixed .navbar {
	left: 0;
	right: 0;
}
body.fixed .wrapper {
	margin-top: 50px;
}
.content {
	padding: 20px 15px;
}
.page-header-top {
	margin: 10px 0 20px 0;
	font-size: 22px;
}
.page-header-top small {
	color: #666;
	display: block;
	margin-top: 5px;
}
img {
	max-width: 100%important;
}
.sort-highlight {
	background: #f4f4f4;
	border: 1px dashed #ddd;
	margin-bottom: 10px;
}
.inline {
	display: inline;
	width: auto;
}
 @media print {
.no-print {
	display: none;
}
.left-side, .header-top, .content-header-top {
	display: none;
}
.right-side {
	margin: 0;
}
}
.flat {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	/*background-color: #f3f4f5;*/
	 /*Given By Anupam*/
	 background-color: #FFFFFF;

}
table.text-center td, table.text-center th {
	text-align: center;
}
.jqstooltip {
	padding: 5px!important;
	width: auto!important;
	height: auto!important;
}
body .header-top {
	position: relative;
	max-height: 100px;
	z-index: 1030;
}
body .header-top .navbar {
	height: 50px;
	margin-bottom: 0;
	margin-left: 220px;
}
body .header-top .navbar .sidebar-toggle {
	border: 1px solid #fff;
	color: #fff;
	float: left;
	margin: 16px 0 8px 12px;
	padding: 11px 12px;
	transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}
body .header-top .navbar .sidebar-toggle:hover {
	background: none repeat scroll 0 0 #fff;
	color: #000000;
}
body .header-top .navbar .sidebar-toggle:hover .icon-bar {
	background: #000;
}
body .header-top .navbar .sidebar-toggle .icon-bar {
	display: block;
	width: 14px;
	background: #fff;
	height: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
body .header-top .navbar .sidebar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
body .header-top .navbar .nav li.user a {
	color: #FFFFFF;
	font-weight: bold;
}
body .header-top .navbar .nav li.user a .fa, body .header-top .navbar .nav li.user a .glyphicon, body .header-top .navbar .nav li.user a .ion {
	margin-right: 5px;
}
body .header-top .navbar .nav li a .label {
	font-size: 11px;
	font-weight: normal;
	height: 20px;
	line-height: 1em;
	padding: 4px 0;
	position: absolute;
	right: -5px;
	text-align: center;
	top: -4px;
	width: 20px;
}
body .header-top .logo {
	display: block;
	float: left;
	font-size: 20px;
	font-weight: 500;
	height: 76px;
	line-height: 50px;
	padding: 0 10px;
	text-align: center;
	width: 220px;
}
body .header-top .logo .icon {
	margin-right: 10px;
}
.right-side .content-header-top {
	background: none repeat scroll 0 0 #f9f9f9;
	padding: 15px 15px 14px 20px;
	position: relative;
}
.right-side .content-header-top h1 {
	color: #363f45;
	font-size: 19px;
	margin: 0;
	display:inline-block;
}
.right-side .content-header-top h1 i {
	padding: 0 6px 0 0;
}
 @media screen and (max-width: 767px) {
}
@media (max-width: 767px) {
.navbar .navbar-nav li {
	float: left;
}
.navbar-nav {
	margin: 0;
	float: left;
}
.navbar-nav li a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
}
.navbar .navbar-right {
	float: right;
	margin: 11px 0 0;
}
}
@media screen and (max-width: 560px) {
body .header-top {
	position: relative;
}
body .header-top .logo, body .header-top .navbar {
	width: 100%;
	float: none;
	position: relative!important;
}
body .header-top .navbar {
	margin: 0;
}
body.fixed .header-top {
	position: fixed;
}
body.fixed .wrapper, body.fixed .sidebar-offcanvas {
	margin-top: 100px!important;
}
}
.sidebar {
	margin: 27px 0 0;
}
.sidebar .sidebar-menu {
	background: none repeat scroll 0 0 #47555c;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.sidebar .sidebar-menu li {
	border-bottom: 1px solid #394147;
	margin: 0;
	padding: 0;
}
.sidebar .sidebar-menu li a {
	color: #fff;
	display: block;
	padding: 12px 5px 12px 15px;
}
.sidebar .sidebar-menu li a:active, .sidebar .sidebar-menu li a:hover {
	background: none repeat scroll 0 0 #363f45;
	color: #fff !important;
	outline: 0 none;
	border-left: 3px solid #006cff;
}
.sidebar .sidebar-menu li a .fa, .sidebar .sidebar-menu li a .glyphicon, .sidebar .sidebar-menu li a .ion {
	width: 20px;
}
.sidebar .sidebar-menu .treeview-menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar .sidebar-menu .treeview-menu li {
	margin: 0;
}
.sidebar .sidebar-menu .treeview-menu li a {
	padding: 5px 5px 5px 15px;
	display: block;
	margin: 0px 0px;
}
.sidebar .sidebar-menu .treeview-menu li a .fa, .sidebar .sidebar-menu .treeview-menu li a .glyphicon, .sidebar .sidebar-menu .treeview-menu li a .ion {
	width: 20px;
}
.user-panel {
	padding: 10px;
}
.user-panel:before, .user-panel:after {
	display: table;
	content: " ";
}
.user-panel:after {
	clear: both;
}
.user-panel .image img {
	border: 1px solid #b1d89a;
	width: 50px;
}
.user-panel .info {
	font-weight: 600;
	padding: 9px 8px;
	font-size: 14px;
	line-height: 1;
}
.user-panel .info p {
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 9px;
}
.user-panel .info p span {
	color: #fff;
	display: block;
	margin: 6px 0 0;
}
.user-panel .info a {
	text-decoration: none;
	padding-right: 5px;
	margin-top: 3px;
	font-size: 11px;
	font-weight: normal;
}
.user-panel .info a .fa, .user-panel .info a .ion, .user-panel .info a .glyphicon {
	margin-right: 3px;
}
 @media screen and (max-width: 992px) {
.relative {
	position: relative;
}
.row-offcanvas-right .sidebar-offcanvas {
	right: -220px;
}
.row-offcanvas-left .sidebar-offcanvas {
	left: -220px;
}
.row-offcanvas-right.active {
	right: 220px;
}
.row-offcanvas-left.active {
	left: 220px;
}
.sidebar-offcanvas {
	left: 0;
}
body.fixed .sidebar-offcanvas {
	margin-top: 50px;
	left: -220px;
}
body.fixed .row-offcanvas-left.active .navbar {
	left: 220px !important;
	right: 0;
}
body.fixed .row-offcanvas-left.active .sidebar-offcanvas {
	left: 0px;
}
}
/* 
    Dropdown menus
----------------------------
*/
/*Dropdowns in general*/
.dropdown-menu {
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	z-index: 2300;
}
.dropdown-menu li a .glyphicon, .dropdown-menu li a .fa, .dropdown-menu li a .ion {
	margin-right: 10px;
}
.dropdown-menu li a:hover {
	background-color: #3c8dbc;
	color: #f9f9f9;
}
/*Drodown in navbars*/
.skin-blue .navbar .dropdown-menu li a {
	color: #444444;
}
/*
    Navbar custom dropdown menu
------------------------------------
*/
.navbar-nav .notifications-menu .dropdown-menu, .navbar-nav .messages-menu .dropdown-menu, .navbar-nav .tasks-menu .dropdown-menu {
	width: 280px;
	padding: 0 0 0 0!important;
	margin: 0!important;
	top: 100%;
}
.navbar-nav .notifications-menu .dropdown-menu li.header-top, .navbar-nav .messages-menu .dropdown-menu li.header-top, .navbar-nav .tasks-menu .dropdown-menu li.header-top {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ffffff;
	padding: 7px 10px;
	border-bottom: 1px solid #f4f4f4;
	color: #444444;
	font-size: 14px;
}
.navbar-nav .notifications-menu .dropdown-menu li.header-top:after, .navbar-nav .messages-menu .dropdown-menu li.header-top:after, .navbar-nav .tasks-menu .dropdown-menu li.header-top:after {
	bottom: 100%;
	left: 92%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	margin-left: -7px;
}
.navbar-nav .notifications-menu .dropdown-menu li.footer a, .navbar-nav .messages-menu .dropdown-menu li.footer a, .navbar-nav .tasks-menu .dropdown-menu li.footer a {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 12px;
	background-color: #f4f4f4;
	padding: 7px 10px;
	border-bottom: 1px solid #eeeeee;
	color: #444444;
	text-align: center;
}
.navbar-nav .notifications-menu .dropdown-menu li.footer a:hover, .navbar-nav .messages-menu .dropdown-menu li.footer a:hover, .navbar-nav .tasks-menu .dropdown-menu li.footer a:hover {
	background: #f4f4f4;
	text-decoration: none;
	font-weight: normal;
}
.navbar-nav .notifications-menu .dropdown-menu li .menu, .navbar-nav .messages-menu .dropdown-menu li .menu, .navbar-nav .tasks-menu .dropdown-menu li .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
}
.navbar-nav .notifications-menu .dropdown-menu li .menu li a, .navbar-nav .messages-menu .dropdown-menu li .menu li a, .navbar-nav .tasks-menu .dropdown-menu li .menu li a {
	display: block;
	white-space: nowrap;
	/* Prevent text from breaking */

	border-bottom: 1px solid #f4f4f4;
}
.navbar-nav .notifications-menu .dropdown-menu li .menu li a:hover, .navbar-nav .messages-menu .dropdown-menu li .menu li a:hover, .navbar-nav .tasks-menu .dropdown-menu li .menu li a:hover {
	background: #f6f6f6;
	text-decoration: none;
}
.navbar-nav .notifications-menu .dropdown-menu li .menu li a {
	font-size: 12px;
	color: #444444;
}
.navbar-nav .notifications-menu .dropdown-menu li .menu li a .glyphicon, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .fa, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .ion {
	font-size: 20px;
	width: 50px;
	text-align: center;
	padding: 15px 0px;
	margin-right: 5px;
	/* Default background and font colors */

	background: #00c0ef;
	color: #f9f9f9;
	/* Fallback for browsers that doesn't support rgba */

	color: rgba(255, 255, 255, 0.7);
}
.navbar-nav .notifications-menu .dropdown-menu li .menu li a .glyphicon.danger, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .fa.danger, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .ion.danger {
	background: #f56954;
}
.navbar-nav .notifications-menu .dropdown-menu li .menu li a .glyphicon.warning, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .fa.warning, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .ion.warning {
	background: #f39c12;
}
.navbar-nav .notifications-menu .dropdown-menu li .menu li a .glyphicon.success, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .fa.success, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .ion.success {
	background: #00a65a;
}
.navbar-nav .notifications-menu .dropdown-menu li .menu li a .glyphicon.info, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .fa.info, .navbar-nav .notifications-menu .dropdown-menu li .menu li a .ion.info {
	background: #00c0ef;
}
.navbar-nav .messages-menu .dropdown-menu li .menu li a {
	margin: 0px;
	line-height: 20px;
	padding: 10px 5px 10px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.navbar-nav .messages-menu .dropdown-menu li .menu li a div img {
	margin: auto 10px auto auto;
	width: 40px;
	height: 40px;
	border: 1px solid #dddddd;
}
.navbar-nav .messages-menu .dropdown-menu li .menu li a h4 {
	color: #444444;
	font-size: 13px;
	margin: 0 0 0 45px;
	padding: 0;
}
.navbar-nav .messages-menu .dropdown-menu li .menu li a h4 small {
	color: #999999;
	font-size: 10px;
	float: right;
}
.navbar-nav .messages-menu .dropdown-menu li .menu li a p {
	color: #888888;
	font-size: 12px;
	margin: 3px 0 0 42px;
}
.navbar-nav .messages-menu .dropdown-menu li .menu li a:before, .navbar-nav .messages-menu .dropdown-menu li .menu li a:after {
	display: table;
	content: " ";
}
.navbar-nav .messages-menu .dropdown-menu li .menu li a:after {
	clear: both;
}
.navbar-nav .tasks-menu .dropdown-menu li .menu li a {
	padding: 10px;
}
.navbar-nav .tasks-menu .dropdown-menu li .menu li a h3 {
	color: #666666;
	font-size: 12px;
	margin: 0 0 10px;
	padding: 0;
}
.navbar-nav .tasks-menu .dropdown-menu li .menu li a .progress {
	padding: 0;
	margin: 0;
}
.navbar-nav .user-menu .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 1px 0 0 0;
	border-top-width: 0;
	width: 280px;
}
.navbar-nav .user-menu .dropdown-menu:after {
	bottom: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.navbar-nav .user-menu .dropdown-menu li.user-header-top {
	height: 175px;
	padding: 10px;
	background: #3c8dbc;
	text-align: center;
}
.navbar-nav .user-menu .dropdown-menu li.user-header-top img {
	z-index: 5;
	height: 90px;
	width: 90px;
	border: 8px solid;
	border-color: transparent;
	border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav .user-menu .dropdown-menu li.user-header-top p {
	z-index: 5;
	color: #f9f9f9;
	color: rgba(255, 255, 255, 0.8);
	font-size: 17px;
	text-shadow: 2px 2px 3px #333333;
	margin-top: 10px;
}
.navbar-nav .user-menu .dropdown-menu li.user-header-top p small {
	display: block;
	font-size: 12px;
}
.navbar-nav .user-menu .dropdown-menu li.user-body {
	padding: 15px;
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #dddddd;
}
.navbar-nav .user-menu .dropdown-menu li.user-body:before, .navbar-nav .user-menu .dropdown-menu li.user-body:after {
	display: table;
	content: " ";
}
.navbar-nav .user-menu .dropdown-menu li.user-body:after {
	clear: both;
}
.navbar-nav .user-menu .dropdown-menu li.user-body div a {
	color: #0073b7;
}
.navbar-nav .user-menu .dropdown-menu li.user-footer {
	background-color: #f9f9f9;
	padding: 10px;
}
.navbar-nav .user-menu .dropdown-menu li.user-footer:before, .navbar-nav .user-menu .dropdown-menu li.user-footer:after {
	display: table;
	content: " ";
}
.navbar-nav .user-menu .dropdown-menu li.user-footer:after {
	clear: both;
}
.navbar-nav .user-menu .dropdown-menu li.user-footer .btn-default {
	color: #666666;
}
/* Add fade animation to dropdown menus */
.open .dropdown-menu {
	animation-name: fadeAnimation;
	animation-duration: .7s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-name: fadeAnimation;
	-webkit-animation-duration: .7s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: fadeAnimation;
	-moz-animation-duration: .7s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes fadeAnimation {
 from {
 opacity: 0;
 top: 120%;
}
to {
	opacity: 1;
	top: 100%;
}
}
@-webkit-keyframes fadeAnimation {
 from {
 opacity: 0;
 top: 120%;
}
to {
	opacity: 1;
	top: 100%;
}
}
/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 767px) {
.navbar-nav .notifications-menu .dropdown-menu, .navbar-nav .user-menu .dropdown-menu, .navbar-nav .tasks-menu .dropdown-menu, .navbar-nav .messages-menu .dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	left: auto;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	background: #ffffff;
}
}
/* Fix menu positions on xs screens to appear correctly and fully */
@media screen and (max-width: 480px) {
.navbar-nav .notifications-menu .dropdown-menu li.header-top, .navbar-nav .tasks-menu .dropdown-menu li.header-top, .navbar-nav .messages-menu .dropdown-menu li.header-top {
/* Remove arrow from the top */
}
.navbar-nav .notifications-menu .dropdown-menu li.header-top:after, .navbar-nav .tasks-menu .dropdown-menu li.header-top:after, .navbar-nav .messages-menu .dropdown-menu li.header-top:after {
	border-width: 0px!important;
}
.navbar-nav .tasks-menu .dropdown-menu {
	position: absolute;
	right: -120px;
	left: auto;
}
.navbar-nav .notifications-menu .dropdown-menu {
	position: absolute;
	right: -170px;
	left: auto;
}
.navbar-nav .messages-menu .dropdown-menu {
	position: absolute;
	right: -210px;
	left: auto;
}
}
/* 
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/
.form-control {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	box-shadow: none;
}
.form-group.has-success label {
	color: #00a65a;
}
.form-group.has-success .form-control {
	border-color: #00a65a !important;
	box-shadow: none;
}
.form-group.has-warning label {
	color: #f39c12;
}
.form-group.has-warning .form-control {
	border-color: #f39c12 !important;
	box-shadow: none;
}
.form-group.has-error label {
	color: #f56954;
}
.form-group.has-error .form-control {
	border-color: #f56954 !important;
	box-shadow: none;
}
/* Input group */
.input-group .input-group-addon {
	border-radius: 0;
	background-color: #f4f4f4;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type, .btn-group-vertical .btn.btn-flat:last-of-type {
	border-radius: 0;
}
/* Checkbox and radio inputs */
.checkbox, .radio {
	padding-left: 0;
}
/* 
    Compenent: Progress bars
--------------------------------
*/
/* size variation */
.progress.sm {
	height: 10px;
}
.progress.xs {
	height: 7px;
}
/* Vertical bars */
.progress.vertical {
	position: relative;
	width: 30px;
	height: 200px;
	display: inline-block;
	margin-right: 10px;
}
.progress.vertical .progress-bar {
	width: 100%!important;
	position: absolute;
	bottom: 0;
}
.progress.vertical.sm {
	width: 20px;
}
.progress.vertical.xs {
	width: 10px;
}
/*
    Component: Small boxes
*/
.small-box {
	position: relative;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 15px;
}
.small-box .inner {
	padding: 10px;
}
.small-box .small-box-footer {
	position: relative;
	text-align: center;
	padding: 3px 0;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	text-decoration: none;
}
.small-box .small-box-footer:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
	font-size: 38px;
	font-weight: bold;
	margin: 0 0 10px 0;
	white-space: nowrap;
	padding: 0;
}
.small-box p {
	font-size: 15px;
}
.small-box p small {
	display: block;
	color: #f9f9f9;
	font-size: 13px;
	margin-top: 5px;
}
.small-box h3, .small-box p {
	z-index: 5px;
}
.small-box .icon {
	position: absolute;
	top: auto;
	bottom: 5px;
	right: 5px;
	z-index: 0;
	font-size: 90px;
	color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
	text-decoration: none;
	color: #f9f9f9;
}
.small-box:hover .icon {
	animation-name: tansformAnimation;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-name: tansformAnimation;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: tansformAnimation;
	-moz-animation-duration: .5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes tansformAnimation {
 from {
 font-size: 90px;
}
to {
	font-size: 100px;
}
}
@-webkit-keyframes tansformAnimation {
 from {
 font-size: 90px;
}
to {
	font-size: 100px;
}
}
@media screen and (max-width: 480px) {
.small-box {
	text-align: center;
}
.small-box .icon {
	display: none;
}
.small-box p {
	font-size: 12px;
}
}
/*
    component: Boxes
-------------------------
*/

.box.height-control .box-body {
	max-height: 300px;
	overflow: auto;
}
.box .box-header-top {
	position: relative;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 0px solid #f4f4f4;
	color: #444;
	padding-bottom: 10px;
}
.box .box-header-top:before, .box .box-header-top:after {
	display: table;
	content: " ";
}
.box .box-header-top:after {
	clear: both;
}
.box .box-header-top .fa, .box .box-header-top .glyphicon, .box .box-header-top .ion, .box .box-header-top .box-title {
	display: inline-block;
	padding: 10px 0px 10px 10px;
	margin: 0;
	font-size: 20px;
	font-weight: 400;
	float: left;
	cursor: default;
}
.box .box-header-top a {
	color: #444;
}
.box .box-header-top .box-tools {
	padding: 5px 10px 5px 5px;
}
.box .box-body {
	padding: 10px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.box .box-body table, .box .box-body .table {
	margin-bottom: 0;
}
.box .box-body.chart-responsive {
	width: 100%;
	overflow: hidden;
}
.box .box-body .chart {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.box .box-body .chart svg, .box .box-body .chart canvas {
	width: 100%!important;
}
.box .box-body .fc {
	margin-top: 5px;
}
.box .box-body .fc-header-top-title h2 {
	font-size: 15px;
	line-height: 1.6em;
	color: #666;
	margin-left: 10px;
}
.box .box-body .fc-header-top-right {
	padding-right: 10px;
}
.box .box-body .fc-header-top-left {
	padding-left: 10px;
}
.box .box-body .fc-widget-header-top {
	background: #fafafa;
	box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.02);
}
.box .box-body .fc-grid {
	width: 100%;
	border: 0;
}
.box .box-body .fc-widget-header-top:first-of-type, .box .box-body .fc-widget-content:first-of-type {
	border-left: 0;
	border-right: 0;
}
.box .box-body .fc-widget-header-top:last-of-type, .box .box-body .fc-widget-content:last-of-type {
	border-right: 0;
}
.box .box-body .table {
	margin-bottom: 0;
}
.box .box-body .full-width-chart {
	margin: -19px;
}
.box .box-body.no-padding .full-width-chart {
	margin: -9px;
}
.box .box-footer {
	border-top: 1px solid #f4f4f4;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px 0;
	background-color: #ffffff;
}
.box.box-solid {
	border-top: 0px;
}
.box.box-solid .box-header-top {
	padding-bottom: 0px!important;
}
.box.box-solid .box-header-top .btn.btn-default {
	background: transparent;
}
.box.box-solid.box-primary .box-header-top {
	color: #fff;
	background: #3c8dbc;
	background-color: #3c8dbc;
}
.box.box-solid.box-primary .box-header-top a {
	color: #444;
}
.box.box-solid.box-info .box-header-top {
	color: #fff;
	background: #00c0ef;
	background-color: #00c0ef;
}
.box.box-solid.box-info .box-header-top a {
	color: #444;
}
.box.box-solid.box-danger .box-header-top {
	color: #fff;
	background: #f56954;
	background-color: #f56954;
}
.box.box-solid.box-danger .box-header-top a {
	color: #444;
}
.box.box-solid.box-warning .box-header-top {
	color: #fff;
	background: #f39c12;
	background-color: #f39c12;
}
.box.box-solid.box-warning .box-header-top a {
	color: #444;
}
.box.box-solid.box-success .box-header-top {
	color: #fff;
	background: #00a65a;
	background-color: #00a65a;
}
.box.box-solid.box-success .box-header-top a {
	color: #444;
}
.box.box-solid .box-header-top .box-tools .btn {
	border: 0;
	box-shadow: none;
}
.box.box-solid.collapsed-box .box-header-top {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.box.box-solid[class*='bg'] .box-header-top {
	color: #fff;
}
.box .box-group .box {
	margin-bottom: 5px;
}
.box .knob-label {
	text-align: center;
	color: #333;
	font-weight: 100;
	font-size: 12px;
	margin-bottom: 0.3em;
}
.box .todo-list {
	margin: 0;
	padding: 0px 0px;
	list-style: none;
}
.box .todo-list li {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
	background: #f3f4f5;
	margin-bottom: 2px;
	border-left: 2px solid #e6e7e8;
	color: #444;
}
.box .todo-list li:last-of-type {
	margin-bottom: 0;
}
.box .todo-list li.danger {
	border-left-color: #f56954;
}
.box .todo-list li.warning {
	border-left-color: #f39c12;
}
.box .todo-list li.info {
	border-left-color: #00c0ef;
}
.box .todo-list li.success {
	border-left-color: #00a65a;
}
.box .todo-list li.primary {
	border-left-color: #3c8dbc;
}
.box .todo-list li input[type='checkbox'] {
	margin: 0 10px 0 5px;
}
.box .todo-list li .text {
	display: inline-block;
	margin-left: 5px;
	font-weight: 600;
}
.box .todo-list li .label {
	margin-left: 10px;
	font-size: 9px;
}
.box .todo-list li .tools {
	display: none;
	float: right;
	color: #f56954;
}
.box .todo-list li .tools .fa, .box .todo-list li .tools .glyphicon, .box .todo-list li .tools .ion {
	margin-right: 5px;
	cursor: pointer;
}
.box .todo-list li:hover .tools {
	display: inline-block;
}
.box .todo-list li.done {
	color: #999;
}
.box .todo-list li.done .text {
	text-decoration: line-through;
	font-weight: 500;
}
.box .todo-list li.done .label {
	background: #eaeaec !important;
}
.box .todo-list .handle {
	display: inline-block;
	cursor: move;
	margin: 0 5px;
}
.box .chat {
	padding: 5px 20px 5px 10px;
}
.box .chat .item {
	margin-bottom: 10px;
}
.box .chat .item:before, .box .chat .item:after {
	display: table;
	content: " ";
}
.box .chat .item:after {
	clear: both;
}
.box .chat .item img {
	width: 40px;
	height: 40px;
	border: 2px solid transparent;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}
.box .chat .item img.online {
	border: 2px solid #00a65a;
}
.box .chat .item img.offline {
	border: 2px solid #f56954;
}
.box .chat .item .message {
	margin-left: 55px;
	margin-top: -40px;
}
.box .chat .item .message .name {
	display: block;
	font-weight: 600;
}
.box .chat .item .attachment {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f0f0f0;
	margin-left: 65px;
	margin-right: 15px;
	padding: 10px;
}
.box .chat .item .attachment h4 {
	margin: 0 0 5px 0;
	font-weight: 600;
	font-size: 14px;
}
.box .chat .item .attachment p, .box .chat .item .attachment .filename {
	font-weight: 600;
	font-size: 13px;
	font-style: italic;
	margin: 0;
}
.box .chat .item .attachment:before, .box .chat .item .attachment:after {
	display: table;
	content: " ";
}
.box .chat .item .attachment:after {
	clear: both;
}
.box .overlay, .box .loading-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.box .overlay {
	z-index: 1010;
	background: rgba(255, 255, 255, 0.7);
}
.box .overlay.dark {
	background: rgba(0, 0, 0, 0.5);
}
.box .loading-img {
	z-index: 1020;
	background: transparent url('../img/ajax-loader1.gif') 50% 50% no-repeat;
}
/*
    Component: Buttons
-------------------------
*/
.btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-size: 12px;
	font-weight: 500;
}
.btn.btn-default {
	background-color: #fafafa;
	color: #666;
	border-color: #ddd;
	border-bottom-color: #ddd;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default.hover {
	background-color: #f4f4f4!important;
}
.btn.btn-default.btn-flat {
	border-bottom-color: #d9dadc;
}
.btn.btn-primary {
	background-color: #3c8dbc;
	border-color: #367fa9;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover {
	background-color: #367fa9;
}
.btn.btn-success {
	background-color: #00a65a;
	border-color: #008d4c;
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success.hover {
	background-color: #008d4c;
}
.btn.btn-info {
	background-color: #00c0ef;
	border-color: #00acd6;
}
.btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info.hover {
	background-color: #00acd6;
}
.btn.btn-danger {
	background-color: #006cff;
	border: none;
}
.btn.btn-warning {
	background-color: #f39c12;
	border-color: #e08e0b;
}
.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning.hover {
	background-color: #e08e0b;
}
.btn.btn-sm {
	font-size: 12px;
}
.btn.btn-lg {
	padding: 10px 16px;
}
.btn.btn-block {
	font-size: 15px;
	padding: 10px;
}
.btn.btn-block.btn-sm {
	font-size: 13px;
	padding: 7px;
}
.btn.btn-flat {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-width: 1px;
}
.btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:focus {
	outline: none;
}
.btn.btn-file {
	position: relative;
	width: 120px;
	height: 35px;
	overflow: hidden;
}
.btn.btn-file input[type='file'] {
	display: block !important;
	width: 100% !important;
	height: 35px !important;
	opacity: 0 !important;
	position: absolute;
	top: -10px;
	cursor: pointer;
}
.btn.btn-app {
	position: relative;
	padding: 15px 5px;
	margin: 0 0 10px 10px;
	min-width: 80px;
	height: 60px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
	color: #666;
	border: 1px solid #ddd;
	background-color: #fafafa;
	font-size: 12px;
}
.btn.btn-app .fa, .btn.btn-app .glyphicon, .btn.btn-app .ion {
	font-size: 20px;
	display: block;
}
.btn.btn-app:hover {
	background: #f4f4f4;
	color: #444;
	border-color: #aaa;
}
.btn.btn-app:active, .btn.btn-app:focus {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.btn-app .badge {
	position: absolute;
	top: -3px;
	right: -10px;
	font-size: 10px;
	font-weight: 400;
}
.btn.btn-social {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	opacity: 0.9;
	padding: 0;
}
.btn.btn-social .fa {
	padding: 10px 0;
	width: 40px;
}
.btn.btn-social .fa + span {
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.btn.btn-social span {
	padding: 10px;
}
.btn.btn-social:hover {
	opacity: 1;
}
.btn.btn-circle {
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
/* 
    Component: callout
------------------------
*/
.callout {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
.callout h4 {
	margin-top: 0;
}
.callout p:last-child {
	margin-bottom: 0;
}
.callout code, .callout .highlight {
	background-color: #fff;
}
.callout.callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.callout.callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.callout.callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
.callout.callout-danger h4 {
	color: #B94A48;
}
.callout.callout-warning h4 {
	color: #C09853;
}
.callout.callout-info h4 {
	color: #3A87AD;
}
/* 
    Component: alert
------------------------
*/
.alert {
	padding-left: 30px;
	position: relative;
	border: none;
	border-radius: none;
}
.alert .fa, .alert .glyphicon {
	display: inherit;
	height: 35px;
	left: 0;
	line-height: 35px;
	position: absolute;
	text-align: center;
	top: 7px;
	width: 35px;
}
.nav.nav-pills li a {
	border-top: 3px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #444;
}
.nav.nav-pills li a .fa, .nav.nav-pills li a .glyphicon, .nav.nav-pills li a .ion {
	margin-right: 5px;
}
.nav.nav-pills li.active a, .nav.nav-pills li.active a:hover {
	background-color: #f6f6f6;
	border-top-color: #3c8dbc;
	color: #444;
}
.nav.nav-pills li.active a {
	font-weight: 600;
}
.nav.nav-pills li a:hover {
	background-color: #f6f6f6;
}
.nav.nav-pills.nav-stacked li a {
	border-top: 0;
	border-left: 3px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #444;
}
.nav.nav-pills.nav-stacked li.active a, .nav.nav-pills.nav-stacked li.active a:hover {
	background-color: #f6f6f6;
	border-left-color: #3c8dbc;
	color: #444;
}
.nav.nav-pills.nav-stacked li.header-top {
	border-bottom: 1px solid #ddd;
	color: #777;
	margin-bottom: 10px;
	padding: 5px 10px;
	text-transform: uppercase;
}
/* NAV TABS */
.nav-tabs-custom {
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.nav-tabs-custom .nav-tabs {
	margin: 0;
	border-bottom-color: #f4f4f4;
}
.nav-tabs-custom .nav-tabs li {
	margin-bottom: -2px;
	margin-right: 5px;
}
.nav-tabs-custom .nav-tabs li a {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.nav-tabs-custom .nav-tabs li a, .nav-tabs-custom .nav-tabs li a:hover {
	background: transparent;
	margin: 0;
	color: #fff;
}
.nav-tabs-custom .nav-tabs li:not(.active) a:hover, .nav-tabs-custom .nav-tabs li:not(.active) a:focus, .nav-tabs-custom .nav-tabs li:not(.active) a:active {
	border-color: transparent;
}
.nav-tabs-custom .nav-tabs li.active {
	background: #006cff;
}
.nav-tabs-custom .nav-tabs li.active a, .nav-tabs-custom .nav-tabs li.active:hover a {
	/*background: #006cff;*/
	 background: #B3B3B3;

    width: 220px;
}
.nav-tabs-custom .nav-tabs li.active a {
	border-top: 0;
	border-left-color: #f4f4f4;
	border-right-color: #f4f4f4;
}
.nav-tabs-custom .nav-tabs li:first-of-type {
	margin-left: 0px;
}
.nav-tabs-custom .nav-tabs li:first-of-type.active a {
	border-left-width: 0;
}
.nav-tabs-custom .nav-tabs.pull-right {
	float: none!important;
}
.nav-tabs-custom .nav-tabs.pull-right li {
	float: right;
}
.nav-tabs-custom .nav-tabs.pull-right li:first-of-type {
	margin-right: 0px;
}
.nav-tabs-custom .nav-tabs.pull-right li:first-of-type.active a {
	border-left-width: 1px;
	border-right-width: 0px;
}
.nav-tabs-custom .nav-tabs li.header-top {
	font-weight: 400;
	line-height: 35px;
	padding: 0 10px;
	font-size: 20px;
	color: #444;
	cursor: default;
}
.nav-tabs-custom .nav-tabs li.header-top .fa, .nav-tabs-custom .nav-tabs li.header-top .glyphicon, .nav-tabs-custom .nav-tabs li.header-top .ion {
	margin-right: 10px;
}
.nav-tabs-custom .tab-content {
	background: #fff;
	padding: 10px;
}
/* PAGINATION */
.pagination li a {
	background: #fafafa;
	color: #666;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}
.pagination li:first-of-type a, .pagination li:last-of-type a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/*
    Component: Mailbox
*/
.mailbox .table-mailbox {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.mailbox .table-mailbox tr.unread td {
	background-color: rgba(0, 0, 0, 0.05);
	color: #000;
	font-weight: 600;
}
.mailbox .table-mailbox tr td .fa.fa-star, .mailbox .table-mailbox tr td .fa.fa-star-o, .mailbox .table-mailbox tr td .glyphicon.glyphicon-star, .mailbox .table-mailbox tr td .glyphicon.glyphicon-star-empty {
	color: #f39c12;
	cursor: pointer;
}
.mailbox .table-mailbox tr td.small-col {
	width: 30px;
}
.mailbox .table-mailbox tr td.name {
	width: 150px;
	font-weight: 600;
}
.mailbox .table-mailbox tr td.time {
	text-align: right;
	width: 100px;
}
.mailbox .table-mailbox tr td {
	white-space: nowrap;
}
.mailbox .table-mailbox tr td a {
	color: #444;
}
@media screen and (max-width: 767px) {
.mailbox .nav-stacked li:not(.header-top) {
	float: left;
	width: 50%;
}
.mailbox .nav-stacked li:not(.header-top).header-top {
	border: 0!important;
}
.mailbox .search-form {
	margin-top: 10px;
}
}
/*
    Page: locked screen
*/
/* ADD THIS CLASS TO THE <HTMLTAG */
.lockscreen {
	background: url(../img/blur-background09.jpg) repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* Remove the background from the body element */
.lockscreen body {
	background: transparent;
}
/* We will put the dynamically generated digital clock here */
.lockscreen .headline {
	color: #fff;
	text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
	font-weight: 300;
	-webkit-font-smoothing: antialiased !important;
	opacity: 0.8;
	margin: 10px 0 30px 0;
	font-size: 90px;
}
@media screen and (max-width: 480px) {
.lockscreen .headline {
	font-size: 60px;
	margin-bottom: 40px;
}
}
/* User name [optional] */
.lockscreen .lockscreen-name {
	text-align: center;
	font-weight: 600;
	font-size: 16px;
}
/* Will contain the image and the sign in form */
.lockscreen-item {
	padding: 0;
	background: #fff;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 10px auto;
	width: 290px;
}
.lockscreen-item:before, .lockscreen-item:after {
	display: table;
	content: " ";
}
.lockscreen-item:after {
	clear: both;
}
/* User image */
.lockscreen-item .lockscreen-image {
	position: absolute;
	left: -10px;
	top: -30px;
	background: #fff;
	padding: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: 10;
}
.lockscreen-item .lockscreen-image img {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
/* Contains the password input and the login button */
.lockscreen-item .lockscreen-credentials {
	margin-left: 80px;
}
.lockscreen-item .lockscreen-credentials input {
	border: 0 !important;
}
.lockscreen-item .lockscreen-credentials .btn {
	background-color: #fff;
	border: 0;
}
/* Extra to give the user an option to navigate the website [optional]*/
.lockscreen-link {
	margin-top: 30px;
	text-align: center;
}
/* 
    Page: register and login
*/
.form-box {
	width: 360px;
	margin: 90px auto 0 auto;
}
.form-box .header-top {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #3d9970;
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
	padding: 20px 10px;
	text-align: center;
	font-size: 26px;
	font-weight: 300;
	color: #fff;
}
.form-box .body, .form-box .footer {
	padding: 10px 20px;
	background: #fff;
	color: #444;
}
.form-box .body .form-group, .form-box .footer .form-group {
	margin-top: 20px;
}
.form-box .body .form-group input, .form-box .footer .form-group input {
	border: #fff;
}
.form-box .body .btn, .form-box .footer .btn {
	margin-bottom: 10px;
}
.form-box .footer {
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
@media (max-width: 767px) {
.form-box {
	width: 90%;
}
}
/* 
    Page: 404 and 500 error pages
------------------------------------
*/
.error-page {
	width: 600px;
	margin: 20px auto 0 auto;
}
@media screen and (max-width: 767px) {
.error-page {
	width: 100%;
}
}
.error-page .headline {
	float: left;
	font-size: 100px;
	font-weight: 300;
}
@media screen and (max-width: 767px) {
.error-page .headline {
	float: none;
	text-align: center;
}
}
.error-page .error-content {
	margin-left: 190px;
	display: block;
}
@media screen and (max-width: 767px) {
.error-page .error-content {
	margin-left: 0;
}
}
.error-page .error-content h3 {
	font-weight: 300;
	font-size: 25px;
}
@media screen and (max-width: 767px) {
.error-page .error-content h3 {
	text-align: center;
}
}
.error-page:before, .error-page:after {
	display: table;
	content: " ";
}
.error-page:after {
	clear: both;
}
/* 
    Page: Invoice
*/
.invoice {
	position: relative;
	width: 90%;
	margin: 10px auto;
	background: #fff;
	border: 1px solid #f4f4f4;
}
.invoice-title {
	margin-top: 0;
}
/* Enhancement for printing */
@media print {
.invoice {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}
.invoice-col {
	float: left;
	width: 33.3333333%;
}
.table-responsive {
	overflow: auto;
}
.table-responsive .table tr th, .table-responsive .table tr td {
	white-space: normal!important;
}
}
/*
    Skin Black
    --------
*/
/* skin-black navbar */
.skin-black .navbar {
	background-color: #ffffff;
	border-bottom: 1px solid #eee;
}
.skin-black .navbar .nav a {
	color: #333333;
}
.skin-black .navbar .nav li a:hover, .skin-black .navbar .nav li a:active, .skin-black .navbar .nav li a:focus, .skin-black .navbar .nav .open a, .skin-black .navbar .nav .open a:hover, .skin-black .navbar .nav .open a:focus {
	background: #ffffff;
	color: #999999;
}
.skin-black .navbar .navbar-right .nav {
	margin-right: 10px;
}
.skin-black .navbar .sidebar-toggle .icon-bar {
	background: #333333;
}
.skin-black .navbar .sidebar-toggle:hover .icon-bar {
	background: #999999 !important;
}
/* skin-black logo */
.skin-black .logo {
	background-color: #333333;
	color: #f9f9f9;
}
.skin-black .logo a {
	color: #f9f9f9;
}
.skin-black .logo:hover {
	background: #303030;
}
/* skin-black content header-top */
.skin-black .right-side .content-header-top {
	background: transparent;
	box-shadow: none;
}
/* Skin-red user panel */
.skin-black .user-panel .image img {
	border: 1px solid #444;
}
.skin-black .user-panel .info, .skin-black .user-panel .info a {
	color: #eee;
}
/* skin-black sidebar */
.skin-black .sidebar {
	border-bottom: 1px solid #333;
}
.skin-black .sidebar .sidebar-menu li {
	border-top: 1px solid #333;
	border-bottom: 0px solid #444;
}
.skin-black .sidebar .sidebar-menu li:first-of-type {
	border-top: 1px solid #444;
}
.skin-black .sidebar .sidebar-menu li:first-of-type a {
	border-top: 0px solid #333;
}
.skin-black .sidebar .sidebar-menu li a {
	margin-right: 1px;
}
.skin-black .sidebar .sidebar-menu li a:hover, .skin-black .sidebar .sidebar-menu li.active a {
	color: #f6f6f6;
	background: #444;
}
.skin-black .sidebar .sidebar-menu li .treeview-menu {
	margin: 0 1px;
	background: #444;
}
.skin-black .left-side {
	background: #333;
}
.skin-black .sidebar a {
	color: #eee;
}
.skin-black .sidebar a:hover {
	text-decoration: none;
}
.skin-black .treeview-menu li a {
	color: #ccc;
}
.skin-black .treeview-menu li.active a, .skin-black .treeview-menu li a:hover {
	color: #fff;
}
.skin-black .sidebar-form {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #555;
	margin: 10px 10px;
}
.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn {
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
	height: 35px;
	outline: none;
}
.skin-black .sidebar-form input[type="text"] {
	color: #666;
	-webkit-border-top-left-radius: 2px !important;
	-webkit-border-top-right-radius: 0 !important;
	-webkit-border-bottom-right-radius: 0 !important;
	-webkit-border-bottom-left-radius: 2px !important;
	-moz-border-radius-topleft: 2px !important;
	-moz-border-radius-topright: 0 !important;
	-moz-border-radius-bottomright: 0 !important;
	-moz-border-radius-bottomleft: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 2px !important;
}
.skin-black .sidebar-form input[type="text"]:focus, .skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #444;
	border: 0;
}
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	border-left: 0;
}
.skin-black .sidebar-form .btn {
	color: #999;
	-webkit-border-top-left-radius: 0 !important;
	-webkit-border-top-right-radius: 2px !important;
	-webkit-border-bottom-right-radius: 2px !important;
	-webkit-border-bottom-left-radius: 0 !important;
	-moz-border-radius-topleft: 0 !important;
	-moz-border-radius-topright: 2px !important;
	-moz-border-radius-bottomright: 2px !important;
	-moz-border-radius-bottomleft: 0 !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 0 !important;
	border-left: 0;
}
.pace .pace-progress {
	background: #00c0ef;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 2px;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}
.pace-inactive {
	display: none;
}
/*--newly added - back end--*/

.builder-ofthe-mnth {
	width: 208px;
	height: 214px;
	margin: 30px auto;
}
.builder-ofthe-mnth img {
	border: 7px solid #fff;
	max-width: 100%;
	height: 100%;
}
.buider-ofthe-mnth-details {
	width: 100%;
	height: auto;
	margin: 25px 0 0;
}
.buider-ofthe-mnth-details p {
	width: 60%;
	float: left;
	margin: 0;
	padding: 10px;
	border-radius: 0 5px 5px 0;
	background: #fff;
}
.buider-ofthe-mnth-details span {
	width: 40%;
	float: left;
	margin: 0;
	background: #363F45;
	color: #fff;
	padding: 10px;
	border-radius: 5px 0 0 5px;
}
.single-details-build {
	width: 100%;
	margin: 10px 0;
	float: left;
}
.congratulate button {
	padding: 10px 20px;
	font-size: 16px;
	margin: 10px 0;
}
label {
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 14px;
	display:inline-block;
	  vertical-align:top;
}
.padding-both {
	padding: 10px;
	display:inline-block;
}
.box {
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
/*.box:hover,.box:focus{box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);}*/

.box-2 {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}
.box input, .box select {
	height: 42px;
	padding: 8px;
}
.common-btn {
	/*padding: 7px 12px;
	font-size: 14px;
	border: none;*/
/*Given by Anupam*/
	/* padding: 7px 12px; */

    font-size: 14px;

    border: none;

    /* width: 120%; */

    padding-left: 5em;

    padding-right: 5em;

    padding-top: 4px;

    padding-bottom: 4px;
}
.common-btn:hover {
	color: #fff;
}
a.trash {
	color: red;
	margin: 0 5px;
}
table.tablesorter thead {
	cursor: pointer;
}
table.tablesorter thead tr th:hover {
	background-color: #F5F5F5;
}
a.btn {
	padding: 6px 10px;
	font-size: 12px;
}
.add-nav ul li a {
	display: block;
	padding: 5px 15px;
	position: relative;
}
.add-nav nav-tabs ul li.active {
	background: #8dbf41;
	border-top: 1px solid #fff;
	border-top-color: #fff;
}
.add-nav nav-tabs li.active a, .add-nav nav-tabs li.active:hover a {
	background-color: #8dbf41 !important;
	color: #fff;
}
.panel-heading2 {
	background: none repeat scroll 0 0 #718893;
	color: #fff;
	height: 35px;
	margin: 0 0 1px;
	padding: 9px 15px;
}
.bg-build {
	background: url("../images/bg-build.jpg") no-repeat;
}
.sidebar .sidebar-menu li:last-child {
	border: none;
}
.dashboxcl1 {
	background: #f79263;
}
.dashboxcl2 {
	background: #6fb3e0;
}
.dashboxcl3 {
	background: #f1c40f;
}
.dashboxcl4 {
	background: #67bf67;
}
.dashboxcl5 {
	background: #f4b162;
}
.dashboxcl6 {
	background: #af91e1;
}
.dashboxcl7 {
	background: #e65097;
}
.dashboxcl8 {
	background: #f68484;
}
.tile {
	color: #fff !important;
}
.tile i {
	color: #ffffff;
	font-size: 59px;
	opacity: 0.5;
}
.carousel {
	margin: 0 0 12px;
	position: relative;
}
.main-hed {
	border-bottom: 1px solid #006cff;
	color: #000;
	font-weight: bold;
	margin: 0 0 19px;
	padding: 0 0 5px;
}
.main-hed h5 {
	font-size: 18px;
}
.usercl1 {
	color: #006cff;
}
.usercl2 {
	color: #5998c7;
}
.usercl3 {
	color: #62747d;
}
.usercl1-b {
	border: 2px dashed #006cff;
}
.usercl2-b {
	border: 2px dashed #5998c7;
}
.usercl3-b {
	border: 2px dashed #62747d;
}
.use-boxes {
	border: 2px dotted #000;
}
.use-boxes {
}
.product-image-thumbnail {
	width: 136px;
	height: 91px;
	margin: auto;
}
.product-image-thumbnail img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
input[type=text].product-input {
	border: 1px solid #006cff;
	padding: 6px 8px;
	width: 74px;
}
.label-act {
	background: #006cff;
}
.label-dect {
	background-color: #ee6554;
}
.label-not {
	background-color: #f79263;
}
.label-not2 {
	background-color: #6fb3e0;
}
.label-not3 {
	background-color: #f1c40f;
}


#dashbox:hover{ opacity:0.6;}
