@media screen and (max-width:1024px) {
.round-wrap{
	width:100%;
}
.circle-one {
  width: 126.70px;
}
header .top ul li {
   padding: 0 9px 0 6px;
}
.search-box-outer{
	margin-bottom:0px;
}
}
@media screen and (min-width:769px) and (max-width:1023px){
.round-shape{
	background:none;
	width:100%;
}	
.phone-hand {
  margin: 0 auto;
  position: relative;
  width: 42%;
  /* margin-top: 50%; */
  padding-top: 51%;
  padding-bottom: 0px;
}
section h1 {
	padding-top:0%;
}
.circle-one {
	width:20%;
}
}
@media screen and (max-width:768px) {
.menu-section{
	width:100%;
	float:none;
	margin-top:0px;
}

.search-title{
	width:100%;
}
.circle-one {
  width: 150px;
}
.center-part {
  width: 95%;
}
section h1 {
	padding-top:77%;
}
.tab-chart {
	width:100%;
}
footer input[type="text"] {
  font-size: 17px;
  color: #b6b6b6;
  padding: 5px 11px;
}
.grid figure {
 
  
  margin: 0px auto;
  width: 100%;
}
}

@media screen and (max-width:767px) {
	.search-box-outer {
  width: 90%;
	}
	.circle-one {
  width: auto;
}
#logo img {
	display:block;
	margin:0 auto;
	padding:5px;
}
.round-shape{
	background:none;
	width:100%;
}

.center-part ul li:first-child,.center-part ul li:last-child{
	margin:0px auto;
	float:none;
	padding-bottom:75px;
}
.round-shape ul {
	width:50%;
	margin:15px auto;
	display:block;

	
}
.round-shape ul li {
	margin:0 auto;
	display:block;
	margin-bottom:75px;
}
.round-shape ul li:nth-child(2){
	margin-top:65px;
}
.nav > li > a .circle-shape {
	display:block;
	margin:0 auto;
}
.nav > li > a > h1 {
	text-align:center;
	display:block;
}
.phone-hand {
	display:none;
}
section h1 {
  padding-top: 110%;
}
.bottomg-bg {
	background:#fbc211;
}
footer h1,footer p,ul.contact li {
	text-align:center;
}
footer input[type="text"] {
	margin-left:25%;
}
footer h1 {
	padding-bottom:2%;
}
.tabs-section .tab-content .service ul li {
	width:100%;
}
#slider {
	position:relative;
}
.search-title,.round-wrap {
	margin-top:0px;
}
#logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius:3px;
  background: #da726c;
}
.modal.modal-wide .modal-dialog {
  width: 100%;
  position: relative;
  z-index: 99999999999 !important;
}
.modal-body {
	padding:10px 0px;
}
.pop-up-inner .form-class input[type="text"],.pop-up-inner .form-class input[type="submit"],.pop-up-inner .form-class input[type="reset"],.pop-up-inner .form-class textarea{
	width:100%;
	margin:0px 0 5px 0;
}
}
@media screen and (max-width:480px) {
.search-box-outer {
  width: 100%;
}
.search-box-outer .location-icon {
	width:38%;
}
.circle-one {
  width: 24.70%;
}
section h1 {
  padding-top: 0%;
}
.round-shape{
	width:100%;
}
#logo img{
  display: block;
  margin: 0 auto;
  width: 50%;
}
.round-shape {
	margin-top:0%;
}
.bottom ul li {
	display:block;
	text-align:center;
	border:none;
}
.bottom ul {
	float:none;
	width:100%;
}
}
@media screen and (min-width:320px) and (max-width:470px){
.bg_story h1{
	font-size:24px;
}
.search-title h1,section h1 {
	font-size:20px;
}
#slider h2 {
	font-size:16px;
}
.circle-one {
  width: 49%;
}
section h1 {
	padding-top:0%;
}
.nav-tabs {
	width:100%;
}
.tab-content {
	width:100%;
}
.search-box-outer .search-icon,.search-box-outer .location-icon,.search-box-outer input[type=submit] {
	width:100%;
	margin:5px 0;
}
.iphone {
	float:none;
	margin:0 auto;
	width:50%;
	display:block;
}
footer input[type="text"] {
	margin-left:0%;
	padding-left:3px;
}
}