/* created by sumesh */
.pop-up-inner .form-class .form-control{
	border-radius: 3px;
  background: #FFF;
  padding: 6px;
  width: 75%;
  display: inline-block;
  color: #000;
  border: none;
  font-size: 14px;
  vertical-align:middle;
  margin-bottom: 5px;
}
