﻿

/* HEADER 
-------------------------- */

.location_icon {
	background-image: url('../front-end-images/location_icon.png');
}
/* .select {
	background-color: #c9fad1;
	color: #159a2b;
	border: 0;
	padding: .2em;
	width: 11.5em;
} */
/* .how_it_work {
	background-image: url('../front-end-images/how_it_works.png');
} */

.login {
	/* background-image: url('../front-end-images/login_bg.png'); */
}

.login:hover {
	/* background-image: url('../front-end-images/login_bg_hover.png'); */
}
.info {
	background-image: url('../front-end-images/info_icon.png');
}
.info:hover {
	background-image: url('../front-end-images/info_icon_hover.png');
}

/* Area location select 
--------------------------------- */
span.select{
	background:url(../front-end-images/select-icons.png) no-repeat right -116px;
	color: #808080;
}

/* LAYOUT
---------------------------- */
/* LOGIN 
------------------------------- */
.lbl_input_c .input_c  input[type='button']{
	/* background-color: #55D86C;
	border: 1px solid #489A4C; */
	background-image: url('../front-end-images/popup_login_btn.png');	
}
.lbl_input_c .input_c  input[type='submit']{
	/* background-color: #55D86C;
	border: 1px solid #489A4C; */
	background-image: url('../front-end-images/popup_login_btn.png');	
}
.lbl_input_c .input_c  input[type='button']:hover{
	background-image: url('../front-end-images/popup_login_btn_hover.png');
	/* background-color: #26C542; */
}

/* SERVICE SEARCH TAB
------------------------------------ */
/* .tab_c  h4 {
	margin: 0 auto;
	cursor: pointer;
	text-align: right;
	line-height: 26px;
	font-size: 1.3em;
	color: #716f70;
	background-position: left center;
}*/

.tab_c  a span.healthcare_icon {	
	color: rgba(255, 113, 113, 0.82);
	background-image: url('../front-end-images/healthcare_icon.png');
}
.tab_c  a:hover {	
	color: rgba(255, 113, 113, 0.82);
}
/* .tab_c  h4.wellness_icon  a{
	color: #716F70;
	width: 120px;
	height: 24px;
	background-image: url('../front-end-images/wellness_icon.png');
	background-repeat: no-repeat;
}*/
.tab_c  h4.active_tab, .tab_c  h4:hover {
	color: rgba(255, 113, 113, 0.82);
}
.tab_c  h4.active_tab, .tab_c  h4 span.active_tab, .tab_c  h4:hover span, .tab_c  h4:hover {
	color: rgba(255, 113, 113, 0.82);
}
.tab_sub_btn_c {
	border: 1px solid #cecdcd;
	    margin: 0 7px 0 7px;
	    padding: 8px;
}
.sub_tab {
	border-right: 1px solid #cecdcd;
	width: 33.2%;
	height: 2.1em;
	padding-top: .6em;
}
.sub_tab h4 {
	font-size: 1.05em;
	font-family: Helvetica,sans-serif;
}
.hospitals {
	width: 110px;	
	background-image: url('../front-end-images/hospitals_icon.png');
	background-repeat: no-repeat;
}
.private_clinics {
	width: 149px;
	background-image: url('../front-end-images/private_clinics_icons.png');
	background-repeat: no-repeat;
}
.diagonistic_centers {
	width: 200px;
	background-image: url('../front-end-images/diagonistic_centers_icon.png');
	background-repeat: no-repeat;
}

/*.tab_info_c {
	padding: 2em 0;
	border: 1px solid #cecdcd;
	display: none;
}*/
/*.tab_info_c div  {
	/* padding: .6em 0.5em; * /
	position: relative;
	width: 40%;
	margin-left: 1em;
	/* border: 1px solid #cecdcd; * /
}*/
/*.tab_info_c div .feeling_lazy {
	position: absolute;
	z-index:1;
	top: 4px;
	left: 7px;
}*/
/*.tab_info_c div  input[type='text']{
	padding: .6em 1% .6em 9%;
	width: 90%;
	/* margin-left: 1em; * /
	border: 1px solid #cecdcd;
}*/
/*.search_speciality {
	background-image: url('../front-end-images/input_search_icon.png');
	 background-repeat: no-repeat;
	background-position: 13px 8px;
} 
.area_speciality {
	background-image: url('../front-end-images/inut_location_icon.png');
	/* background-repeat: no-repeat;
	background-position: 13px 8px; * /
}*/


/* DOWN ARROW ICON
---------------------------- */
.down_arrow_c  {
	display: block;
	margin: 2em 0 0 0;
}
.down_arrow_c img {
	display: block;
	margin: 0 auto;
}

/* Page center icon
--------------------------- */
.center_page_icon {
	background-image: url('../front-end-images/hr.png');
}

/* Lazy Feeling Icon */
.felling_lazy_c a, .felling_lazy_c a:link, .felling_lazy_c a:visited, .felling_lazy_c a:active  {
	background-image: url('../front-end-images/feelingLazy.png');
}
.felling_lazy_c a:hover  {
	color: rgba(255, 113, 113, 0.82);
	border: 1px solid rgba(255, 113, 113, 0.82);
}
.felling_lazy_c a:hover span  {
	background-image: url('../front-end-images/feeling_lazy_box_arrow_hover.png');
}


/* HOME SECTIONS
--------------------------------- */
.section h1, .section h2,.section h5, .section p {
	text-align: center;
	color: #434343;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
}
.section h1 {
	background-image: url('../front-end-images/hart_bit_line.png');
}
.section h2 {
	font-size: 1.3em;
	font-weight: 600;
	margin: .5em 0 .2em 0;
}
.section p {
	margin: .2em 0 1em 0;
}
.section h5 {
	font-size: 1.31em;
	margin: .2em 0 1.5em 0;
	font-weight: normal;
	text-align: center;
}

.how_it_work_icon_c  {
	margin: 0 auto;
	width: 923px;
}
.how_it_work_icon_c .icon_info_c {
	width: 214px;
}
.how_it_work_icon_c .icon_info_c .icon_c {
	width: 214px;
	height: 213px;
	background-color: #FFF;
	padding-top: 1px;
	margin-bottom: 1.4em;
	
	/* Radius corner */
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	
	/* shadow */
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.4);
}
.how_it_work_icon_c .icon_info_c .icon_c  img {
	display: block;
	margin: 2.7em auto 0px auto;
}
.how_it_work_icon_c  .arrow_c {
	height: 214px;
	width: 140px;
	background-image: url('../front-end-images/arrrow.png');
	background-repeat: no-repeat;
	background-position: center center;
}


/**/
.recommended_for_you_c  {
	margin: 0 auto;
	width: 990px;
}

.recommended_for_you_c .img_c {
	width: 304px;
	background-color: #FFF;
	
	/* shadow */
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.15);
}
.img_c_l_margin {
	margin-right: 1.594em;
}
.recommended_for_you_c .img_c  img {
	display: block;
	margin: .7em auto 0px auto;
}
.recommended_for_you_c h4 {
	text-align: left;
	color: rgba(255, 113, 113, 0.82);
	font-size: 1em;
	font-weight: 600;
	margin: .5em 0 0 .8em;
}
/* Read More */
.read_more_arrow {
	background-image: url('../front-end-images/read_more.png');
	height: 40px !important;
    border-top: 1px solid #CECDCD;
    margin: 5px !important;
}
.recommended_for_you_c a:hover{
	color: rgba(255, 113, 113, 0.82);
}

.read_more_arrow:hover {
	background-image: url('../front-end-images/read_more_hover.png');
}


/* OUR MISSION 
------------------------- */
.our_mission_icon_c .activeicon_c {
	border: 2px solid rgba(255, 113, 113, 0.82);
}
.mission_info h4 {
	color: rgba(255, 113, 113, 0.82);
}

/* Select tag will change the arrow by default arrow */
.sbHolder{
	/* background-color: #C9FAD1; */
	color: #159A2B;
	border: solid 1px #515151;
	font-family: Arial, sans-serif;
	/* font-size: 12px; */
	font-weight: normal;
	height: 30px;
	position: relative;
	width: 174px;
	float: right;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 30px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 135px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #159A2B;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(../front-end-images/select-icons.png) 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	background: url(../front-end-images/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
	background: url(../front-end-images/select-icons.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: url(../front-end-images/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #FFF;
	border: solid 1px #515151;
	list-style: none;
	left: -1px;
	margin: 0 !important;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 174px;
	z-index: 1;
	overflow-y: auto;
}
.header_link_c ul.sbOptions li{
	padding: 0 7px;
	float: initial;
	display: block;
	text-align: left;
}
.header_link_c ul.sbOptions a{
	border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #808080;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #159A2B;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #159A2B;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}
/* End of select tag */