﻿/* Max width: 1024 */

@media (max-width: 1024px){
	.main, .header_link_c {
		width: 100%;
	}
	/* .felling_lazy_c {
		width: 80%;
		height: 92px;
		margin: 6em auto 1.5em;
	} */
	
}

@media (max-width: 900px) {
	.tab_info_c div {
		position: relative;
		width: 38%;
		margin-left: 1em;
	}
	.tab_info_c div  input[type='text']{
		width: 80%;
	}
}
@media (max-width: 768px) {
	.tab_info_c div {
		position: relative;
		width: 38%;
		margin-left: 1em;
	}
	.tab_info_c div  input[type='text']{
		width: 80%;
	}
}