﻿* {
	margin: 0;
	padding: 0;
}

body {
    background-color: hsl(0, 0%, 99%) !important;
    font-family: arial;
    line-height: 20px;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: 0;
}
p {
	color: #434343;
	
}
a:hover, a:focus {

    text-decoration: inherit !important;

    outline:0px;
}
.container{
	padding: 0px !important;
	margin:0px;
}
.row{
	margin:0px auto;

}

.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    /* border-top: 1px solid #eee; */
}

/* FLOATING 
--------------------- */
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
/* Alignment */
.center_align {
	text-align: center;
	display: block;
}

/* OVERLAY 
---------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.4;
	z-index: 99;
	display: none;	
}
.overlay_usr {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.4;
	z-index: 99;
	display: none;	
}
.container, .header_c {
	width: 100%;
	position: relative;
}
.header_c {
	position: fixed;
	background-color: #FCFCFC;
	z-index: 9;	
	left: 0;
}

.header_link_c .navbar-nav>li>a{
	  padding-top: 0px; 
    
    line-height: 0px; 
}
.active_header {
	border-bottom: 1px solid #B7B7B7;
	/* Box shadow */
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.08);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.08);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.08);
}
.header_link_c {
	width: 100%;
	margin: 0 auto;
	height: 6em;
	position: relative;
	z-index: 1;
	font-family:Arial,sans-serif;
	
}
.header_link_c a {
	font-family:Arial,sans-serif;
}
.main {
	
	margin: 0 auto;	
	
	padding-bottom: .9em;
	padding-top: 9em;
	
	
	z-index: 0;	
}

/* HEADER 
-------------------------- */
.logo_c {
	height: 5.4375em;
	
	border-top: 0px !important;
	margin-left: 1em;	
	position: absolute;
	z-index: 9999;
	
}
.logo_c img {
	display: block;
	margin: .6em auto 0 auto;
}

.header_link_c ul  {
	margin-top: 1.82em;
	margin-right: 1em;	
}
.header_link_c ul li {
	display: inline-block;
	float: left;
	height: 30px;
	margin: 0 1px 0 1em;
	font-size: 12px;
	line-height: 1.5em;
	text-align: center;
	position: relative;
}
/* Area select
------------------------------------- */
div.area_select_c{
	position:relative;
	top: 1px;
} 

/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{
	position: relative;
	width: 174px;
	height: 29px;
	line-height: 26px;
	background-color: #FCFCFC;
	border: 1px solid #808080;
}

/* dynamically created SPAN, placed below the SELECT */
span.select{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:166px;
	height:26px;
	line-height:26px;
	cursor:default;
	z-index:1;
	
	border: 1px solid #CECDCD;
	text-align: left;
}
.select {	
	border: 0;
	padding: .2em;
	width: 11.5em;
}
/* Read More */
.read_more_arrow {

	
}
.recommended_for_you_c a {
	display: block;
	text-align: right;
	color: #434343;
	font-size: 1em;
	 font-weight: 500;
	
	
	height: 32px;
	background-position: 17em center;
	line-height: 32px;
	background-repeat: no-repeat;
	
	padding: 0.3em 5em 0.3em 0.5em;
	margin-top: .35em;
	  text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
}
/* Lazy Feeling Icon */
.felling_lazy_c {
	width: 100%;
	height: 92px;
	margin: 6em auto  1.5em auto;
}
.felling_lazy_icon_c, .felling_lazy_info_c {
	width: 50%;
}
.felling_lazy_c a, .felling_lazy_c a:link, .felling_lazy_c a:visited, .felling_lazy_c a:active  {
	position: relative;
	display: block;
	
	border: 1px solid #CCC;
	margin-right: .5em;
	color: #666;
	padding: 1.5em .6em 1.5em 4em;
	font-size: 30px;
	background-repeat: no-repeat;
	background-position: .6em center;
	text-align: right;
}
.felling_lazy_c a:hover  {
	color: #1ABEE0;
	border: 1px solid #1ABEE0;
}
.felling_lazy_c a span  {
	display: block;
	height: 19px;
	width: 11px;
	position: absolute;
	right: -11px;
	top: 52px;
	background-image: url('../front-end-images/feeling_lazy_box_arrow.png');
	background-repeat: no-repeat;
}

.felling_lazy_c .felling_lazy_info_c  div {
	width: 17em;
	color: #434343;
	margin: 1.1em 0 0 .5em;
	font-size: 1.3em;
}
.felling_lazy_c  h4{
	font-weight: normal;
}

/* OR 
---------------------------------- */
.or {
	margin-top: 4em;
}
.section h1 {
	font-size: 2em;
	font-weight: 600;
	margin: .5em 0 .2em 0;
	padding-bottom: .7em;
	background-position: center bottom;
	background-repeat: no-repeat;
}

/* Page center icon
--------------------------- */
.center_page_icon {
	width: 97%;
	margin: 4em auto .8em auto;
	background-repeat: repeat-x;
	background-position: center;
}
.center_page_icon .icon_c {
	width: 120px;
	margin: 0 auto;
	height: 69px;
	background-color: #FCFCFC;
}
.center_page_icon .icon_c img{
	width: 69px;
	margin: 0 auto;
	display: block;
}
/* HEADER 
-------------------------- */
.logo_c {
	
}

.location_icon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 24px;
	height: 24px;
	display: block;
	margin-right: .2em;
	margin-top: 3px;
}

.how_it_work, .reading_list_link {
	color: #808080;
	padding: .3em 7px 0.3em 27px;
	background-repeat: no-repeat;
	line-height: 30px;
}
.how_it_work {
	background-image: url('../front-end-images/how_it_works.png');
	    text-decoration: none;
    outline: 0px;
    top:5px;
}
.how_it_work:hover {
	color: rgba(255, 113, 113, 0.82);
	    text-decoration: none;
    outline: 0px;
	
}
.reading_list_link {
	background-image: url('../front-end-images/readingList_menu.png');
	top:5px;
}
.reading_list_link:hover {
	color: rgba(255, 113, 113, 0.82);
	    text-decoration: none;
    outline: 0px;
}



.reading_list_c {
	display: none;
	background-color: #FFF;
	padding: .7em 0.5em;
	position: absolute;
	top: 80px;
	width: 79%;
   
	border: 1px solid #808080;
	
	/* Rounded corner */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	/* Box shadow */
	-webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px 7px 10px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         0px 7px 10px 0px rgba(50, 50, 50, 0.35);
}
.news_menu_direction_arrow {
	display: block;
	width: 12px;
	height: 8px;
	position: absolute;
	top: -8px;
	right: 62px;
	z-index: 10;
	background-image: url('../front-end-images/news_arrow.png');
	background-repeat: no-repeat;
}
.reading_list, .reading_list_news {
	
	background-color: #F6F6F6;
	margin: 0.25em 0.25em 0 15px;
	 height: 210px;
}
.reading_list > a {
	    text-decoration: none;
    outline: 0px;
	display: block;
	
	text-align: center;
	width: 12em;
	padding-top: 9em;
	background-repeat: no-repeat;
	background-position: center 20px;
	
}
.reading_list > a > span{
	display: block;	
}
.list_caption {
	font-size: 1em;
	margin-bottom: .3em;
	font-weight: bold;
	color: #FF8A8A;
}
.list_info {
	font-size: .9em;
	color: #1E1E1E;
}
.my_reading_list {
	background-image: url('../front-end-images/readingList.png');
}
.reading_list .history {
	background-image: url('../front-end-images/history.png');
	    text-decoration: none;
    outline: 0px;
}

.my_news {
	
	padding: .5em;
	font-size: 1em;
	background-color: #FF8A8A;
	color: #FFF !important;
} 
.myNews_c {
	
	padding: 1em .5em;
	
}
.myNews_ul {
	margin-top: .9em !important;
}
.myNews_ul li{
	margin: 0 0 1em 0;
	float: initial !important;
	text-align: left !important;
	line-height: initial !important;
	padding: .5em 0 .5em 1.8em;
	height: auto !important;
	background-image: url('../front-end-images/arrow_icon.png');
	background-repeat: no-repeat;
	background-position: left .6875em;
}

.myNews_ul li {
	
}
.login {
	background-repeat: no-repeat;
	width: 49px;
	height: 32px;
	line-height: 33px;
	display: block;
	float: left;
	color: #808080;
	padding-left: 1.8em !important;
	text-align: left;
	cursor: pointer;
	border: 1px solid #808080;
	background-image: url('../front-end-images/login_icon.png');
	background-repeat: no-repeat;
	background-position: 3px center;
	
	
	/* Radius corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.login:hover {
	border: 1px solid rgba(255, 113, 113, 0.82);
}
.info {
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	margin-top: 4px;
	cursor: pointer;
}


/* POPUP 
------------------------------ */
.login_popup_c, .signup_pop_up_c {
	display: none;
	position: relative;
	width: 64em;
	background-color: #FFF;
	border: 1px solid #CCC;
	
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -32em;
	z-index: 999;
	padding: .5em 0 1em 0;
}
.pop_up_close {
	width: 32px;
	height: 32px;
	background-image: url('../front-end-images/pop_up_close.png');
	background-repeat: no-repeat;
	position: absolute;
	top: .2em;
	right: .2em;
	cursor: pointer;
}
.pop_up_close:hover {
	background-image: url('../front-end-images/pop_up_close_hover.png');
}
.popup_caption {
	margin: 0 0.5em;
}
.popup_caption {
	
	  font-size: 1.5em;
    color: #7B7979;
    margin-bottom: 0.8em;
    text-align: center;
    border-bottom: 1px solid #DCDCDC;
    padding-top: .3em;
}
.login_popup_c .left_div, .login_popup_c .right_div, .signup_pop_up_c .left_div, .signup_pop_up_c .right_div  {
	width: 45%;
	background-color: #FFF;
	
	float: left;
}
.login_popup_c .right_div, .signup_pop_up_c .right_div {
	float: right;
}
.right_div  .link_c a {
	display: block;
	width: 65%;
	height: 40px;
	line-height: 37px;
	background-position: .7em center;
	background-repeat: no-repeat;
	text-align: center;
	color: #FFF;
	margin-bottom: 1em;
}
.right_div  .link_c a.fb {
	background-color: #355597;
	background-image: url('../front-end-images/fb_link.png');
}
.right_div  .link_c a.google {
	background-color: #cf4332;
	background-image: url('../front-end-images/google_link.png');
}
.right_div  .link_c a.fb:hover {
	background-color: #3866C6;
}
.right_div  .link_c a.google:hover {
	background-color: #EF5442;
}



/* check box */
.checkdBox_c div{
	margin: .8em 0;
	font-size: .95em;
	background   : url('../front-end-images/checked.png') no-repeat 0 center;
	padding-left: 1.5em;
}

.checkBox_c input[type=checkbox], .checkBox_c input[type=radio]{
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
  font-size: .90em;
}

.checkBox_c input[type=checkbox] + label {
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../front-end-images/checkbox_off.png') no-repeat 0 0;
  line-height  : 21px;
  font-size: .90em;
}

.checkBox_c input[type=checkbox]:checked + label {
  background   : url('../front-end-images/checkbox_on.png') no-repeat 0 0;
  font-size: .90em;
}
.checkBox_c input[type=radio] + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../front-end-images/radiobutton_off.png') no-repeat 0 0;
  line-height  : 21px;
  font-size: .90em;
}

.checkBox_c input[type=radio]:checked + label{
  background   : url('../front-end-images/radiobutton_on.png') no-repeat 0 0;
}


/* FORM 
------------------------------ */

.forgotPass_pop_up_c textarea, .forgotPass_pop_up_c input[type='text']{
	width: 98%;
	height: 33px;
	border: 1px solid #ddd;
	display: block;
	padding-left: .3em;
	margin: 0 0 .3em 0;
}
.forgotPass_pop_up_c textarea, .forgotPass_pop_up_c input[type='email']{
	width: 98%;
	height: 33px;
	border: 1px solid #ddd;
	display: block;
	padding-left: .3em;
	margin: 0 0 .3em 0;
}
.forgotPass_pop_up_c textarea{
	height: 60px;
	padding-top: .2em;
}
.lbl_input_c {
	padding: .5em;
	margin: .5em ;
	font-size: .95em;
}
.lbl_input_c .lbl_c {
	
	    width: 30%;
    float: left;
    padding-top: .8em;
    
    font-weight: 500;
}
.lbl_input_c .input_c {
	width: 70%;
	float: right;
	position: relative;
}
.lbl_input_c .input_c  input[type='text']{
	width: 96%;
	padding: 0 .3em;
	height: 2.7em;
	border: 1px solid #DDD;
}
.lbl_input_c .input_c  input[type='email'],input[type='password']{
	width: 96%;
	padding: 0 .3em;
	height: 2.7em;
	border: 1px solid #DDD;
}
.lbl_input_c .input_c  input[type='button'], .lbl_input_c .input_c  input[type='submit'], .lbl_input_c .input_c  input[type='reset'], .lbl_input_c .input_c  .btn{
	width: 96%;
	padding: 0 2%;	
	cursor: pointer;
	
	display: inline-block;
	height: 40px;
	line-height: 37px;
	position: relative;
	color:rgb(255,255,255);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	background-repeat: no-repeat;
	background-position: left center;
	border: 0
}
.forgot_pass, .registration, .sign_up {
	  display: inline-block;
    cursor: pointer;
    font-style: italic;
    font-weight: 500;
	
}
.sign_up {
	  display: inline-block;
    margin-left: .8em;
    font-weight: 800;
	
}
.forgot_pass:hover, .registration:hover, .sign_up:hover {
	text-decoration: underline;
}


/* Form Validation */
.validation_c {
	width: 14.5em;
	height: 2em;
	display: block;
	position: absolute;
	top: 2em;
	left: 5em;
	border: 1px solid #F00;
	background-color: #FFF;
	z-index: 9;
	
	/* box shadow */
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.3);
}
.validation_arrow {
	background-image: url("../front-end-images/validation_arrow.png");
	background-repeat: no-repeat;
	background-position: 1em top;
	position: absolute;
	top: -7px;
	padding-top: 13px;
	padding-left: 0.5em;
	
}
/* Info popup */
.info_pop_up_c {
	display: none;
	width: 600px;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	position: fixed;
	z-index: 999;
	top: 20%;
	left: 50%;
	margin-left: -310px;
	background-color: #FFF;
	
}
 .tbl{ 
	table-layout: fixed;
	border-collapse: collapse;
}
 .tbl_border td, .tbl_border th { 
	border: 1px solid #DDD;
	
 }
.info_pop_up_c .tbl{ 
	width: 100%;
}
.info_pop_up_c .tbl td{ 
	border: 1px solid #DDD;
	padding: 1em;
}
.tbl td{ 
	vertical-align: top;
}
.info_pop_up_c table td a { 
	background-repeat: no-repeat;
	background-position: 10px center;
	display: block;
	height: 25px;
	padding-left: 36px;
	line-height: 25px;
	font-size: .95em;
	margin-left: 30px;
	cursor: pointer;
	text-decoration: none;
}
.info_pop_up_c table td a:hover { 
	text-decoration: underline;
}
.info_pop_up_c .about {
	background-image: url('../front-end-images/about_us.png');	
}
.info_pop_up_c .contact{
	background-image: url('../front-end-images/contact.png');	
}
.info_pop_up_c .contribute{
	background-image: url('../front-end-images/about_us.png');	
}
.info_pop_up_c .faq{
	background-image: url('../front-end-images/faq.png');	
}
.info_pop_up_c .advertise{
	background-image: url('../front-end-images/advertisment.png');	
}
.info_pop_up_c .careers{
	background-image: url('../front-end-images/careers.png');	
}
.info_pop_up_c .privacy_policy{
	background-image: url('../front-end-images/privacy_policy.png');	
}
.info_pop_up_c .terms_conditions{
	background-image: url('../front-end-images/terms_conditions.png');	
}
.social_tbl {
	border: 0px none !important;
	width: 40%;
	table-layout: fixed;
	margin: 0px auto;
	margin-top: 10px !important;
}
.social_tbl table td{ 
	border: 0px !important;
	padding: 1em;
}
.social_tbl  img {
	margin:  0 auto;
	cursor: pointer;
}
/* SIGNUP & FORGOT PASSWORD popup */
.forgotPass_pop_up_c {
	display: none;
	width: 600px;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	position: fixed;
	z-index: 999;
	top: 20%;
	left: 50%;
	margin-left: -310px;
	background-color: #FFF;
	/* border: 1px solid #DDD; */
}
.forgotPass_pop_up_c .tbl{ 
	/* table-layout: fixed; */
	/* display: block; */
	margin: 0 auto;
	width: 400px;
	border-collapse: collapse;
}
/* LAYOUT
---------------------------- */
.border_right {
	border-right: 0 !important;
}
.caption {
	color: #808080;
	text-align: center;
	font-size: 1.75em;
	font-family: Open Sans;
	padding: 1em 0px 0 0px;
	font-weight: normal;
	Font-family: 'Open Sans Light',X-LocaleSpecific-light,'Oepen Sans',X-LocaleSpecific,sans-serif;
	Font-weight: normal;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;	
}
.caption img{
	display: block;
	/*margin: .3em auto 1.7em auto;*/

    margin-left: 22.3em;
    padding-top: 65px;
    margin-bottom: -10px;


}

/* SERVICE SEARCH TAB
------------------------------------ */
.tab_c {
	margin-top: 2em;
	/*width: 100%;	*/
}
.tab_c  .tab {
	
	border: 1px solid #cecdcd;
    border-bottom: 0 !important;
    /* padding: .8em .5em; */
    width: 48%;
    visibility: hidden;
}
.deactivate_tab {
	margin-top: 1px;
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #ffffff 83%, #c4c4c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(83%,#ffffff), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#ffffff 83%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%,#ffffff 83%,#c4c4c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%,#ffffff 83%,#c4c4c4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfcfc 0%,#ffffff 83%,#c4c4c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}
.deactivate_tab:hover {
	margin-top: 1px;
	background: #fcfcfc; /* Old browsers */
	background: initial !important;
}
.search_button {
	margin-left: 15px;
	height: 17px;
	padding-top: 2px;
	font-size: 1em; 
	width: 53px;
}
.tab_c  a {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	text-align: right;
	line-height: 26px;
	font-size: 1.3em;
	color: #716f70;
	background-position: left center;
	padding: 0.55em 0.5em;
}
.tab_c  a span {
	/* color: #32C54B; */
	display: block;
	margin: 0 auto;	
	background-repeat: no-repeat;	
}

.tab_c  a span.wellness_icon {
	width: 112px;	
	height: 24px;
	background-image: url('../front-end-images/wellness_icon.png');
	background-repeat: no-repeat;	
}
.tab_c  a span.healthcare_icon {
	width: 140px;	
	background-image: url('../front-end-images/healthcare_icon.png');
	background-repeat: no-repeat;	
}
.recommended_for_you_c .img_c {
    width: 304px;
    background-color: #FFF;
    /* -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.15); */
    -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 6px 0px rgba(195, 194, 194, 0.4);
}
.tab_sub_btn_c {
	/*border: 1px solid #cecdcd;*/
	  border: 1px solid #E0E0E0;
    margin: 0 7px 0 7px;
    padding: 8px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(201,201,201,1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(201,201,201,1);
    box-shadow: 1px 1px 5px 1px rgba(210, 209, 209, 0.3);
}
.sub_tab {
	border-right: 1px solid #cecdcd;
	width: 33.2%;
	height: 2.1em;
	padding-top: .6em;
}
.sub_tab h4 {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	/* text-align: right; */
	line-height: 26px;
	color: #716f70;
	font-size: 18px;
	background-position: left center;
	font-family: Helvetica,sans-serif;
}
.sub_tab h4 span {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	text-align: right;
	height: 24px;
	font-size: 18px;
	line-height: 26px;
	font-size: 1.3em;
	color: #716f70;
	background-position: left center;
	
	font-family: Helvetica,sans-serif;
	background-repeat: no-repeat;
}

.tab_info_c {
	    padding: 2em 0;
    border: 1px solid #cecdcd;
    display: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(220, 220, 220, 0.75);
	/*padding: 2em 0;
	border: 1px solid #cecdcd;
	display: none;*/
}
.tab_info_c div  {
	/* padding: .6em 0.5em; */
	position: relative;
	width: 40%;
	margin-left: 1em;
	/* border: 1px solid #cecdcd; */
}
.tab_info_c div .feeling_lazy {
	position: absolute;
	z-index:1;
	top: 4px;
	left: 7px;
}
.tab_info_c div  input[type='text']{
	padding: .6em 1% .6em 2.5em;
	width: 99%;
	/* margin-left: 1em; */
	border: 1px solid #cecdcd;
	border-radius: 5px;
}
.search_speciality, .area_speciality  {
	background-repeat: no-repeat;
	background-position: 13px 8px;
}
.search_speciality {
    background-image: url("../front-end-images/input_search_icon.png");
}
.area_speciality {
    background-image: url("../front-end-images/inut_location_icon.png");
}
input[type='button'], input[type='submit'], input[type='reset'], .btn{	
	width: 112px; 
	color: #e7ffff;
	height: 34px;
	margin-left: 1em;
	margin-bottom: 10px !important;
	border: 0;
	background-color: #FFF;
	cursor: pointer;
	font-size: 12px;
	padding: 0 .5em;
	
	color: #808080;
	border: 1px solid #808080;	
	/* Radius corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type='button'], input[type='submit'], input[type='reset'], .btnuser{	
	width: 105px; 
	color: #e7ffff;
	height: 34px;
	margin-left: 0px;
	border: 0;
	background-color: #FFF;
	cursor: pointer;
	font-size: 12px;
	padding: 0 .5em;
	
	color: #808080;
	border: 1px solid #808080;	
	/* Radius corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*input[type='button'], input[type='submit'], input[type='reset'], .btnreview{	
	width: 105px; 
	color: #e7ffff;
	height: 40px;
	margin-left: 0px;
	border: 0;
	background-color: #FFF;
	cursor: pointer;
	font-size: 12px;
	padding: 0 .5em;
	
	color: #808080;
	border: 1px solid #808080;	
	/* Radius corners */
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}*/
input[type='button'], input[type='submit'], input[type='reset'], .btnreview {
    width: 127px !important;
    color: #e7ffff;
    height: 40px;
    margin-left: 0px;
    /*border: 0;*/
    background-color: #FFF;
    cursor: pointer;
    font-size: 15px;
    padding: 0 .5em;
    color: #847979;/*as per anupam*/
    /* border: 1px solid #808080; */
    /* -webkit-border-radius: 3px; */
    -moz-border-radius: 3px;
    /* border-radius: 3px; */
     border-right: 1px solid #BDBDBD;
    box-shadow: 0px 2px 5px 0px rgba(208, 207, 207, 0.53);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* SEARCHED COMPANY PHONE NO AND WEBSITE*/
.name_no_c .address{	
	width: 69.5%;
}
.address h3{	
	font-size: 1.2em;
	font-weight: 500;
	margin: 6px 0px 0.4em !important;
}
.name_no_c .tbl{	
	width: 30%;
}
.specification_c {
	/*border: 1px solid #DDD;
	/*float: left;*/
	    /*text-align: center;*/
	/*margin-left: 6px;*/
	  border: 1px solid #DEDEDE;
    /* float: left; */
    text-align: center;
    /* margin-left: 6px; */
}
.specification_c div {
	padding: 0.4em 1.3em 0.4em 37px;
	background-repeat: no-repeat;
	background-position: .3em center;
}
.specification_c div.spa {
	background-image: url('../front-end-images/spa.png');
}
.specification_c div.gym {
	background-image: url('../front-end-images/gym_icon.png');
}
.specification_c div.hospital {
	background-image: url('../front-end-images/hospitals_icon.png');
}
.specification_c div.salon {
	background-image: url('../front-end-images/salon_icon.png');
	padding-left: 2.1em;
}
.pho_no, .wesite_nm {
	background-repeat: no-repeat;
	background-position: center center;
	padding: 1.4em 0px !important;
	cursor: pointer;
}
.pho_no:hover, .wesite_nm:hover {
	background-color: #F5F5F5;
}
.pho_no  {
	background-image: url('../front-end-images/ph.png');
}
.wesite_nm {
	background-image: url('../front-end-images/pointer.png');
}
.name_no_c .tbl span {	
	display: block;
	text-align: center;
	padding: 0.1em 0em 0.45em 0em;
	text-decoration: none;
	outline: 0;	
}
.contact_no_website_c {
	/*padding: 0.42em 0px;*/
}
.name_no_c .tbl .contact_no, .name_no_c .tbl  .website {
	font-size: .95em;
	padding-top: .5em;
}
.name_no_c .tbl .website {
	display: none;
}
.name_no_c .tbl a {	
	color: #1F71EC;	
	/* font-size: .8em; */
	/* line-height: 2.2em;
	padding-left: .2em; 
	padding-right: .2em; */
	text-align: center;
}
.name_no_c .tbl a:hover {	
	text-decoration: underline;	
}


/**/
.tab_info_c  input[type='button']{	
	width: 116px;
	color: #e7ffff;
	height: 34px;
	margin-left: 1em;
	border: 0;
	background-color: #FFF;
	cursor: pointer;
	font-size: 1em;
	color: #808080;
	border: 1px solid #808080;	
	/* Radius corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/* .tab_info_c  input[type='button']{	
	
} */

input[type='button']:hover, input[type='submit']:hover, input[type='reset']:hover, .btn:hover{
	border: 1px solid rgba(255, 113, 113, 0.82);
	color: #555;
}


/* FOUR COLUMN STRUCTURE
------------------------------------ */
.four_column_c .col_four {
	width: 160px;
	background-color: #FFF;
	/* border: 2px solid #32c54b; */
	border: 2px solid #FFF;
	cursor: pointer;
	position: relative;
	
	/* shadow */
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.15);
}
.download_arrow {
	display: none;
	width: 21px;
	height: 11px;
	position: absolute;
	left: 4.33em;
	bottom: -11px;
	background-image: url('../front-end-images/mission_down_arrow.png');
	background-repeat: no-repeat;
}
.col_four_l_margin {
	margin-left: 3.45em;
}
.four_column_c .col_four  img {
	display: block;
	margin: .7em auto;
}
.four_column_c .col_four h4 {
	text-align: left;
	color: #85d037;
	font-size: 1em;
	font-weight: 600;
	margin: .5em 0 0 .8em;
}
.our_mission_icon_c {
	width: 67%;
	margin: 1.5em auto 0 auto;
}
.our_mission_info_c {
	margin: 2em auto 0 auto;
	min-height: 10em;
	position: relative;
}
.our_mission_info_c .mission_info  {
	display: none;
	position: absolute;
	width: 100%;
}
.mission_info h4 {
	text-align: center;
	margin: .8em 0;
	font-size: 1.5em;
}
.mission_info p {
	text-align: center;
	margin: .8em 0;
	font-size: 1.2em;
	/* font-size: 1em */
}

/* *********************************
		SEARCH RESULT PAGE
******************************* */
.searched_string_c {
	  border: 1px solid #E6E5E5;
    padding: .3em 0.5em;
    border-radius: 3px;
	/*border: 1px solid #DDD;
	padding: .5em 1em;*/
}
.searched_string_c h2 {
	font-weight: 500;
}
.result_counter {
	line-height: 1.82em;
	font-weight: normal;
}
.cost_rating_poulatiry_ul {
	border-left: 1px solid #DDD;
	padding-left: .7em;
}
.cost_rating_poulatiry_ul li {
	display: block;
	float: left;
	margin: 0 .2em;
}
.cost_rating_poulatiry_ul li span {
	display: block;
	padding: 0.78em 1.2em 0.78em 0.4em;
	cursor: pointer;
	background-image: url('../front-end-images/down_arrow.png');
	background-repeat: no-repeat;
	background-position: right center;
}
.cost_rating_poulatiry_ul li span:hover {
	background-color: #F3F3F3;
}
.sponsored {
    border: 1px solid hsl(0, 0%, 88%);
    margin-top: 1em;
    padding: 10px;
}
/*.sponsored h1 {
    color: hsl(338, 81%, 71%);
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 17px;
}*/

.sponsored h1 {
    /*color: hsl(338, 81%, 71%);
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 17px;
    border-bottom: 1px solid #D6D6D6;
    background-image: url('../front-end-images/featured.png');
    background-repeat: no-repeat;
    padding-left: 1.5em;
        height: 36px;*/
    color: hsl(338, 81%, 71%);
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 17px;
    border-bottom: 1px solid #E6E6E6;
    background-image: url('../front-end-images/featured.png');
    background-repeat: no-repeat;
    padding-left: 1.7em;
    height: 36px;

}
.sponsored img {
    width: 100%;
}
/*.service-tag {
    border: 1px solid hsl(0, 0%, 50%);
    display: block;
    float: left;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 5px;
    width: auto;
    margin: 5px;
}*/
.service-tag {
    border: 1px solid hsl(0, 0%, 77%);
    display: block;
    float: left;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 5px;
    width: auto;
    margin: 5px; 
}
.user_review_c.margin_bottom-5 {
    float: left;
    width: 100%;
}
.rating_write_c .review_popup_con {
    margin-bottom: 15px;

}
.service-tag > a {
    color:#000000;
}
.sml_col  {
	margin-top: 1em;
	border: 1px solid #E1E1E1;
	width: 25%;
	/* padding: 1em; */
}
.filters_c {
	/*margin-top: 1em;
	border: 1px solid #E1E1E1;
	/*width: 100%;
	 padding: 1em; */
	     margin-top: 1em;
    border: 1px solid #E6E6E6;
    /* -webkit-box-shadow: 4px 5px 5px -5px rgba(133,130,133,1); */
    -moz-box-shadow: 4px 5px 5px -5px rgba(133,130,133,1);
    box-shadow: 4px 5px 5px -5px rgb(199, 199, 199);

}

.sml_col .link_c {
	background-color: #ECECEC;
	padding: .5em;
	margin-bottom: .5em;
	cursor: pointer;
	text-align: center;
}
.sml_col .link_c:hover {
	background-color: #DADADA;
}
.sml_col .link_c h4{
	font-size: 1.1em;
}

.visited_user_c {
	/* background-color: #ECECEC; */
	padding: 0.5em;
	margin-bottom: 0.5em;
	border: 1px solid #DDD;
}
.visited_user_c h4 {
	background-color: #ECECEC;
	padding: 0.5em;
}
.visited_user {
	margin: 1em 0;
}
.visited_user  img {
	margin: 3px 0 0 0;
	float: left;
}
.visited_user_nm_add {
	float: left;
	margin-left: .5em;
}

.visited_user_nm_add p {
    font-size: 11px;
    margin-top: 0.3em;
    padding-left: 17px;
}
/*.visited_user_rating {
	background-color: #ff8a8a;
	color: #FFF;
	float: right;
	width: 30px;
	
	text-align: center;
	font-size: .8em;
	height: 37px;
    padding-top: 12px;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;*/
	/*padding: .1em 0;*/
	/* Rounded corner */
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
/*}*/
.visited_user_rating {
margin-top: 10px;
    background-color: #ff8a8a;
    color: #FFF;
    float: right;
    width: 30px;
    /* padding: .1em 0; */
    text-align: center;
    font-size: .8em;
    height: 37px;
    padding-top: 12px;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
}
/* Filters */
.searched_string {
	color: #ff8a8a;
}
.filters_c h2 {
	/*border-bottom: 1px solid #DDD;
	height: 30px;
	margin-bottom: .5em;*/
	   border-bottom: 1px solid #E6E6E6;
    /* padding-bottom: 10px; */
    height: 30px;
    margin-bottom: .7em;
}
.filter_icon {
	padding-left: 1.5em;
	background-image: url('../front-end-images/filter-icon.png');
	background-repeat: no-repeat;
	background-position: 3px center;
}
.filters_c h4 {
	padding: .5em 0;
	margin-bottom: .5em;
	  border-bottom: 1px solid #E8E8E8;
	/*border-bottom: 1px solid #DDD;*/
	
}
.filter_type {
	background-image: url('../front-end-images/plus_circle.png');
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	font-weight: 500;
}
.group {
	background-image: url('../front-end-images/plus_circle.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	font-weight: 500;
}

.filter_sub_type {
	background-image: url('../front-end-images/plus_circle.png');
	background-repeat: no-repeat;
	/*background-position: right center;*/
	cursor: pointer;
	font-weight: 500;
	background-position: right top;
}
/*.filter_sub_type_fact {
	background-image: url('../front-end-images/plus_circle.png');
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	font-weight: 500;
}*/
.filters_c ul {
	margin: 0 0 1em 0;
	display: none;
}

.filters_c_sub ul {
	margin: 0 0 1em 0;
	display: none;
}

.sub_sort_ul {
	font-size: .95em;
	padding-left: 1.5em;
}
.sub_sort_ul_sub {
	font-size: .95em;
	padding-left: 1.5em;
}
.filters_c ul li{
	/*border-bottom: 1px dashed #DDD;*/
	padding: .45em 0;
}
.filters_c_sub ul li{
	border-bottom: 1px dashed #DDD;
	padding: .45em 0;
}
.filters_c ul li > span {
	display: block;
	background-repeat: no-repeat;
	background-position: right center;
}
.filters_c_sub ul li > span {
	display: block;
	background-repeat: no-repeat;
	background-position: right center;
}
.filters_c ul li label{
	padding: 0 0 0 .5em;
}
.filters_c_sub ul li label{
	padding: 0 0 0 .5em;
}
/* .filters_c ul li label:hover {
	text-decoration: underline;
} */
.searched_reasults_c, .larg_col {
	/*width: 73%;*/
}

.searched_reasult_c, .content_shadow_c {
	margin-top: 1em;
	/*border: 1px solid #E1E1E1;*/
	 border: 1px solid #F5F5F5;
	background-color: #FFF;
	padding: .5em; 
	
	/* shadow */
	/*-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.07);*/
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.07);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.07);
}
.searched_reasult_c .description {
	margin-top: 1em;
}
.reasult_info {
	width: 59.5%
}
.reasult_info  h3, .reasult_info  h5, .reasult_info  p{
	margin: 0 0 .8em 0;
}
.reasult_info  p {
	/*font-size: .83em;*/
	color: #333;
	text-align: justify;
	font-family: tahoma, arial;
}
.reasult_info  p.address {
	color: #A19999;	
}
.reasult_info  p.searched_location {	
	margin: 0px 0px 0.6em;
}
.searched_location {
	background-image: url('../front-end-images/location_search.png');
	background-repeat: no-repeat;
	background-position: 0 center;
	padding-left: 1.2em;
}
.rating_facilities_c {
	 margin-top: .6em;
	 margin-bottom: -1.5em;	
}
.rating_c {
	width: 42%;
	text-align: center;
	display: table;
    table-layout: fixed;
}
.rating_c div {
	display: table-cell;
	/* float: left; */
	border: 1px solid #DDD;
	height: 75px;
}


/* Facilities */
.facilities_c {
	width: 57.5%;
	/* border: 1px solid #8D8C8C; */
}
.facilities  {
	 display: table;
    width: 100%;
    table-layout: fixed;
}
.facilities  span {
	display: table-cell;
    text-align: center;
	/* float: left; */
	/* padding: 14px; */
	background-repeat: no-repeat;
	background-position: center 3px;
	border: 1px solid #8D8C8C;
	/* height: 9px; */
	padding-top: 1em;
	font-size: .8em;
	vertical-align: bottom;
}

/* Available facilities */
span.parking {
	background-image: url('../front-end-images/car_parking.png');	
}
span.swipe {
	background-image: url('../front-end-images/card.png');	
}
span.wifi {
	background-image: url('../front-end-images/wifi.png');	
}
span.ac {
	background-image: url('../front-end-images/ac.png');	
}
span.female {
	background-image: url('../front-end-images/female.png');	
}
span.pharmacy {
	background-image: url('../front-end-images/Pharmacy.png');	
}
span.ambulance {
	background-image: url('../front-end-images/ambulance.png');	
}
span.locker {
	background-image: url('../front-end-images/locker-icon.png');	
}
span.music {
	background-image: url('../front-end-images/music.png');	
}
span.training {
	background-image: url('../front-end-images/training.png');	
}
span.shower {
	background-image: url('../front-end-images/shower.png');	
}

span.blood-bank {
	background-image: url('../front-end-images/blood-bank.png');	
}
span.laboratory {
	background-image: url('../front-end-images/laboratory.png');	
}
span.cafeteria {
	background-image: url('../front-end-images/cafeteria.png');	
}


span.kid {
	background-image: url('../front-end-images/kid.png');	
}
span.magazines {
	background-image: url('../front-end-images/magazines.png');	
}
span.male {
	background-image: url('../front-end-images/male.png');	
}
span.offer {
	background-image: url('../front-end-images/offer.png');	
}
span.tv {
	background-image: url('../front-end-images/tv.png');	
}
/* unavailable facilities */
span.parking_dactive {
	background-image: url('../front-end-images/car_parking_dactive.png');	
}
span.swipe_dactive {
	background-image: url('../front-end-images/card_dactive.png');	
}
span.wifi_dactive {
	/*background-image: url('../front-end-images/wifi_dactive.png');	*/
}
span.ac_dactive {
	background-image: url('../front-end-images/ac_dactive.png');	
}
span.female_dactive {
	background-image: url('../front-end-images/female_dactive.png');	
}
span.kid_dactive {
	background-image: url('../front-end-images/kid_dactive.png');	
}
span.magazines_dactive {
	background-image: url('../front-end-images/magazines_dactive.png');	
}
span.male_dactive {
	background-image: url('../front-end-images/male_dactive.png');	
}
span.offer_dactive {
	background-image: url('../front-end-images/offer_dactive.png');	
}
span.tv_dactive {
	background-image: url('../front-end-images/tv_dactive.png');	
}


.pink {
	color: #FF8A8A;
}

/* table */
.rating_facilities_c table {
	table-layout: fixed;
	float: left;
	border-collapse: collapse;
	font-size: 0.9em;
	height: 119px;
}
.rating_facilities_c table td {
	border: 1px solid rgba(27, 24, 24, 0.09);
}
.fa-lg {

font-size: 1.4em;
line-height: .75em;
vertical-align: -15%;
}

.rating_tbl {
	width: 36%;
}
.facilities_tbl {
	width: 64%;
	text-align: center;
	/*font-size: .78em;*/
	vertical-align: bottom;
}
.rating_span {
	display: block;
	height: 84px;
	text-align: center;
	padding-top: 1.4em;
	
	
}
.header_link_c .navbar-nav>li>a {
    padding: 0px 26px; 
    line-height: 28px;

}

.nav>li>a {
    position: relative;
    display: inline;
    padding: 0; 
}
.navbar-nav {
     float: right; 
    margin: 0;
}

.add_d {
	background-image: url('../front-end-images/add_d.png');
	background-repeat: no-repeat;
	background-position: center 20px;
	cursor: pointer;
}
.added_d {
	background-image: url('../front-end-images/added_d.png');
	background-repeat: no-repeat;
	background-position: center 20px;
	cursor: pointer;
}
.add_d:hover .deco {
	/* text-decoration: underline; */
}
/*.rating_span span {
	display: block;
	/* height: 50px; */
	/*text-align: center;
	margin: 1em 0;*/
	/* font-weight: bold; */
/*}*/
.rating_span span {
    display: block;
    /* height: 50px; */
    text-align: center;
    margin-top: 5px;
    /* margin: 1em 0; */
    /* font-weight: bold; */
}

.rating_bg {
	background-color: #716F70;/* #41AAE3; */
	color: #FFF;
	width: 4em;
	padding: .5em 0 .4em 0;
	margin: 2px auto 0px auto !important;
	
	/* Rounded corner */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.facilities_span {
    background-position: center 2px;
    background-repeat: no-repeat;
    display: block;
   /* padding: 2.2em 0 3px;*/
    text-align: center;
}
.deco {
	/*margin-top: .95em !important;*/
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 0px;
}
/* HORIZONTAL SCROLLING OF FEATURED SERVICES */
#reatured_services_c{
	margin-top: .8em;
	padding: 0;
    height: 70px;
	position: relative;
}
.over_div {
	width: auto;  
}
#list-reatured_services {
	overflow:auto;    
	width: 100%;  
	float:left;    
	/*border: 1px solid #DDD;*/
	
}

.list{
	width: 853px;
    float:left;
}


#arrowR, #arrowL{
	display: none;
	background-color: #f6f6f6;
	opacity: 0.7;
    width: 20px;
    height: 74px;
    float:right;
    cursor:pointer;
	position: absolute;
	right: 0;
	background-repeat: no-repeat;
	background-position: center center;
}
#arrowR{
    background-image: url('../front-end-images/featured_s_arrow_r.png');	
}

#arrowL{
	background-image: url('../front-end-images/featured_s_arrow_l.png');	
    float:left;
	right: initial;
	left: 0;
}

.item{
    background: #FFF;
    width: 165px;

    margin: 5px 2px;
    position: relative;
    text-align: center;
    float: left;
    border: 1px solid #DDD;
}
.item h4 {
	text-align: center;
    padding: 0.6em 0px;
    font-size: 0.9em;
    border-top: 1px solid #DDD;
}
.item span {
	display: inline-block;
	background-repeat: no-repeat;
	/* text-align: center; */
	font-size: .9em;
	display: inline-block;
	background-repeat: no-repeat;
	font-size: 0.9em;
	margin-top: 0.5em;
}
.service_prise {
	background-image: url('../front-end-images/rs.png');	
	padding-left: 21px;
	padding-right: 3px;
	border-right: 1px solid #8D8C8C;
	width: 3em;
	background-position: 8px center;

}
.service_duration {
	background-image: url('../front-end-images/duration_clock.png');	
	padding-left: 23px;
	padding-right: 3px;
	width: 2.7em;
	background-position: 2px center;
	background-repeat: no-repeat;
}

/* CLIENT PAGE
---------------------------------- */
.slider_client {
	width: 100%;
	height: 300px;
} 

/* Client info brief information show in tabular form*/
.client_brief_info_c {
	margin-top: 1em;
}
.client_brief_info_c .tab_ul li {
	display: block;
	float: left;
	border: 1px solid #DDD;
	border-right: 0;
	border-bottom: 0;
	padding:0.6em 0.6em 0.6em 2.4em;
	cursor: pointer;
	font-size: .95em;
	background-repeat: no-repeat;
	background-position: .6em center;
}
.overview_icon {
	background-image: url('../front-end-images/overview.png');
}
.services_icon {
	background-image: url('../front-end-images/services.png');
	padding-left: 2em !important;
}
.facilities_icon {
	background-image: url('../front-end-images/facilities.png');
	padding-left: 2.6em !important;
}
.contact_icon {
	background-image: url('../front-end-images/contact.png');
	padding-left: 1.9em !important;
}
.client_location_icon {
	background-image: url('../front-end-images/location_search.png');
	padding-left: 1.9em !important;
}
.reviews_icon {
	background-image: url('../front-end-images/reviews.png');
}
.portfolio_icon {
	background-image: url('../front-end-images/portfolio.png');
}
.client_brief_info_c .tab_ul li.right_border {
	border-right: 1px solid #DDD;
}
.client_brief_info_c .tab_ul li:hover, .client_brief_info_c .tab_ul li.active {	
	background-color: #F5F5F5;	
}
.client_brief_info {
	display: none;
	min-height: 300px;
	border: 1px solid #DDD;
	overflow: hidden;
	padding: .5em;
}
.client_brief_info h1, .client_brief_info p {
	font-size: 1.2em;
	color: #434343;
	margin-bottom: .8em;
}
.client_brief_info .activity {
	float: left;
}

.client_rating .star_rating_ul{
	float: initial !important;
}
.client_brief_info p {
	font-size: .9em;
	text-align: justify;
}

.client_pert_rating .activity {
    text-align: right;
    width: 55% !important;
}
.left-part {
    /*width: 25%;*/
}
.client_brief_info table td span.icon {
	background-repeat: no-repeat;
	padding: .5em 0 .5em 2.5em;
	background-position: left center;
	display: block;
	
}
/* Services tab */
.watch_icon, .service_icon, .charges_icon {	
	padding: 0.5em .5em 0.5em 1.5em;
	background-position: left center;
	background-image: url('../front-end-images/duration_clock.png');
	background-repeat: no-repeat;
}
.service_icon {	
	background-image: url('../front-end-images/services.png');
}
.charges_icon {	
	background-image: url('../front-end-images/charges.png');
}
/* Client other info */
/*Rating*/
.client_rating_c {
	margin-bottom: 1em;
}
.client_name_add_c {
	    border-bottom: 1px solid #E4E4E4;
    margin-bottom: .6em;
	/*border-bottom: 1px solid #DDD;
	margin-bottom: .6em;*/
}
.client_name_add_c h3 {
	  font-size: 1.2em;
    margin-bottom: .9em;
    /* font-weight: bold; */
	/*font-size: 1.1em;
	margin-bottom: .2em;*/
}

.client_name_add_c p.searched_location {
	margin-bottom: .6em;
	background-position: center top !important;
	background-image: url('../front-end-images/location_icon.png') !important;
	padding-top: 1.8em;
	margin-top: .75em;
}
.client_rating_c .specification_c {
	float: initial !important;
    width: 10em;
    margin: 0 auto .6em auto;
    font-size: 1.1em;
    margin-bottom: 20px;

	/*float: initial !important;
	width: 10em;
	margin: 0 auto .6em auto;*/
}
.client_rating_c .client_rating {
    border-right: 1px solid #ddd;
    float: left;
    padding-right: 8px;
    width: 33%;
}

.client_rating_c h1 {
    /*display: block;
    font-size: 3em;
    margin-top: 13px;
    text-align: center;*/
    display: block;
    font-size: 3em;
    margin-top: 13px;
    text-align: center;
    font-weight: 500
}
.client_rating ul {
	margin-left: .5em;
	margin-bottom: 1.2em
}
.client_rating p {
	/*font-size: .8em;*/
	text-align: center;
}
.client_rating p.no_reviews {
	font-size: .8em;
	color: #959595;	
}
/* .client_rating_c  */.star_rating_ul li {
	float: left;
	margin: 0 .1em;
}
/* .client_rating_c  */.star_rating_ul li span {
	display: block;
	padding: 8px;
	background-image: url('../front-end-images/rating.png');
	background-repeat: no-repeat;
}
.star_rating_ul li span.active {
	background-image: url('../front-end-images/rating-active.png') !important;
}
.client_rating_c .client_pert_rating {
	width: 61%;
}
.client_rating_c .client_pert_rating p.activity{
	font-size: .72em;
	float: left;
}
.client_pert_rating .star_rating_ul {
	margin-left: .5em;
	/* margin-bottom: .8em; */
	/* float: right; */
	margin-top: 0.5em;
}
.client_pert_rating h4{
    margin-top: 0.5em;
	padding-left: 1em;
}

/* .client_rating_c  .client_pert_rating ul li span {	
	padding:  6px 7px;
	background-image: url('../front-end-images/rating_star.png');
	background-repeat: no-repeat;
}
.client_rating_c  .client_pert_rating ul li span.active {	
	padding:  6px 7px;
	background-image: url('../front-end-images/rating_star_active.png');
	background-repeat: no-repeat;
}
 */
.client_add_rating_c  {
	margin-bottom: 0.5em;
}
.client_add_rating_c > div {
	width: 49%;
}

/* client table of service */
.client_tbl {
	font-size: .9em;
	width: 100%;
}
.client_tbl td, .client_tbl th {
	padding: .8em .5em;
	text-align: center;
}

/* Facility available or not */
.available_sign, .available_not_sign {
	width:  24px; height:  24px;
	background-image: url('../front-end-images/available.png');
	background-repeat: no-repeat;
	border: 0 !important;
	display: block !important;
	margin: 0 auto;
}
.available_not_sign {
	background-image: url('../front-end-images/available-not.png');
}

/* Client Contact */
.client_brief_info .ph {
	padding-left: 20px;
	background-image: url('../front-end-images/contact.png');
	background-repeat: no-repeat;
}
.client_brief_info .map_c {
    float: left;
    height: 250px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
/* User Review */
/*.review_rit_sort_c {
	border: 1px solid #DDD;
	margin-bottom: 1em;
}*/
.review_rit_sort_c {
    border: 1px solid #DDD;
    margin-bottom: 3em;
    height: 45px;
}
.write_icon {
	background-image: url('../front-end-images/write.png') !important;
	background-repeat: no-repeat;
	background-position: .3em center;
	padding-left: 0em !important;
	margin-top: .3em;
}
.close_rating_write_c  {
	margin-top: .3em;
	display: none;
}
.user_review_c {
	border-bottom: 1px solid #EAEAEA;
	/*border-bottom: 1px solid #999;*/
}
.review_user_photo {
	width: 81px; height: 81px;
}
.user_photo_name_c .user_name  .name_add {
	width: 245px;
	border-right: 1px solid #DDD;
}
.user_photo_name_c .user_name h2, .user_photo_name_c .user_name p{
	font-size: 1em;
	color: #434343;
}
.user_photo_name_c .user_name p{
	font-size: .9em;
	margin: 4px 0 0 0;
}
.user_review_c p.preview_p {
	font-style: italic;
}

/* User review tab Write review container  */
.rating_write_c {
	padding-top: .5em;
	background-color: rgba(248, 248, 248, 0.48);	
	display: none;
	
	/* Box shadow */
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.2);	
}
.rating_write_c .rating_write_caption  h2{
	text-align: center;
	color:#807E7E;
	padding-bottom: .5em;
	border-bottom: 1px solid #DDD;
}
.rating_write_c .star_rating_ul {
	float: right;
	margin-top: 0 !important;
}
.rating_write_c .review_popup_con {
	padding: .8em;
}
.rating_write_c .review_popup_con .client_rating, .rating_write_c .review_popup_con .client_pert_rating {
	width: 35%;
}
.rating_write_c .review_popup_con .review_or {
	width: 20%;
	text-align: center;
	color: #434343;
	padding-top: 2em;
}
.rating_write_c .tag_service_c {
	margin: .7em 0;
}
.rating_write_c .tag_service_c .textarea_c {
	margin: .7em 0;
	    margin-left: 10px;
    margin-right: 10px;

}
.rating_write_c .tag_service_c .textarea {
	display: block;
	width: 100%;
	padding: 2%;
	/*height: 5em;*/	
	/* border: 0;
	resize: none; */
}
.rating_write_c .review_popup_con .btn{
	margin: 0 auto;
	display: block;
}

/* Right side Review Container */

.rating_write_2c {
	padding-top: .5em;
	background-color: #F8F8F8;	
	display: none;
	
	/* Box shadow */
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.2);	
}
.rating_write_2c .rating_write_caption  h2{
	text-align: center;
	color: #434343;
	padding-bottom: .5em;
	border-bottom: 1px solid #DDD;
	font-size: 1.2em;
}
.rating_write_2c .star_rating_ul {
	float: right;
	margin-top: 0 !important;
}
.rating_write_2c .review_popup_con {
	padding: .8em;
}
.rating_write_2c .review_popup_con .client_rating, .rating_write_2c .review_popup_con .client_pert_rating {
	width: 35%;
}
.rating_write_2c .review_popup_con h1 {
	font-size: .8em;
}
.rating_write_2c .review_popup_con .review_or {
	width: 20%;
	text-align: center;
	color: #434343;
	padding-top: 2em;
}
.rating_write_2c .tag_service_c {
	margin: .7em 0;
}
.rating_write_2c .tag_service_c .textarea_c {
	margin: .7em 0;
}
.rating_write_2c .tag_service_c .textarea {
	display: block;
	width: 96%;
	padding: 2%;
	height: 6em;	
	/* border: 0;
	resize: none; */
}
.rating_write_2c .review_popup_con .btn{
	margin: 0 auto;
	display: block;
}

/* GENERATE OFFER */
.generate_offer_popup_c {
	width: 478px !important;
	height: auto !important;
	display: none;
}
.generate_offer_popup_c img{
	display: block;
	margin: 1em auto 0 auto;
}
.offer_code {
	border: 1px dashed #ff8a8a;
	width: 20em;
	padding: 2em 0;
	margin: 1em auto;
}
.generate_offer_popup_c p {
	margin: 1.8em 0;
}
/* FOOTER
---------------------------------- */
.footer_c {
	background-color: #ededed;
	padding: 1em 0;
	margin-top: 1em;
}
.footer_con {
	height: 110px;
	margin: 0 auto;
}
.footer_con p {
	color: #434343;
	margin-left: 1em;
}
.footer_con ul li {
	margin-right: 1em;
}
.footer_con ul li {
	display: block;
	float: left;
	margin-left: .3em;
	margin-top: 11px;
}
/* POPUP 
-------------------------------- */
.popup_c {
	width: 600px;
	height: 300px;
	background-color: #FFF;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 999;
	margin-left: -300px;
	margin-top: -150px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);	
	/* display: none; */
}
.close {
	width: 22px;
	height: 22px;
	position: absolute;
	top: -24px;
	right: -24px;
	z-index: 9;
	cursor: pointer;
	
	background-image: url('../front-end-images/close.png');
	background-repeat: no-repeat;
}


/* border */
.border-1 {
	 border: 1px solid #ECE9E9;
	/*border: 1px solid #DDD;*/
}
.border-right-1 {
	border-right: 1px solid #DDD;
}
/* RADIUS CORNER
------------------------  */
.border_top_0 {
	border-top: 0;
}
.radius_corner_3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	   
	margin-right: 10px;
    margin-left: 10px;
}
.radius_corner_6 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	   
	
}
.top_radius_corner_3 {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.bottom_radius_corner_3 {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/* MARGIN
-------------------  */
.margin-0 {
	margin: 0 !important;
}
/* TOP MARGIN */
.margin_top-0 {
	margin-top: 0 !important;
}
.margin_top-1 {
	margin-top: 1em !important;
}
.margin_top-2 {
	margin-top: .2em !important;
}
.margin_top-3 {
	margin-top: .3em !important;
}
.margin_top-4 {
	margin-top: .4em !important;
}
.margin_top-5 {
	margin-top: .5em !important;
}
.margin_top-6 {
	margin-top: .6em !important;
}
.margin_top-7 {
	margin-top: .7em !important;
}
.margin_top-8 {
	margin-top: .8em !important;
}
.margin_top-9 {
	margin-top: .9em !important;
}
/* RIGHT MARGIN */
.margin_right-0 {
	margin-right: 0 !important;
}
.margin_right-auto {
	margin-right: auto !important;
}
.margin_right-1 {
	margin-right: 1em !important;
}
.margin_right-2 {
	margin-right: .2em !important;
}
.margin_right-3 {
	margin-right: .3em !important;
}
.margin_right-4 {
	margin-right: .4em !important;
}
.margin_right-5 {
	margin-right: .5em !important;
}
.margin_right-6 {
	margin-right: .6em !important;
}
.margin_right-7 {
	margin-right: .7em !important;
}
.margin_right-8 {
	margin-right: .8em !important;
}
.margin_right-9 {
	margin-right: .9em !important;
}
/* TOP MARGIN */
.margin_top-0 {
	margin-top: 0 !important;
}
.margin_top-1 {
	margin-top: 1em !important;
}
.margin_top-2 {
	margin-top: .2em !important;
}
.margin_top-3 {
	margin-top: .3em !important;
}
.margin_top-4 {
	margin-top: .4em !important;
}
.margin_top-5 {
	margin-top: .5em !important;
}
.margin_top-6 {
	margin-top: .6em !important;
}
.margin_top-7 {
	margin-top: .7em !important;
}
.margin_top-8 {
	margin-top: .8em !important;
}
.margin_top-9 {
	margin-top: .9em !important;
}
/* BOTTOM MARGIN */
.margin_bottom-0 {
	margin-bottom: 0 !important;
}
.margin_bottom-1 {
	margin-bottom: 1em !important;
}
.margin_bottom-2 {
	margin-bottom: .2em !important;
}
.margin_bottom-3 {
	margin-bottom: .3em !important;
}
.margin_bottom-4 {
	margin-bottom: .4em !important;
}
.margin_bottom-5 {
	margin-bottom: .5em !important;
}
.margin_bottom-6 {
	margin-bottom: .6em !important;
}
.margin_bottom-7 {
	margin-bottom: .7em !important;
}
.margin_bottom-8 {
	margin-bottom: .8em !important;
}
.margin_bottom-9 {
	margin-bottom: .9em !important;
}

/* LEFT MARGIN */
.margin_left-0 {
	margin-left: 0 !important;
}
.margin_left-auto {
	margin-left: auto !important;
}
.margin_left-1 {
	margin-left: 1em !important;
}
.margin_left-2 {
	margin-left: .2em !important;
}
.margin_left-3 {
	margin-left: .3em !important;
}
.margin_left-4 {
	margin-left: .4em !important;
}
.margin_left-5 {
	margin-left: .5em !important;
}
.margin_left-6 {
	margin-left: .6em !important;
}
.margin_left-7 {
	margin-left: .7em !important;
}
.margin_left-8 {
	margin-left: .8em !important;
}
.margin_left-9 {
	margin-right: .9em !important;
}

/* PADDING
-------------------  */
.padding-0 {
	padding: 0 !important;
}
.padding-1 {
	padding: 1em;
}
.padding-5 {
	padding: .5em;
}
/* TOP PADDING */
.padding_top-0 {
	padding-top: 0 !important;
}
.padding_top-1 {
	padding-top: 1em !important;
}
.padding_top-2 {
	padding-top: .2em !important;
}
.padding_top-3 {
	padding-top: .3em !important;
}
.padding_top-4 {
	padding-top: .4em !important;
}
.padding_top-5 {
	padding-top: .5em !important;
}
.padding_top-6 {
	padding-top: .6em !important;
}
.padding_top-7 {
	padding-top: .7em !important;
}
.padding_top-8 {
	padding-top: .8em !important;
}
.padding_top-9 {
	padding-top: .9em !important;
}
/* RIGHT PADDING */
.padding_right-0 {
	padding-right: 0 !important;
}
.padding_right-1 {
	padding-right: 1em !important;
}
.padding_right-2 {
	padding-right: .2em !important;
}
.padding_right-3 {
	padding-right: .3em !important;
}
.padding_right-4 {
	padding-right: .4em !important;
}
.padding_right-5 {
	padding-right: .5em !important;
}
.padding_right-6 {
	padding-right: .6em !important;
}
.padding_right-7 {
	padding-right: .7em !important;
}
.padding_right-8 {
	padding-right: .8em !important;
}
.padding_right-9 {
	padding-right: .9em !important;
}
/* TOP PADDING */
.padding_top-0 {
	padding-top: 0 !important;
}
.padding_top-1 {
	padding-top: 1em !important;
}
.padding_top-2 {
	padding-top: .2em !important;
}
.padding_top-3 {
	padding-top: .3em !important;
}
.padding_top-4 {
	padding-top: .4em !important;
}
.padding_top-5 {
	padding-top: .5em !important;
}
.padding_top-6 {
	padding-top: .6em !important;
}
.padding_top-7 {
	padding-top: .7em !important;
}
.padding_top-8 {
	padding-top: .8em !important;
}
.padding_top-9 {
	padding-top: .9em !important;
}
/* BOTTOM PADDING */
.padding_bottom-0 {
	padding-bottom: 0 !important;
}
.padding_bottom-1 {
	padding-bottom: 1em !important;
}
.padding_bottom-2 {
	padding-bottom: .2em !important;
}
.padding_bottom-3 {
	padding-bottom: .3em !important;
}
.padding_bottom-4 {
	padding-bottom: .4em !important;
}
.padding_bottom-5 {
	padding-bottom: .5em !important;
}
.padding_bottom-6 {
	padding-bottom: .6em !important;
}
.padding_bottom-7 {
	padding-bottom: .7em !important;
}
.padding_bottom-8 {
	padding-bottom: .8em !important;
}
.padding_bottom-9 {
	padding-bottom: .9em !important;
}

/* LEFT PADDING */
.padding_left-0 {
	padding-left: 0 !important;
}
.padding_left-1 {
	padding-left: 1em !important;
}
.padding_left-2 {
	padding-left: .2em !important;
}
.padding_left-3 {
	padding-left: .3em !important;
}
.padding_left-4 {
	padding-left: .4em !important;
}
.padding_left-5 {
	padding-left: .5em !important;
}
.padding_left-6 {
	padding-left: .6em !important;
}
.padding_left-7 {
	padding-left: .7em !important;
}
.padding_left-8 {
	padding-left: .8em !important;
}
.padding_left-9 {
	padding-right: .9em !important;
}



/* CLIENT PAGE SLIDER 
------------------------------ */

#featured{ 
	width: auto; 
	position:relative; 
	border:5px solid #ccc; 
	height:auto; overflow:hidden;
	background-color: #F1F1F1;
}
#featured ul.ui-tabs-nav{ 
	float: right;
	position:relative; 
	list-style:none; 
	padding:0; margin:0; 
	width: 96px; height:250px;
	overflow:auto;
	overflow-x:hidden;
	background-color: #999;
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; 
	/* padding-left:13px;   */
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; text-decoration:none;
	color:#333;  background:#999; 
	line-height:20px; outline:none;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	background:url('images/clientSlider/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:623px; 
	height:250px; 
	background:#999; position:relative;
	float: left;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; left:0; 
	height:70px; 
	background: url('images/clientSlider/transparent-bg.png'); 
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:11px; font-family:Verdana; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font-size:1.2em; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0; font-weight:normal;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}


.sttle-11.right > h2 {
    color: hsl(338, 81%, 71%) !important;
    font-size: 15px;
    margin-bottom: 12px;
}
.sttle-11.right > li {
    font-size: 14px;
    list-style: outside none none;
   
    list-style: square;
    margin-bottom: 15px;
    margin-right: 10em;
}
.sttle-11 span {
    /*float: left;*/
    padding-right:10px;
    width: 41%;
}
.sttle-11 {
    width: 54%;
}
.breadcrumb2 { 
	list-style: none; 
	overflow: hidden; 
	font: 18px Helvetica, Arial, Sans-Serif;
}
.breadcrumb2 li { 
	float: left; 
}
.breadcrumb2 li a {
    background: #959595;
    color: white;
    display: block;
    float: left;
    font-size: 14px;
    padding: 4px 0 4px 41px;
    position: relative;
    text-decoration: none;
}

.breadcrumb2 li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #959595;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}

.breadcrumb2 li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}

.breadcrumb2 li:first-child a {
	padding-left: 10px;
	 margin-left: 14px;/*as per given by anupam*/
}

/*.breadcrumb2 li:last-child a {
	background: transparent !important;
	color: black;
	pointer-events: none;
	cursor: default;
}
*/
.breadcrumb2 li a:hover { background: #ccc; }
.breadcrumb2 li a:hover:after { border-left-color:#ccc !important; }

/*.breadcrumb2 li:last-child a::before, .breadcrumb2 li:last-child a::after {
    border: medium none !important;
}*/

@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*.navbar-fixed-top{
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid #cecdcd !important;
}*/

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	float: right;
}
.navbar-fixed-bottom, .navbar-fixed-top {
	position: relative !important;
}

.bottom {
   /* background: rgba(19,14,5,0.9);
    width: 100%;
   
    /*padding: 5px 0 0 0;
    color: #bfbfbf;
    text-align: center;
    font-size: 13px;*/
    background: rgba(214, 214, 214, 0.9);
    width: 100%;
     margin: 25px 0 0 0; 
    /* margin: 25px 0 0 0; */
    padding: 5px 0 0 0;
    color: #797878;
    text-align: center;
    font-size: 13px;

}

/*.booking-block {
	padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #DDD;
    margin-top: 10px;
}*/
.booking-block {
    padding: 0.5em;
    margin-bottom: 0.5em;
    /* border: 1px solid #DDD; */
    margin-top: 10px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(208, 208, 208, 0.82);
    border-radius: 4px;
    margin-left: 23em;
}
.btn_post {
	    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    margin-bottom: 10px;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #337ab7;
    border: 1px solid rgba(208, 208, 208, 0.82);
    border-radius: 4px;
    margin-left: 25em;

}
.rating_write_c a
{
color: #000 !important;

}
.panel-default>.panel-heading {
    color: #333;
    background-color: #F5F5F5;
    border-color: #ddd;
    font-weight: 500;
}
.alert-success {

    color: #8A8888 !important;

    width: 50% !important;

    padding-left: 1em !important;

    margin-left: 300px !important;

    font-size: 15px !important;

    background-color: #E2E2E2 !important;

    border-color: #DEDEDE !important;

    font-weight: 500 !important;

}




.alert {

    padding-top: 22px !important;

    padding-bottom: 12px !important;

    margin-bottom: -60px !important;

    border-radius: 300px !important;

}