#calendar {font-family:arial; font-size:13px; text-align:center}
#calendar th {background-color:#F9F9F9; color:#000000; text-align:center}
#calendar #week {color:#000000; background:#FFF url(images/music_calendar_null.gif) repeat-x; height:45px}
#calendar #week a {font-size:34px; text-decoration:none; color:#000000; padding:0 14px 0 14px}
#calendar #center_date
 {
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size:22px; 
	color: #868181;
	margin:0 auto; 
	text-align:center;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	font-weight: 300;
}


.green {
	display:block; 
	text-decoration:none; 
	color:#000; 
	margin:0; 
	padding:0px 1px 1px 0; 
	width: 63px; 
	height: 49px; 
	background-color:#FFF;
	/*background: url("images/block_free.gif") no-repeat; */
	text-align: center; 
	line-height: 49px;
}
.unavailable {
	text-decoration:none; 
	color:#000; 
	margin:0; 
	padding:0px 1px 1px 0; 
	width: 63px; 
	height: 49px; 
	background-color:#FFF;
	/*background: url("images/block_past.gif") no-repeat; */
	text-align: center; 
	line-height: 49px
}
.closed {
	text-decoration:none; 
	color:#3A92E2; 
	margin:0; 
	padding:0px 1px 1px 0; 
	width: 63px; 
	height: 49px; 
	background-color:#FFF;
	/*background: url("images/block_closed.gif") no-repeat; */
	text-align: center; 
	line-height: 49px;    
}
.part_booked {
	display:block; 
	text-decoration:none; 
	color:#000; 
	margin:0; 
	padding:0px 1px 1px 0; 
	width: 63px; 
	height: 49px; 
	background: rgba(175, 168, 168, 0.2);
	/*background: url("images/block_part.gif") no-repeat; */
	text-align: center; 
	line-height: 49px


}
.fully_booked {
	display:block; 
	text-decoration:none; 
	color:#FFF; 
	margin:0; 
	padding:0px 1px 1px 0; 
	width: 63px; 
	height: 49px; 
	background-color:red;
	/*background: url("images/block_fully_booked.gif") no-repeat; */
	text-align: center; 
	line-height: 49px
}
.past {
	text-decoration:none; 
	color:#DDD; 
	margin:0; 
	padding:0px 1px 1px 0; 
	width: 63px; 
	height: 49px; 
	background-color:#FFF; 
	/*background: url("images/block_past.gif") no-repeat;*/ 
	text-align: center; 
	line-height: 49px
}

.green  span {display:none}

.green  span a:hover  {display: block;
   position: absolute;  width: 25px;
   padding: 5px; margin: 10px; z-index: 100;
   color: #AAA; background: black;
   font: 10px Verdana, sans-serif; text-align: center;}

#lhs {float:left}
#lhs_ajax {float:left} /* Holds both the calendar and the basket */


#outer_booking { width:100%;font-family: 'Carrois Gothic', sans-serif; float:left;}
#outer_booking h2 {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#595858; margin-top:0}
#outer_booking p {font-family: 'Droid Sans', Helvetica, Arial, sans-serif; color:#666666; font-size:14px}
#outer_booking #booking {font-size:80%; border:#CCCCCC 1px solid; border-right:none; border-bottom:none}
#outer_booking #booking th {background:#666666 url("images/booking_grad.jpg") repeat-x; color:#FFFFFF; height:25px; padding-left:5px}
#outer_booking #booking td {border-right:#CCCCCC 1px solid; border-bottom:#CCCCCC 1px solid; padding-left:5px}
#outer_booking span {color:red}
/*#outer_price {
    width: 183px;
    float: left;
    margin-top: 6px;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 9px 0px 9px 2px;
}*/
#outer_price {
    display: inline-flex;
    /* padding-bottom: 100px; */
    width: 259px;
    /* float: left; */
    font-weight: 600;
    margin-top: 26px;
    margin-left: 73px;
    border: 1px solid #C5C4C4;
    border-radius: 3px;
    /* padding: 5px 0px 3px 4px; */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.selected-date {
	    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #3A92E2;
}
/*.cash-on-service {
	border: none !important;
    margin-top: 5px !important;
    margin-right: 15px !important;
    float: right !important;
    background-color: #3A92E2 !important;
    color: #FFF !important;
}*/
.cash-on-service {
    border: none !important;
    /* padding-top: 100px; */
    margin-top: 20px !important;
    margin-left: 75px !important;
    float: left !important;
    background-color: #3A92E2 !important;
    color: #FFF !important;
}

/*.outer_basket {
	display: none;
    padding-bottom: 18px;
    font-family: 'Carrois Gothic', sans-serif;
    padding: 15px 30px 0px 22px;
    border: 1px solid #DDD;
    margin-top: 6px;
}*/
.outer_basket {
    width: 445px;
    display: none;
    padding-bottom: 28px;
    font-family: 'Carrois Gothic', sans-serif;
    /* padding: 15px 3px 0px 22px; 
    border: 1px solid #DDD;*/
    margin-top: 16px;
    margin-left: 64px;
}
.outer_basket h2 {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#595858; margin-top:0}
.outer_basket .selected_slots {min-height:20px; width:100%;font-size:18px; float:left; line-height:1.6em; color:#666666; font-family: 'Droid Serif',Georgia,Times,serif}
.basket_details {
   /* height: 250px;
   */ color: #666666;
}
.basket_details .text_box {width:200px; margin-bottom:10px}
.basket_details .currency {
	font-family: arial;
    float: left;
    color: #000;
    font-weight: 700;
    padding: 0 0 0 0;
}
.basket_details .total {
	font-family: arial;
    float: left;
    color: #000;
    font-weight: 700;
    padding: 0 0 0 0;
}

#btn_book {margin:10px 0 0 320px}

#key {margin-top:25px; width:275px; height:60px; border:#CCCCCC 1px solid; font-family:arial; color:#666666; font-size:11px}
#key td {text-align:center; width:45px}
#key_1 {background-color:#d80000}
#key_2 {background-color:#a295dd}
#key_3 {background-color:#d18800}
#key_4 {background-color:#019500}
#key_5 {background-color:#948e8e}

.input {width:220px}
textarea {width:220px}

#book {background:transparent url(images/book.png) no-repeat; width:135px; height:32px; border:none; margin-top:5px}
#book:hover {background:transparent url(images/book_mo.png)}
#selected_date {width:288px; height:20px; background-color:#dfeefa; border:#4085d1 1px solid; font-family:arial; font-size:14px; padding:4px 0 4px 10px; color:#4085d1; margin:20px 0 10px 0}


/* Messages */
/*
.info, .error, .success {  
	width:250px;    
    margin:20px 0 0 0;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;    
    font-size:12px; font-weight:bold;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif; 
    line-height:1.2em;
}

.error, .error a {
    color: #D8000C;
    border:#cf0023 1px solid;
    background-color: #FFBABA;
    background-image: url('images/knobs/error.png');
}

.info, .info a {
    color: #00529B;
    border:#294b99 1px solid;
    background-image:url('images/knobs/info.png');
    background-color:#c1e4f8
}
*/
.success, .success a {
    color: #4F8A10;
    border:#528f11 1px solid;
    background-color: #DFF2BF;
    background-image:url('images/knobs/success.png');
}


.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #e6cafc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e6cafc;
	box-shadow:inset 0px 1px 0px 0px #e6cafc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c579ff), color-stop(1, #a341ee) );
	background:-moz-linear-gradient( center top, #c579ff 5%, #a341ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c579ff', endColorstr='#a341ee');
	background-color:#c579ff;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #a946f5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:36px;
	line-height:36px;
	width:132px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #8628ce;
	margin-top:22px
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a341ee), color-stop(1, #c579ff) );
	background:-moz-linear-gradient( center top, #a341ee 5%, #c579ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a341ee', endColorstr='#c579ff');
	background-color:#a341ee;
}.classname:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
button.close {
    /* -webkit-appearance: none; */
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    top: 3px;
    right: 3px;
    background-image: url('../front-end-images/close.png');
}
.modal-body {
    position: relative;
    padding: 0px; 
}
.outer_basket label {
	  padding-top: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    color: #3A92E2;
}
/*.form-control {
    display: inline-table;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/
.form-control {
    display: inline-block;
    height: 34px;
    width: 57%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}