/* CSS Document */
/* site Designed & Developed by fahoomediadigitalarts.com/fahoofnf@gmail.com */

@font-face {
	font-family: 'Calibri';
	src:url('../fonts/Calibri.eot');
	src:url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri.woff') format('woff'),
		url('../fonts/Calibri.ttf') format('truetype'),
		url('../fonts/Calibri.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Calibri-Bold';
  src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Calibri-Bold.woff') format('woff'), url('../fonts/Calibri-Bold.ttf')  format('truetype'), url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Calibri';
	background: #fff;
}
img {
	max-width: 100%;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a {
	color: #3f3f3f;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #00aeef;
	transition: ease all 0.5s;
}
header {
	padding:0px 0 5px 0;
	width:100%;
	position:relative;
	background:#0d73ff;
	
}
header:after{
	content: '';
  width: 100%;
  background-image: url(../images/bg_shadow.png);
  background-repeat: repeat-x;
  height: 16px;
  position: absolute;
  z-index: 999999;
  bottom: -15px;
	
}
header .top{
	width:100%;
	background:#fff;
	padding:5px 0;
}
header .top ul{
	float:right;
	
}
header .top ul li{
	list-style:none;
	font-size:16px;
	text-transform:uppercase;
	padding:0 15px 0 15px;
	display:inline-block;
	margin:0px;
	

}
header .top ul li a{
text-decoration:none;
	color:#460c00;
}
header .top ul li a i{
	padding-right:5%;
	display:inline-nblock;
	color:#ffc600;
	font-size:14px;
}
.modal.modal-wide .modal-dialog {
  width: 90%;
  position:relative;
  z-index:99999999999 !important;
}
.modal-wide .modal-body {
  overflow-y: auto;
  position:relative;
  z-index:99999999999 !important;
}

/* irrelevant styling */


#tallModal .modal-body p { margin-bottom: 900px }
header .top ul li:last-child{
	padding-right:0px;
}
#logo {
	display:inline-block;
}
.menu-section{
	display:inline-block;
	float:right;
	  margin: 44px 0 0 0;
}
.navbar-nav > li:last-child {
	border-radius:3px;
	border:1px solid #fff;
	padding:0px;
	margin-right:0px;
}
.navbar-collapse{
	padding-right:0px;
}
.nav > li > a:nth-child(6n+4) {
	margin-right:0px;
}
#slider {
	background:#006cff;
	width:100%;
	height:auto;
	position:relative;
}

.slider-art {
	
	background-position:top;
	width:443px;
	margin-top: -111px;
	right: 1%;
	position:absolute;
	
	display:block;
	background-repeat:no-repeat;
	
}
.search-title {
	background:rgba(0,0,0,0.4);
	z-index: 99999999 !important;
	position:relative;
	
	margin:0 auto;
	margin-top:13%;
	width:46%;
	z-index:9999999;
	
}
.content-top {
	position:relative;
}
.search-title h1 {
	color:#fff;text-transform:uppercase;
	padding: 0px 0px;
	margin:0px;
	font-size:34px;
	text-align:center;
}
#slider h2 {
	text-align:center;
	font-size:28px;
	color:#fff;
	text-shadow:0px 2px 0px #000;
	font-family: 'Calibri-Bold';
	z-index:999999 !important;
	position:relative;
	padding:2% 0 8px 0;
}
.search-box-outer {
	width:65%;
	margin:0 auto 50px auto;
	display:block;
	border-radius:4px;
	position:relative;
	z-index:99999;
	background:rgba(0,0,0,0.4);
	padding:10px;
}
.search-box-outer .search-icon{
	border-radius:4px;
	background:#fff;
	font-size:14px;
	border:none;
	font-family: 'Calibri-Bold';
	padding:10px 0 10px 30px;
	height:33px;
	color:#686868;
	display:inline-block;
	width:40%;
	background-image:url(../images/search.png);
	background-repeat:no-repeat;
	background-position:5% 50%;
	margin-right:1%;
}
.search-box-outer .location-icon{
	border-radius:4px;
	background:#fff;
	font-size:14px;
	border:none;
	font-family: 'Calibri-Bold';
	padding:10px 0 10px 30px;
	height:33px;
	color:#686868;
	display:inline-block;
	width:40%;
	background-image:url(../images/location.png);
	background-repeat:no-repeat;
	background-position:5% 50%;
	margin-right:1%;
}
.search-box-outer input[type=submit] {
  background: #ffffff;
  display: inline-block;
  width: 16.50%;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-transform:uppercase;
  text-align:center;
  padding:4px 0px 6px 0;
  color:#686868;
  
  font-family: 'Calibri-Bold';
  font-size:17px;
 
}
.round-wrap {
	width:1024px;
	margin:0 auto;
	display:block;
	  margin-top: 22px;
}
.circle-one {
	width:128px;
	display:inline-block;
	height:auto;
	margin:0px 0 0 -3px;
	padding:0px;
	position:relative;
	z-index:999999;
}
a.bg-circle {
	background: #787654; /* Old browsers */
background: -moz-linear-gradient(left, #787654 0%, #3671ac 51%, #286ebd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#787654), color-stop(51%,#3671ac), color-stop(100%,#286ebd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #787654 0%,#3671ac 51%,#286ebd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #787654 0%,#3671ac 51%,#286ebd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #787654 0%,#3671ac 51%,#286ebd 100%); /* IE10+ */
background: linear-gradient(to right, #787654 0%,#3671ac 51%,#286ebd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787654', endColorstr='#286ebd',GradientType=1 ); /* IE6-9 */
width:100%;
height:auto;
display:block;

padding:5px 0px 0px 0px;
}
.bg-circle2 {
	background:rgba(0,0,0,0.1) !important;
}
a.bg-circle > .bg-white{
	background:#fff;
	width:98px;
	height:98px;
	display:block;
	padding:3px;
	margin:10px auto 10px auto;
	border-radius:50%;
}
a.bg-circle > .bg-white img{
	border:3px solid #ebdd51;
	border-radius:50%;
}
a.bg-circle > .bg-blue {
	width:100%;
	background:#233c7f;
	padding:5px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	
	 font-family: 'Calibri-Bold';
}
a.bg-circle:hover {
	background: #895104 !important; /* Old browsers */
background: -moz-linear-gradient(left, #895104 1%, #834c05 52%, #4d220e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,#895104), color-stop(52%,#834c05), color-stop(100%,#4d220e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #895104 1%,#834c05 52%,#4d220e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #895104 1%,#834c05 52%,#4d220e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #895104 1%,#834c05 52%,#4d220e 100%); /* IE10+ */
background: linear-gradient(to right, #895104 1%,#834c05 52%,#4d220e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#895104', endColorstr='#4d220e',GradientType=1 ); /* IE6-9 */
}
a.bg-circle > .bg-blue:hover {
	background:#e9df26 !important;
	color:#460c00 !important;
}
a.bg-circle > .bg-white img:hover{
	border:5px solid #ebdd51;
}
section {
	background:#f7f7fc;
	padding:10px 0;
	position:relative;
}
.round-shape {
	background:url(../images/round-circle.png);
	background-repeat:no-repeat;
	position:absolute;
	margin-top:15%;
	width:681px;
	height:279px;
}
.center-part {
	width:75%;
	display:block;
	margin:0 auto;
	position:relative;
}
.center-part ul {
	list-style:none;
}
.center-part ul li{
	display:block;
	width:145px;
	height:145px;
	border-radius:50%;
	text-align:center;
	color:#43130b;
	font-family: 'Calibri-Bold';
	font-size:20px;
	
	text-transform:uppercase;
}
.center-part ul li:first-child{
	margin:-65px auto 0 auto;
}
.center-part ul li:last-child{
	margin:-145px auto 0 auto;
	float:right;
}
.center-part ul li .circle-img{
	list-style:none;
	color:#43130b;
	text-align:center;
	
	background:#fff;
	width:145px;
	height:145px;
	border-radius:50%;
	border:2px solid #fbc212;
	display:block;
	padding:20px;
	margin:0 auto 20px auto;
	box-shadow:0px 0px 3px 4px #cfcfd3;

}
.phone-hand {
	margin:34% auto 0 34%;
	position:absolute;
}
section h1 {
	text-align:center;
	font-size:54px;
	color:#55280f;
	text-transform:uppercase;
	position:relative;
	padding-top:58%;
}
.bg_story {
	background:url(../images/bg_story.jpg);
	background-size:cover;
	width:100%;
	position:relative;
	padding:15px 0px;
	height:100%;
}
.bg_story h1{
	text-align:center;
	color:#fff;
	font-size:60px;
	padding-top:3%;
	padding-bottom:3%;
	text-transform:uppercase;
}
.bg_story .border-circle{
	border:2px solid #fff;
	width:90px;
	height:90px;
	margin:0 auto;
	display:block;
	border-radius:50%;
	margin-bottom:12%;
}
.bg_story .border-circle img{
	margin:30% auto;
	display:block;
}
.bottomg-bg {
	width:100%;
	background:url(../images/bottom_bg.jpg);
	background-repeat:repeat-x;
	padding:25px 0;
}
.bottomg-bg h1{
	text-align:center;
	font-size:24px;
	padding:0 0 20px 0px;
	
	font-family: 'Calibri-Bold';
	color:#fff;
}
footer{
	background:url(../images/footer.jpg);
	width:100%;
	background-repeat:repeat;
	padding:25px 0px 0 0;
	margin:25px 0 0 0;
}
footer h1 {
	font-size:30px;
	color:#d0d0d0;
	padding:3% 0 18% 0;
	text-align:left;
	margin:0px;
}
footer p {
	font-size:15px;
	color:#d0d0d0;
	padding:0% 0 10% 0;
	text-align:left;
}
footer input[type="text"]{
	font-size:17px;
	color:#b6b6b6;
	padding:5px 24px;
	display:inline-block;
	border:none;
	background: rgba(55,52,45,0.6); /* Old browsers */
background: -moz-linear-gradient(left, #37342d 1%, #3d3a34 51%, #4c4a43 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,#37342d), color-stop(51%,#3d3a34), color-stop(100%,#4c4a43)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #37342d 1%,#3d3a34 51%,#4c4a43 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #37342d 1%,#3d3a34 51%,#4c4a43 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #37342d 1%,#3d3a34 51%,#4c4a43 100%); /* IE10+ */
background: linear-gradient(to right, #37342d 1%,#3d3a34 51%,#4c4a43 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37342d', endColorstr='#4c4a43',GradientType=1 ); /* IE6-9 */
}
footer input[type="submit"]{
	display:inline-block;
	padding:7px 24px;
	vertical-align: bottom;
	color:#fff;
	font-size:14px;
	font-weight:300;
	margin-left:-3px;
	text-align:center;
	text-transform:uppercase;
	border:none;
	background: #a5a4a1; /* Old browsers */
background: -moz-linear-gradient(top, #a5a4a1 1%, #827e7b 51%, #585653 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a5a4a1), color-stop(51%,#827e7b), color-stop(100%,#585653)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a5a4a1 1%,#827e7b 51%,#585653 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a5a4a1 1%,#827e7b 51%,#585653 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a5a4a1 1%,#827e7b 51%,#585653 100%); /* IE10+ */
background: linear-gradient(to bottom, #a5a4a1 1%,#827e7b 51%,#585653 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a4a1', endColorstr='#585653',GradientType=0 ); /* IE6-9 */
}
ul.contact  {
	list-style:none;
}
ul.contact li{
	list-style:none;
	font-size:14px;
	color:#fff;
	display:block;
	padding-bottom:5px;
}
ul.contact li a{
	color:#fff;
}
ul.contact  li i{
	padding-right:2%;
}

ul.social  {
	list-style:none;
	
}
ul.social li{
	list-style:none;
	font-size:18px;
	color:#fff;
	padding:15px 11px ;
	display:inline-block;
	padding-bottom:5px;
}
ul.social li a{
	color:#fff;
}
ul.social li a:hover{
	color:#ffd200;
}
ul.social  li i{
	padding-right:2%;
}
 .bottom{
	background:rgba(19,14,5,0.9);
	width:100%;
	margin:25px 0 0 0;
	padding:5px 0 0 0 ;
	color:#bfbfbf;
	text-align:center;
	font-size:13px;
}
.bottom ul {
	list-style:none;
	float:right;
	  margin-top: 7%;

}
.bottom ul li {
	border-right:1px solid #fff;
	font-size:14px;
	padding:0 10px 0 10px;
	margin:0px;
	display:inline-block;
	text-transform:uppercase;
}
.bottom ul li a{
	color:#bfbfbf;
	text-decoration:none;
}
.bottom ul li a:hover{
	color:#fbc211;
}
.bottom ul li:last-child {
	border:none;
}
.tab-chart{
	width:auto;
	height:auto;
	clear:both;
	width:75%;
	margin:0 auto;
	display:block;
	z-index:9999999;
	margin-top:2%;
	position:relative;
}
.tab-content{
	width: 60%;
  display: inline-block;
  vertical-align:top;
}
.nav-tabs {
  /* border-bottom: 1px solid #dddddd; */
  width: 36%;
  display: inline-block;
}
.nav > li {
	margin-bottom:20px;
	border:none;
	cursor:pointer;
}
.nav > li > a .circle-shape{
	display:inline-block;
	width:90px;
	height:90px;
	background:#fff;
	vertical-align: -webkit-baseline-middle;
	margin-right:10%;
	box-shadow: 0px 0px 4px 2px #cfcfd3;
	cursor:pointer;
	border-radius:50%;
	margin-bottom:17px;
	border:2px solid #cacacf;
}
.nav > li > a .circle-shape .active{
	border:2px solid #000;
}
.nav > li > a > .circle-shape img{
	
  padding: 10px 10px;
  max-width:100%;
  display: block;
  margin: 0 auto;
 
  width:72px;
  height:85px;
}
.nav > li > a > h1 {
	color:#42130b;
	display:inline-block;
	font-size:14px;
	  vertical-align: baseline;
  padding: 0px;
  margin: 0px;
	
}
.nav-tabs > li > a  .active > a, .nav-tabs > li > a  .active > a:hover, .nav-tabs > li > a .active > a:focus {
  color: #42130b;
  background-color: #ffffff;
  border: 2px solid #fbc212;
  border-radius:50%;
  cursor: pointer;
  width:100px;
	height:100px;
	margin:0px;
	padding:0px;
}


.nav > li > a > img.active > a, .nav > li > a img:focus{
	opacity:0.9;
}
.iphone{
	display:inline-block;
	vertical-align:top;
	float:right;
	margin-top:3%;
	
}
.border-bottom{
	border:1px solid #c8c8c8;
	width:100%;
}
.modal.modal-wide .modal-dialog {
  width: 90%;
 
  position:relative;
  z-index:99999999999 !important;
}
.modal-wide .modal-body {
  overflow-y: auto;
  position:relative;
  z-index:99999999999 !important;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999999999;
}

/* irrelevant styling */


#tallModal .modal-body p { margin-bottom: 600px }	
