@media screen and (max-width:1024px) {
.round-wrap{
	width:100%;
}
.circle-one {
  width: 126px;
}
}

@media screen and (max-width:768px) {
.menu-section{
	width:100%;
	float:none;
}
.search-title{
	width:100%;
}
.circle-one {
  width: 150px;
}
.center-part {
  width: 95%;
}
section h1 {
	padding-top:77%;
}
.tab-chart {
	width:100%;
}
footer input[type="text"] {
  font-size: 17px;
  color: #b6b6b6;
  padding: 5px 11px;
}
}

@media screen and (max-width:767px) {
	.search-box-outer {
  width: 90%;
	}
	.circle-one {
  width: 156px;
}
.round-shape{
	background:none;
}

.center-part ul li:first-child,.center-part ul li:last-child{
	margin:0px;
	float:none;
	padding-bottom:75px;
}
.round-shape ul {
	width:50%;
	margin:15px auto;
	display:block;

	
}
.round-shape ul li {
	margin-bottom:75px;
}
.phone-hand {
	display:none;
}
section h1 {
  padding-top: 110%;
}
.bottomg-bg {
	background:#fbc211;
}
footer h1,footer p,ul.contact li {
	text-align:center;
}
footer input[type="text"] {
	margin-left:25%;
}
footer h1 {
	padding-bottom:2%;
}
}
@media screen and (max-width:480px) {
.search-box-outer {
  width: 100%;
}
.search-box-outer .location-icon {
	width:38%;
}
.circle-one {
  width: 154px;
}
section h1 {
  padding-top: 147%;
}
.round-shape{
	width:100%;
}

}
@media screen and (min-width:320px) and (max-width:470px){
.bg_story h1{
	font-size:24px;
}
.search-title h1,section h1 {
	font-size:20px;
}
#slider h2 {
	font-size:16px;
}
.circle-one {
  width: 150px;
}
section h1 {
	padding-top:220%;
}
.nav-tabs {
	width:100%;
}
.tab-content {
	width:100%;
}
.iphone {
	float:none;
	margin:0 auto;
	width:50%;
	display:block;
}
footer input[type="text"] {
	margin-left:0%;
	padding-left:7px;
}
}