@font-face {
    font-family: 'RobotoCondensed';
    src: url('roboto-condensed-webfont.eot');
    src: url('roboto-condensed-webfont.eot') format('embedded-opentype'),
         url('roboto-condensed-webfont.woff') format('woff'),
         url('roboto-condensed-webfont.ttf') format('truetype'),
         url('roboto-condensed-webfont.svg#RobotoCondensed') format('svg');
}
